<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{% block keywords %}药优优,中药材,药材,饮片厂采购,药厂采购,中药材交易,中药材采购,中药材销售 {% end %}"  />
    <meta name="description" content="{% block description %}药优优（www.yaobest.com），药材采购的专业助手。饮片厂、药厂、经营户发布采购，轻松找货，对接全国药商。药商查看饮片厂、药厂实时采购单，随时报价。{% end %}" />
    <title>{% block title %}药优优{% end %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ static_url('images/favicon.ico')}}" media="screen" />
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/app.css') }}">
</head>