<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <title>初心-药材购</title>
    <!-- 浏览器高速模式 -->
    <meta name="renderer" content="webkit" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ static_url('images/favicon.ico')}}" media="screen" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ static_url('css/style.css')}}" />
    <link rel="stylesheet" href="{{ static_url('css/help.css')}}" />
    <!--[if lt IE 9]>
      <script src="{{ static_url('js/html5shiv.min.js')}}"></script>
      <script src="{{ static_url('js/respond.min.js')}}"></script>
    <![endif]-->
</head>

<body>
<header>
    <div class="container">
        <div class="logo">
            <a href="/"><img src="static/images/logo.png" /></a>
        </div>

        <nav class="nav">
            <ul class="yc-ul">
                <li><a href="/">首页</a></li>
                <li><a href="/aboutus">初心</a></li>
                <!--<li><a href="#">合作伙伴</a></li>
                <li><a href="#">提建议</a></li>-->
                <li><a href="/contact">业务联系</a></li>
            </ul>
        </nav>
    </div>
</header>
<section class="sec">
    <div class="container">
        <div class="item">
            <div class="hd">
                <h2>初心</h2>
            </div>
            <div class="bd">
                <div class="col">
                    <h3>即刻采购·供货无忧</h3>
                    <p>这是我们创立 药材购 的最初愿望，致力于改善中药材采购与交易的效率与环境。帮助采购商对接更多优质货源，质量更有保障、价格更有优势，对接更加轻松简单。同时，帮助供应商对接更多采购订单，扩大销路，洽谈成功后可安心供货。</p>
                    <p>不忘初心，方得始终，我们将不止的探索！</p>
                    <div class="pic"><img width="330" height="210" src="static/images/56ca94c4c5725.jpg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="hd">
                <h2>价值主张</h2>
            </div>
            <div class="bd">
                <div class="col1">
                    <h3>诚信交易</h3>
                    <p>诚信交易，是 药材购 的核心价值观。药材购 倡导采购商精准描述采购需求及质量要求，并按照约定客观验收、及时付款；同时倡导供应商如实描述货源质量，诚意报价，按照采购商要求交付药材。</p>
                    <p>让诚信更有价值，药材购愿与行业一同不断探索和践行。</p>
                </div>
                <div class="col2">
                    <h3>技术创新</h3>
                    <p>坚持技术改变世界。我们致力于最大程度发挥互联网技术的价值，提供极简的产品体验，我们追求互联网与传统产业结合所释放的巨大能量。</p>
                    <p>我们坚信，追求杰出的人在一起快乐共事，一定会有无限潜能。药材购研发团队秉承精英策略和Open的工程师文化，竭诚期盼有一线互联网公司背景的精英加盟，简历请发：hr@yaocai.pro</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="hd">
                <h2>里程碑</h2>
            </div>
            <div class="bd">
                <ul class="timeline">
                    <li>
                        <strong>吹响药材购集结号，几位2B青年立志探索中药材踏实的、认真的+互联网</strong>
                        <time>2016-03-31</time>
                        <i></i>
                    </li>
                    <li>
                        <strong>药材购beta版上线，深度服务于某知名饮片厂</strong>
                        <time>2016-04-10</time>
                        <i></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

</body>

</html>
