{% extends "base.html" %}
{% block container %}
{% import config %}
<link rel="stylesheet" href="{{ static_url('css/index.css')}}" />
<section class="sec">
    <div class="full-banner">
        <div class="bd">
            <ul class="yc-ul">
                <li style="background-image:url({{ static_url('images/banner-01.jpg')}})">
                    <a class="link" target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzI0NzI2MTUxNg==&mid=100000013&idx=1&sn=273a9cd90d0397111997ba849b1ebfda#rd"></a>
                </li>
                <li style="background-image:url({{ static_url('images/banner-02.jpg')}})"></li>
                <li style="background-image:url({{ static_url('images/banner-03.jpg')}})">
                    <a class="link" target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzI0NzI2MTUxNg==&mid=2247483675&idx=1&sn=f3d19decbaa9ad57c1bbe6b62c6ebeb6&scene=0#wechat_redirect"></a>
                </li>
                <li style="background-image:url({{ static_url('images/banner-04.jpg')}})">
                    <a class="link" target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzI0NzI2MTUxNg==&mid=2247483675&idx=2&sn=9fe143d5bc7876f934a45ca8cf7d7253&scene=0#wechat_redirect"></a>
                </li>
            </ul>
        </div>
        <div class="ctrl prev"></div>
        <div class="ctrl next"></div>
    </div>

    <div class="container">
        <div class="floor floor1">
            <div class="main">
                <div class="hd">
                    <h2 class="pull-left">即刻采购</h2>
                    <p class="tag1">采购助理全程协助</p>
                    <p class="tag2">品种专家协助评估价格及质量</p>
                    <p class="tag3">海量优质供货商</p>
                </div>
                <div class="bd">
                    <ol class="yc-ul">
                        <li>
                            <i class="icon1"></i>
                            <strong>发采购</strong>
                            <span>01</span>
                            <span class="txt">发采购</span>
                            <p>在药优优发布采购需求，包括品种、质量要求、交收要求等，深刻理解您的要求</p>
                        </li>
                        <li>
                            <i class="icon2"></i>
                            <strong>供货商报价</strong>
                            <span>02</span>
                            <span class="txt">供货商报价</span>
                            <p>精准分析您的采购需求，推送给全国合适的供货商，邀请给您极速报价</p>
                        </li>
                        <li>
                            <i class="icon3"></i>
                            <strong>安心交易</strong>
                            <span>03</span>
                            <span class="txt">安心交易</span>
                            <p>药优优全程协助您洽谈、评估、签约、验收、付款等，助您安心交易</p>
                        </li>
                    </ol>
                    <div class="button">
                        <a class="btn btn-orange" href="/purchase">去采购</a>
                    </div>
                </div>
            </div>
            <div class="side">
                <div class="hd">
                    <h2>供货无忧</h2>
                </div>
                <div class="bd">
                    <ul class="yc-ul">
                        <li class="li1"><i class="icon1"></i>我是供应商</li>
                        <li class="li2"><i class="icon2"></i>我有优质货源</li>
                        <li class="li3"><i class="icon3"></i>随时随地查看采购单</li>
                        <li class="li4"><i class="icon4"></i>随时随地报价</li>
                    </ul>
                    <div class="button">
                        <a class="btn btn-white" href="/quote">去报价</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="floor">
            <div class="hd">
                <h2>采购直播·最新采购单</h2>
            </div>
            <div class="list1">
                <div class="tr thead">
                    <div class="td1">采购单位</div>
                    <div class="td2">
                        <div class="group">
                            <div class="td2-1">品种</div>
                            <div class="td2-2">规格等级</div>
                            <div class="td2-3">产地要求</div>
                            <div class="td2-4">数量</div>
                            <div class="td2-5">质量要求</div>
                        </div>
                    </div>
                    <div class="td3"></div>
                </div>
                {% for purchase in purchases%}
                <div class="tr">
                    <div class="td1">
                        <h3>{{purchase.name}}</h3>
                        <div class="attr">
                            <span class="category">
                                {% if purchase.type == 1%}
                                饮片厂
                                {% elif purchase.type == 2%}
                                药厂
                                {% elif purchase.type == 3%}
                                药材经营公司
                                {% elif purchase.type == 4%}
                                个体经营户
                                {% elif purchase.type == 5%}
                                合作社
                                {% elif purchase.type == 6%}
                                种植基地
                                {% elif purchase.type == 7%}
                                其他
                                {% elif purchase.type == 8%}
                                个人经营
                                {% elif purchase.type == 9%}
                                采购经理
                                {% elif purchase.type == 10%}
                                销售经理
                                {% end %}
                            </span>
                            <!--<span class="verify"><i class="iconfont icon-radio-yes"></i> 身份真实</span>-->
                            <time data-time="{{purchase.createtime}}">3 分钟前</time>
                        </div>
                    </div>
                    <div class="td2">
                        {% if purchase.purchaseinfo %}
                        {% for i,purchaseinfo in enumerate(purchase.purchaseinfo) %}
                        {% if i > 3 %}
                        {% break %}
                        {% end %}
                        <div class="group">
                            <div class="td2-1">{{purchaseinfo.name}}</div>
                            <div class="td2-2">{{purchaseinfo.specification}}</div>
                            <div class="td2-3">{{purchaseinfo.origin}}</div>
                            <div class="td2-4">{{purchaseinfo.quantity}}{{purchaseinfo.unit}}</div>
                            <div class="td2-5">{{purchaseinfo.quality}}</div>
                        </div>
                        {% end %}
                        {% end %}
                        <div class="tfoot">共采购{{purchase.variety}}个品种</div>
                    </div>
                    <div class="td3">
                        <div class="qrcode" data-url="{{config.host}}/purchaseinfobatch/purchaseid/{{purchase.id}}">
                            <div class="canvas">
                                <img src="{{ static_url('images/blank.gif')}}" />
                            </div>
                        </div>
                        <div class="detail">
                            微信扫一扫<br>查看详情<br>立即报价
                        </div>
                    </div>
                </div>
                {% end %}

            </div>
        </div>

        <div class="floor">
            <div class="hd">
                <h2>采购直播·最新供货商报价</h2>
            </div>
            <div class="list2">
                <div class="tr thead">
                    <div class="td1">采购品种</div>
                    <div class="td2">采购单位</div>
                    <div class="td3">供应商</div>
                    <div class="td4">货源质量</div>
                    <div class="td5">报价</div>
                </div>
                {% for quote in quotes%}
                <div class="tr">
                    <div class="td1">
                        <strong>{{quote.name}}</strong>
                        <span>{{quote.specification}}</span>
                        <time data-time="{{quote.createtime}}"></time>
                    </div>
                    <div class="td2">
                        <span class="name">{{quote.pname}}</span>
                        <!--<p class="verify"><i class="iconfont icon-radio-yes"></i> 身份真实</p>-->
                    </div>
                    <div class="td3">
                        <span class="name">***</span>
                        <!--<p class="verify"><i class="iconfont icon-radio-yes"></i> 身份真实</p>-->
                    </div>
                    <div class="td4">
                        <div class="thumb">
                            {% for attachment in quote.attachments%}
                            <img src="{{attachment}}" data-src="{{attachment.replace('_thumb','')}}" alt=""/>
                            {% end %}
                        </div>
                        <div class="desc">
                            {{quote.quality}}
                        </div>
                    </div>
                    <div class="td5">
                        <em>***</em>元/{% if quote.unit == u'吨' %}公斤{% else %}{{quote.unit}}{% end %}
                        <small>裸价</small>
                        <div class="qrcode" data-url="{{config.host}}/purchase/purchaseinfo/{{quote.pid}}">
                            <span>我也去报价</span>
                            <div class="canvas">
                                <img src="{{ static_url('images/blank.gif')}}" />
                            </div>
                        </div>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>

    <div class="total">
        <div class="container">
            <div class="hd">
                <h2>已有{% for i in str(pvariety)%}<i>{{i}}</i>{% end %}批次的采购，收到{% for i in str(qcount)%}<i>{{i}}</i>{% end %}个报价</h2>
                <p>药优优希望通过提供有效的信息、数据和工具，帮助药材采购商提高效率，找到更多货源，质量更好，价格更优，对接更轻松。同时，供应商可以直接对接更多采购订单，打开销路。</p>
                <div class="button">
                    <a class="btn btn-orange" href="/purchase">我是采购商，即刻采购</a>
                    <a class="btn btn-gray" href="/quote">我是供应商，立即报价</a>
                </div>
            </div>
        </div>
    </div>

    <div class="coop">
        <h2>最新入驻知名采购商</h2>
        <div class="brands">
            <div class="bd">
                <ul class="yc-ul">
                    <li><a href="http://www.huqiaogroup.com" target="_blank"><img src="{{ static_url('images/brand_1.png')}}" alt=""></a></li>
                    <li><a href="http://www.bzyonggang.com" target="_blank"><img src="{{ static_url('images/brand_2.png')}}" alt=""></a></li>
                    <li><a href="http://hnswzxys.cn.china.cn" target="_blank"><img src="{{ static_url('images/brand_3.png')}}" alt=""></a></li>
                    <li><a href="http://www.yaobest.com" target="_blank"><img src="{{ static_url('images/brand_4.png')}}" alt=""></a></li>
                </ul>
            </div>

            <div class="ctrl next"></div>
            <div class="ctrl prev"></div>
        </div>

    </div>
</section>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/jquery.SuperSlide.2.1.1.js')}}"></script>
<script src="{{ static_url('js/jquery.qrcode.min.js')}}"></script>
<script src="{{ static_url('js/lightbox.js')}}"></script>
<script>
$(function(){
    // 全屏幻灯片
    $('.full-banner').slide({
        mainCell: '.bd ul',
        effect: 'leftLoop',
        autoPlay: true,
        autoPage: true,
        vis: 1,
        easing: 'easeInQuint',
        interTime: 5000,
        trigger: 'click'
    });

    // 最新入驻知名采购商
    $('.brands').slide({
        mainCell: '.bd ul',
        effect: 'left',
        autoPlay: true,
        autoPage: true,
        vis: 4,
        easing: 'easeInOutExpo',
        trigger: 'click'
    });

    // 生成二维码
    var createQrcode = function() {
        var canvasSupport = !!document.createElement('canvas').getContext;        
        if (canvasSupport) {
            $('.qrcode').each(function() {
                var url = $(this).data('url');
                $(this).find('.canvas').html('').qrcode({
                    width: 124,
                    height: 124,
                    text: url
                })
            })
        } else {
            $('.qrcode').each(function() {
                var url = $(this).data('url');
                $(this).find('.canvas img').attr({
                    'src': 'http://qr.liantu.com/api.php?text=' + url,
                    'width': 124,
                    'height': 124
                });
            })
        }
    }()
    
    /**
     * [dateDiff 算时间差]
     * @param  {[type=Number]} hisTime [历史时间戳，必传]
     * @param  {[type=Number]} nowTime [当前时间戳，不传将获取当前时间戳]
     * @return {[string]}         [string]
     */
     function dateDiff(hisTime, nowTime) {
        if (!hisTime) {
            return '';
        }
        var now = nowTime || (new Date).getTime() /1e3 ;
        var seconds = parseInt(now, 10) - parseInt(hisTime, 10);
        var str = '';
        var minute = 60
            hour = minute * 60,
            day = hour * 24,
            week = day * 7,
            month = day * 30,
            year = month * 12;

        if (seconds < minute) {
            str = '刚刚';

        } else  if (seconds < hour){
            str = Math.round(seconds/minute) + '分钟前';

        } else  if (seconds < day){
            str = Math.round(seconds / hour) + '小时前';

        } else  if (seconds < week){
            str = Math.round(seconds / day) + '天前';

        } else  if (seconds < month){
            str = Math.round(seconds / week) + '周前';

        } else  if (seconds < year){
            str = Math.round(seconds / month) + '月前';

        } else {
            str = Math.round(seconds / year) + '年前';
        }
        return str;
        
    }
    $('time[data-time]').each(function(){
        $(this).html(dateDiff($(this).data('time')));
    })

})

</script>
{% end %}