{% extends "base.html" %}
{% block container %}
{% import config %}
<link rel="stylesheet" href="{{ static_url('css/index.css')}}" />
<section class="sec">
    <div class="full-banner">
        <div class="bd">
            <ul class="yc-ul">
                <li style="background-image:url({{ static_url('images/banner1.jpg')}})"></li>
                <li style="background-image:url({{ static_url('images/banner2.jpg')}})"></li>
            </ul>
        </div>
        <div class="ctrl prev"></div>
        <div class="ctrl next"></div>
    </div>

    <div class="container">
        <div class="floor floor1">
            <div class="main">
                <div class="hd">
                    <h2 class="pull-left">即刻采购</h2>
                    <p class="tag1">采购助理全程协助</p>
                    <p class="tag2">品种专家协助评估价格及质量</p>
                    <p class="tag3">海量优质供货商</p>
                </div>
                <div class="bd">
                    <ol class="yc-ul">
                        <li>
                            <i class="icon1"></i>
                            <strong>发采购</strong>
                            <span>01</span>
                            <span class="txt">发采购</span>
                            <p>在药材购发布采购需求，包括品种、质量要求、交收要求等，深刻理解您的要求</p>
                        </li>
                        <li>
                            <i class="icon2"></i>
                            <strong>供货商报价</strong>
                            <span>02</span>
                            <span class="txt">供货商报价</span>
                            <p>精准分析您的采购需求，推送给全国合适的供货商，邀请给您极速报价</p>
                        </li>
                        <li>
                            <i class="icon3"></i>
                            <strong>安心交易</strong>
                            <span>03</span>
                            <span class="txt">安心交易</span>
                            <p>药材购全程协助您洽谈、评估、签约、验收、付款等，助您安心交易</p>
                        </li>
                    </ol>
                    <div class="button">
                        <a class="btn btn-orange" href="/purchase">去采购</a>
                    </div>
                </div>
            </div>
            <div class="side">
                <div class="hd">
                    <h2>供货无忧</h2>
                </div>
                <div class="bd">
                    <ul class="yc-ul">
                        <li class="li1"><i class="icon1"></i>我是供应商</li>
                        <li class="li2"><i class="icon2"></i>我有优质货源</li>
                        <li class="li3"><i class="icon3"></i>随时随地查看采购单</li>
                        <li class="li4"><i class="icon4"></i>随时随地报价</li>
                    </ul>
                    <div class="button">
                        <a class="btn btn-white" href="/quote">去报价</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="floor">
            <div class="hd">
                <h2>采购直播·最新采购单</h2>
            </div>
            <div class="list1">
                <div class="tr thead">
                    <div class="td1">采购单位</div>
                    <div class="td2">
                        <div class="group">
                            <div class="td2-1">品种</div>
                            <div class="td2-2">规格等级</div>
                            <div class="td2-3">产地要求</div>
                            <div class="td2-4">数量</div>
                            <div class="td2-5">质量要求</div>
                        </div>
                    </div>
                    <div class="td3"></div>
                </div>
                {% for purchase in purchases%}
                <div class="tr">
                    <div class="td1">
                        <h3>{{purchase.name}}</h3>
                        <div class="attr">
                            <span class="category">
                                {% if purchase.type == 1%}
                                饮片厂
                                {% elif purchase.type == 2%}
                                药厂
                                {% elif purchase.type == 3%}
                                药材经营公司
                                {% elif purchase.type == 4%}
                                个体经营户
                                {% elif purchase.type == 5%}
                                合作社
                                {% elif purchase.type == 6%}
                                种植基地
                                {% elif purchase.type == 7%}
                                其他
                                {% elif purchase.type == 8%}
                                个人经营
                                {% elif purchase.type == 9%}
                                采购经理
                                {% elif purchase.type == 10%}
                                销售经理
                                {% end %}
                            </span>
                            <!--<span class="verify"><i class="iconfont icon-radio-yes"></i> 身份真实</span>-->
                            <time time="{{purchase.createtime}}">3 分钟前</time>
                        </div>
                    </div>
                    <div class="td2">
                        {% for i,purchaseinfo in enumerate(purchase.purchaseinfo) %}
                        {% if i > 3 %}
                        {% break %}
                        {% end %}
                        <div class="group">
                            <div class="td2-1">{{purchaseinfo.name}}</div>
                            <div class="td2-2">{{purchaseinfo.specification}}</div>
                            <div class="td2-3">{{purchaseinfo.origin}}</div>
                            <div class="td2-4">{{purchaseinfo.quantity}}{{purchaseinfo.unit}}</div>
                            <div class="td2-5">{{purchaseinfo.quality}}</div>
                        </div>
                        {% end %}
                        <div class="tfoot">共采购{{purchase.variety}}个品种</div>
                    </div>
                    <div class="td3">
                        <div class="qrcode">
                            <span><img src="http://qr.liantu.com/api.php?text={{config.host}}/purchaseinfobatch/purchaseid/{{purchase.id}}"/></span>
                        </div>
                        <div class="detail">
                            微信扫一扫<br>查看详情<br>立即报价
                        </div>
                    </div>
                </div>
                {% end %}

            </div>
        </div>

        <div class="floor">
            <div class="hd">
                <h2>采购直播·最新供货商报价</h2>
            </div>
            <div class="list2">
                <div class="tr thead">
                    <div class="td1">采购品种</div>
                    <div class="td2">采购单位</div>
                    <div class="td3">供应商</div>
                    <div class="td4">货源质量</div>
                    <div class="td5">报价</div>
                </div>
                {% for quote in quotes%}
                <div class="tr">
                    <div class="td1">
                        <strong>{{quote.name}}</strong>
                        <span>{{quote.specification}}</span>
                        <time time="{{quote.createtime}}"></time>
                    </div>
                    <div class="td2">
                        <h3>{{quote.pname}}</h3>
                        <!--<p class="verify"><i class="iconfont icon-radio-yes"></i> 身份真实</p>-->
                    </div>
                    <div class="td3">
                        <h3>***</h3>
                        <!--<p class="verify"><i class="iconfont icon-radio-yes"></i> 身份真实</p>-->
                    </div>
                    <div class="td4">
                        <div class="thumb">
                            {% for attachment in quote.attachments%}
                            <img data-src="{{attachment.replace('_thumb','')}}" src="{{attachment}}" alt="">
                            {% end %}
                        </div>
                        <div class="desc">
                            {{quote.quality}}
                        </div>
                    </div>
                    <div class="td5">
                        <em>***</em>元/{% if quote.unit == u'吨' %}公斤{% else %}{{quote.unit}}{% end %}
                        <small>裸价</small>
                        <div class="qrcode">
                            我也去报价
                            <span><img src="http://qr.liantu.com/api.php?text={{config.host}}/purchase/purchaseinfo/{{quote.pid}}"/></span>
                        </div>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>

    <div class="total">
        <div class="container">
            <div class="hd">
                <h2>已有{% for i in str(pvariety)%}<i>{{i}}</i>{% end %}批次的采购，收到{% for i in str(qcount)%}<i>{{i}}</i>{% end %}个报价</h2>
                <p>药材购希望通过提供有效的信息、数据和工具，帮助药材采购商提高效率，找到更多货源，质量更好，价格更优，对接更轻松。同时，供应商可以直接对接更多采购订单，打开销路。</p>
                <div class="button">
                    <a class="btn btn-orange" href="/purchase">我是采购商，即刻采购</a>
                    <a class="btn btn-gray" href="/quote">我是供应商，立即报价</a>
                </div>
            </div>
        </div>
    </div>

    <div class="coop">
        <h2>最新入驻知名采购商</h2>
        <div class="brands">
            <div class="bd">
                <ul class="yc-ul">
                    <li><a href="http://www.huqiaogroup.com" target="_blank"><img src="{{ static_url('images/brand_1.png')}}" alt=""></a></li>
                    <li><a href="http://www.bzyonggang.com" target="_blank"><img src="{{ static_url('images/brand_2.png')}}" alt=""></a></li>
                    <li><a href="http://hnswzxys.cn.china.cn" target="_blank"><img src="{{ static_url('images/brand_3.png')}}" alt=""></a></li>
                    <li><a href="http://www.yaocai.pro" target="_blank"><img src="{{ static_url('images/brand_4.png')}}" alt=""></a></li>
                </ul>
            </div>

            <div class="ctrl next"></div>
            <div class="ctrl prev"></div>
        </div>

    </div>
</section>
<!-- 大图 -->
<div class="modal fade" id="jModalImg" tabindex="-1" role="dialog" aria-labelledby="tit1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit1">图片</h4>
            </div>
            <div class="modal-body">
                <div class="preview">
                    <div class="bd">
                        <ul class="yc-ul"></ul>
                    </div>
                    <div class="ctrl prev"></div>
                    <div class="ctrl next"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/jquery.SuperSlide.2.1.1.js')}}"></script>
<script>
$(function(){
    $('.full-banner').slide({
        mainCell: '.bd ul',
        effect: 'leftLoop',
        autoPlay: true,
        autoPage: true,
        vis: 1,
        easing: 'easeInQuint',
        interTime: 5000,
        trigger: 'click'
    });

    $('.brands').slide({
        mainCell: '.bd ul',
        effect: 'left',
        autoPlay: true,
        autoPage: true,
        vis: 4,
        easing: 'easeInOutExpo',
        trigger: 'click'
    });

    function showBigPic(imgUrls, index) {
        var _result = '<div class="preview"><div class="bd"><ul class="yc-ul">';
        $.each(imgUrls, function(i, src) {
            _result += '<li><img src="' + src + '"></li>';
        });
        _result += '</ul></div><div class="ctrl prev"></div><div class="ctrl next"></div>'
        $('#jModalImg .modal-body').html(_result);

        $('.preview').slide({
            mainCell: '.bd ul',
            effect: 'leftLoop',
            autoPage: true,
            vis: 1,
            defaultIndex: index,
            trigger: 'click'
        });
    }
    $('body').on('click', '.thumb img', function() {
        var index = $(this).index();
        var imgUrls = [];
        $(this).parent().find('img').each(function() {
            imgUrls.push($(this).data('src'));
        });
        $('#jModalImg').modal();
        showBigPic(imgUrls, index);
        return false;
    });
    
    /**
     * [dateDiff 算时间差]
     * @param  {[type=Number]} hisTime [历史时间戳，必传]
     * @param  {[type=Number]} nowTime [当前时间戳，不传将获取当前时间戳]
     * @return {[string]}         [string]
     */
    var dateDiff = function(){
        if(!arguments.length) return '';
        var arg = arguments,
            now =arg[1]?arg[1]:new Date().getTime(),
            diffValue = now - arg[0],
            result='',

            minute = 1000 * 60,
            hour = minute * 60,
            day = hour * 24,
            halfamonth = day * 15,
            month = day * 30,
            year = month * 12,

            _year = diffValue/year,
            _month =diffValue/month,
            _week =diffValue/(7*day),
            _day =diffValue/day,
            _hour =diffValue/hour,
            _min =diffValue/minute;

            if(_year>=1) result=parseInt(_year) + "年前";
            else if(_month>=1) result=parseInt(_month) + "个月前";
            else if(_week>=1) result=parseInt(_week) + "周前";
            else if(_day>=1) result=parseInt(_day) +"天前";
            else if(_hour>=1) result=parseInt(_hour) +"个小时前";
            else if(_min>=1) result=parseInt(_min) +"分钟前";
            else result="刚刚";
            return result;
    }
    window.dateDiff = dateDiff

    $("time").each(function(){
        $(this).html(dateDiff($(this).attr("time")+"000"));
    })

})

</script>
{% end %}