{% extends "base.html" %}
{% block container %}
<link rel="stylesheet" href="{{ static_url('css/login.css')}}" />
<section class="sec">
    <div class="wrap">
        <div class="banner">
            <img src="{{ static_url('images/56ca946e67751.jpg')}}" alt="">
        </div>
        <div class="log-box">
            <h1><i class="iconfont icon-arrow"></i>登录</h1>
            <div class="form">
            <form action="/login" method="post" id="jLoginForm">
				{% raw xsrf_form_html() %}<input name="next_url" type="hidden" value="{{ next_url }}"/>
                <div class="msg" id="jMsg">{% if 'error' in globals() %}{{error}}{% end %}</div>
                <div class="group">
                    <i class="iconfont icon-user"></i><input type="text" placeholder="会员名/手机号" value="" name="username" class="ipt" autocomplete="off">
                </div>

                <div class="group">
                    <i class="iconfont icon-lock"></i><input class="ipt" name="password" value="" placeholder="密码" type="password">
                </div>
                <div class="tr">
                    <a href="#">忘记密码</a>
                </div>

                <div class="button">
                    <button class="btn btn-orange" type="submit" id="jSubmit" class="submit">立即登录</button>
                    <a class="btn btn-gray" href="/register">免费注册</a>
                </div>

                <div class="coagent">
                    <a href="#"><i class="iconfont icon-wechat"></i>微信</a>
                    <a href="#"><i class="iconfont icon-qq"></i>QQ</a>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>
{% end %}
{% block javascript %}
<script src="{{ static_url('js/jquery.validate.min.js')}}"></script>
<script>
// 登录验证
$('#jLoginForm').validate({
    rules: {
        username: {
            required: true
        },
        password: {
            required: true
        }
    },
    messages: {
        username: {
            required: '请输入用户名'
        },
        password: {
            required: '请输入密码'
        }
    },
    onkeyup: false,
    errorLabelContainer: (document.getElementById('jMsg')),
    submitHandler: function(form) {
		form.submit();
    }
});

</script>
<script>
    var ran = (new Date).getTime();
    $.get('header.html?ran=' + ran, function(data) {
        $('body').prepend(data);
    })
    $.get('footer.html?ran=' + ran, function(data) {
        $('body').append(data);
    })
</script>
{% end %}