{% extends "base.html" %}
{% block container %}
<link rel="stylesheet" href="{{ static_url('css/login.css')}}" />

<div class="wrap">
    <div class="banner">
        <img src="{{ static_url('images/56ca946e67751.jpg')}}" alt="">
    </div>
    <div class="log-box">
        <div class="hd cf">
            <h1><i class="iconfont icon-arrow"></i>登录</h1>
        </div>

        <div class="form">
            <form action="/login" method="post" id="jLoginForm">
    			{% raw xsrf_form_html() %}<input name="next_url" type="hidden" value="{{ next_url }}"/>
                
                <div class="msg" id="msg">{% if 'error' in globals() %}{{error}}{% end %}</div>

                <div class="group">
                    <i class="iconfont icon-user"></i><input type="text" placeholder="会员名/手机号" value="" name="username" id="username" class="ipt" autocomplete="off">
                </div>

                <div class="group">
                    <i class="iconfont icon-lock"></i><input type="password" placeholder="密码" value="" name="password" id="pwd" class="ipt" autocomplete="off">
                </div>

                <div class="tr">
                    <a href="/forgetpwd">忘记密码</a>
                </div>

                <div class="button">
                    <button class="btn btn-orange" type="submit" id="submit" class="submit">立即登录</button>
                    <a class="btn btn-gray" href="/register">免费注册</a>
                </div>

                <!--             
                <div class="coagent">
                    <a href="#"><i class="iconfont icon-wechat"></i>微信</a>
                    <a href="#"><i class="iconfont icon-qq"></i>QQ</a>
                </div> 
                -->
            </form>
        </div>
    </div>
</div>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/login.js')}}"></script>
{% end %}