{% extends "base.html" %}
{% block container %}
<section class="sec">
    <div class="yc-msg">
        <div class="cont">
            <div class="iconfont icon-check"></div>
            <div class="txt">
                <strong>提交成功！</strong>
                <span>{{message}}</span>
            </div>
        </div>
        <div class="link">
            <a href="{{url}}">返回<i class="iconfont icon-arrow"></i></a>
        </div>
    </div>
</section>


<script src="{{ static_url('js/jquery.min.js')}}"></script>
<script src="{{ static_url('js/bootstrap.min.js')}}"></script>
<script src="{{ static_url('js/jquery.validate.min.js')}}"></script>
<script>
// 登录验证
$('#jLoginForm').validate({
    rules: {
        username: {
            required: true
        },
        password: {
            required: true
        }
    },
    messages: {
        username: {
            required: '请输入用户名'
        },
        password: {
            required: '请输入密码'
        }
    },
    onkeyup: false,
    errorLabelContainer: (document.getElementById('jMsg')),
    submitHandler: function() {
        alert(0)
    }
});

</script>
{% end %}
