<!DOCTYPE html>
{% extends "base.html" %}
{% block container %}
{% import config %}
{% raw xsrf_form_html() %}
<link rel="stylesheet" href="{{ static_url('css/index.css')}}" />

<div class="panel panel-default payment">
    <div class="panel-heading hd"><h1>缴纳诚信保证金，开通阳光速配<span>（采购端）</span></h1></div>
    <div class="panel-body bd">
        <dl class="dl-horizontal">
            <dt>账号：</dt>
            <dd>{{user.nickname}}（{{user.name}}）</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>诚信采购承诺：</dt>
            <dd>
                <ol class="list-unstyled">
                    <li>1、发布的采购信息真实有效，并按系统指引详细描述质量要求；</li>
                    <li>2、按照质量约定验收货物，真实反馈验收结果；</li>
                    <li>3、按照约定足额、按时支付货款；</li>
                    <li>4、账期不长于90天；</li>
                    <li><input type="checkbox" checked class="cbx">我承诺诚信采购，并同意<a href="#" class="blue">《药材购·阳光速配交易规则》</a></li>
                </ol>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>诚信保证金：</dt>
            <dd>
                <ul class="list-unstyled">
                    <li><strong>{{config.deposit}}</strong>元</li>
                    <li>若没达成交易，可随时退还；若达成交易意向，验收大货后可退还。 </li>
                </ul>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dd class="alipay"  name="alipay">
                <a href="#"><img src="{{ static_url('images/alipay.png') }}" width="114" height="40" alt=""></a>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dd>
                <h4>银行转账</h4>
                <ul class="list-unstyled">
                    <li>开户银行：招商银行武汉光谷支行</li>
                    <li>户&#12288;&#12288;名：速采科技（武汉）有限公司</li>
                    <li>银行账号：1279 0884 7010 501</li>
                    <li><em>转账时，请备注会员账号或手机号；转账后，请致电客服173-0967-3939处理</em></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>


<div class="dialogOverlay"></div>
<div id="dialog" class="dialog">
    <div class="hd">支付保证金</div>
    <div class="bd">
        <p>您在支付过程中碰到任何问题，可致电客服173-0967-3939解答处理</p>
        <div class="buttons">
            <button class="btn btn-orange">支付完成</button>
            <button class="btn btn-white">碰到问题，再次支付</button>
        </div>
    </div>
    <div class="d-close"></div>
</div>

<form action="/payment" id="payform" target="_blank">
    <input type="hidden" name="alipay" value="alipay">
</form>

{% block javascript %}
<script src="{{ static_url('js/jquery.min.js')}}"></script>
<script src="{{ static_url('js/bootstrap.min.js')}}"></script>
{% end %}

<script>
    $(function() {
        var $dialog = $('#dialog');
        $('.alipay').on('click', function() {
            $('#payform').submit();
            // $.ajax({
            //     url: "/payment",
            //     data: { name: $(this).attr("name")},
            //     dataType: 'json',
            //     type: 'POST',
            //     beforeSend: function(jqXHR, settings) {
            //         jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
            //     },
            //     success: function(data) {
            //         if(data.status=="success") {
            //           window.open(data.url,"_blank")
            //         }else{
            //            console.log(data);
            //         }
            //     },
            //     error: function(data) {
            //        console.log("出现异常，请刷新页面再试");
            //     }
            // });
            $dialog.fadeIn(200).prev().fadeIn(200);
        });

        $dialog.on('click', '.d-close', function() {
            $dialog.fadeOut(200).prev().fadeOut(200);
        });

        $dialog.on('click', '.btn-orange', function() {
            window.location.href='/sunshine';
            $dialog.fadeOut(200).prev().fadeOut(200);
        });

        $dialog.on('click', '.btn-white', function() {
            $dialog.fadeOut(200).prev().fadeOut(200);
        });


    })
</script>

{% end %}

