{% extends "base.html" %}
{% block title %}
我要供货·去报价_关注微信查看实时采购单，随时报价_药优优
{% end %}
{% block container %}
<link rel="stylesheet" href="{{ static_url('css/quote.css')}}" />
<section class="sec">
    <div class="banner" style="background-image:url(static/images/banner3.jpg);">
        <div class="container">
              <!--
            <div class="pic">
                <img src="static/images/xxx1.png" width="344" height="522" alt="">
            </div>
            <div class="desc">

                <img src="static/images/xxx2.png" alt="">
                <h2>我是供货商 · 我有优质货源</h2>
                <p>随时随地查看采购单，轻松报价</p>
                <div class="share">
                    <div class="qrcode">
                        <img src="static/images/qrcode.jpg" alt="">
                    </div>
                    <div class="info">
                        <i class="icons icons-wechat2"></i>微信扫一扫
                        <span>关注”药优优”微信公众号<br>即刻对接海量采购单</span>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="container desc">
        <dl class="pull-left">
            <dt>01</dt>
            <dd>
                <h3>海量实时采购单</h3>
                <p>对接全网海量实时采购单，有效扩大销路</p>
            </dd>
        </dl>
        <dl class="pull-right">
            <dt>02</dt>
            <dd>
                <h3>操作简单</h3>
                <p>轻松三部即可报价，拍照片、写描述、报价格</p>
            </dd>
        </dl>
        <div class="clearfix"></div>
        <dl class="pull-left">
            <dt>03</dt>
            <dd>
                <h3>精准匹配</h3>
                <p>根据您的关注品种、报价品种，精准推送您主 营的采购单</p>
            </dd>
        </dl>
        <dl class="pull-right">
            <dt>04</dt>
            <dd>
                <h3>及时反馈</h3>
                <p>报价后，及时引导采购商评估、答复，并努力 助您交易成功</p>
            </dd>
        </dl>
        <div class="img">
            <img src="static/images/iphone.jpg" alt="">
        </div>
    </div>  
</section>
{% end %}

{% block javascript %}
{% end %}