{% extends "base.html" %}
{% block container %}
<link rel="stylesheet" href="{{ static_url('css/login.css')}}" />
<section class="sec">
    <div class="wrap">
        <div class="reg-box">
            <h1><i class="iconfont icon-arrow"></i>免费注册</h1>
            <div class="step">
                <ul class="yc-ul">
                    <li class="curr">
                        <span>1</span>
                        <strong>验证手机</strong>
                        <i class="iconfont icon-arrow"></i>
                    </li>
                    <li>
                        <span>2</span>
                        <strong>完善账户信息</strong>
                        <i class="iconfont icon-arrow"></i>
                    </li>
                    <li>
                        <span>3</span>
                        <strong>注册成功</strong>
                    </li>
                </ul>
            </div>
            <div class="form">
            <form action="/register/checkphone" method="post" id="jLoginForm">
                {% raw xsrf_form_html() %}
                <div class="msg" id="jMsg"></div>
                <div class="group">
                    <i class="iconfont icon-user"></i><input class="ipt" type="text" placeholder="手机号" value="" name="phone" id="jUsername" autocomplete="off">
                </div>
                <!--<div class="group">
                    <script type="text/javascript" src="{{url}}"></script>
                </div>-->
                <div class="group">
                    <i class="iconfont icon-lock"></i><input class="ipt code" type="text" placeholder="验证码" value="" name="smscode" id="jCode" autocomplete="off">
                    <button class="btn btn-gray" type="button" id="jSend">获取验证码</button>
                </div>

                <div class="button">
                    <button class="btn btn-orange" type="button" id="jSubmit" class="submit">下一步</button>
                </div>

                <div class="agreement">
                    <!--<p>点击下一步，即代表您同意<a href="#">《药材购服务条款》</a></p>-->
                </div>

            </form>
            </div>
        </div>
    </div>
</section>
{% end %}
{% block javascript %}
<script>

!(function(jQuery){
    var $mobile = $('#jUsername'),
        $code = $('#jCode'),
        $send = $('#jSend'),
        timeout = 0,
        timer = 0,
        delay = 60,
        txt = '秒后重新获取',
        $error = $('#jMsg');

    var _clock = function() {
        timer && clearInterval(timer);
        timer = setInterval(function() {
            timeout --;
            $send.text(timeout + txt).prop('disabled', true);
            if (timeout === 0) {
                clearInterval(timer);
                $send.text('获取验证码').prop('disabled', false);
            }
        }, 1e3);
    }

    var _showMsg = function(txt) {
        if (txt) {
            $error.html(txt);
        } else {
            $error.html('');
        }
    }

    function checkMobile() {
        var val = $mobile.val();
        if (!val) {
            _showMsg('请输入手机号码');
        } else if (!/^1[345678]\d{9}$|^01[345678]\d{9}$/.test(val)) {
            _showMsg('手机号码格式错误');
        } else {
            _showMsg(false);
            return true;
        }
        $mobile.focus();
        return false;
    }
    function checkCode() {
        var val = $code.val();
        if (!val) {
            _showMsg('请输入手机验证码');
        } else {
            _showMsg(false);
            return true;
        }
        $code.focus();
        return false;
    }
    function checkIpt() {
        if (checkMobile() && checkCode()) {
            return true;
        }
        return false;
    }
    $('#jSubmit').on('click', function() {
        bool = checkIpt();
        if (bool) {
            $.ajax({
                url: $("form").attr('action'),
                data: $("form").serialize(),
                dataType: 'json',
                type: 'POST',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                },
                success: function(data) {
                    if(data.status == "success"){
                        window.location.href='/reginfo';
                    }else{
                        _showMsg(data.message);
                    }
                },
                error: function(data) {
                    _showMsg("出现异常，请刷新页面再试");
                }
             });
         }
    });

    // 验证码
    $send.prop('disabled', false).on('click', function() {
        if(checkMobile() && timeout === 0) {
            $.ajax({
                url: "/getsmscode",
                data: { phone: $mobile.val()},
                dataType: 'json',
                type: 'POST',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                },
                success: function(data) {
                    if(data.status=="success") {
                        timeout = delay;
                        $send.text(timeout + txt).prop('disabled', true).prev().focus();
                        _clock();
                    }else{
                        _showMsg(data.message);
                    }
                },
                error: function(data) {
                    _showMsg("出现异常，请刷新页面再试");
                }
             });
        }
    });
})($);


</script>
{% end %}