{% extends "base.html" %}
{% block container %}
<link rel="stylesheet" href="{{ static_url('css/login.css')}}" />
<div class="wraper">
    <div class="reg-box">
        <div class="hd cf">
            <h1><i class="iconfont icon-arrow"></i>免费注册成功采购商</h1>
            <div class="extra"><a href="/quote">我是供货商，我要卖货</a></div>
        </div>

        <div class="bd cf">
            <div class="col tc br">
                <img src="{{ static_url('images/qrcode_assistant.jpg')}}" width="200" height="200" alt="药优优-采购助手">
                <em>微信扫一扫</em> 
                <span>注册成为药优优采购商</span>
            </div>
            <div class="col bl">
                <h4>成为药优优采购商，您可以：</h4>
                <ol>
                    <li>随时随地发布采购</li>
                    <li>即刻对接 <b>{{total}}</b> 位供货</li>
                    <li>最快 <b>1</b> 分钟收到报价</li>
                    <li>专业找货团队为您深度找货</li>
                    <li>药优优协助您安心交易</li>
                </ol>

                <h4>每天都有采购商成功买货</h4>
                <ol class="m0">
                    <li>已有 <b>{{accept_purchaseinfo_num}}</b> 批次采购单找到满意货源</li>
                    <li>每个采购单平均收到 <b>{{averge_quote_num}}</b> 个报价</li>
                    <li>共计成交大货 <b>{{sum_quantity}}</b> 吨, <b>{{sum_price}}</b> 万元</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<script>
    //var ran = (new Date).getTime();
    //$.get('header.html?ran=' + ran, function(data) {
    //    $('body').prepend(data);
    //})
   // $.get('footer.html?ran=' + ran, function(data) {
   //     $('body').append(data);
   // })
</script>
{% end %}
