{% extends "base.html" %}
{% block title %}
发采购_自动对接全国货源极速报价_药优优
{% end %}
{% block container %}
{% import config,time %}
<link rel="stylesheet" href="{{ static_url('css/order.css')}}" />
<section class="sec">
    <div class="container">
        <div class="pch-success">
            <div class="main">
                <h2><i class="iconfont icon-radio-yes"></i>发布采购计划/找货需求成功！</h2>
                {% if suppliers %}
                <div class="desc">
                    <p>目前共有{{varname}}相关品种的供应商<span id="jcount"><img src="{{ static_url('images/loading.gif')}}" class="loader"><!-- {{len(suppliers)}} --></span>位，您的采购计划/找货需求将公开给他们</p>
                </div>

                <div class="recommend">
                    <p>药优优优选了<span>{{len(suppliers)}}</span>家供应商，正将您的采购计划/找货需求推送给他们<img src="{{ static_url('images/loading.gif')}}" class="loader"></p>
                    {% set i = 1%}
                    {% for supplier in suppliers %}
                    {% if i < 4 %}
                    <dl>
                        <dt>
                            <img src="{{ static_url('images/avatar.png')}}" width="30" height="30" alt="">
                        </dt>
                        <dd>
                            <strong>{{supplier.name}}<i class="iconfont icon-pass"></i></strong>
                            <address>{% if supplier.areaname is not None%}{{supplier.areaname}}{% end %}</address>
                        </dd>
                    </dl>
                    {% end %}
                    {% set i = i + 1 %}
                    {% end %}
                    {% if len(suppliers) - 4 > 0%}
                    <!-- <div class="more">以及其他{{len(suppliers) - 4}}家</div> -->
                    {% end %}
                </div>
                {% end %}

                <div class="tips">
                    <p><span>请您坐等报价，并积极回应，可在 <a href="/mypurchase?type=-1">我的工作台</a>&gt;<a href="/mypurchase?type=-1">我的采购</a> 随时跟进。</span>及时回应报价，积累信用等级，获得更多权益</p>
                </div>

                <div class="yc-bubble">
                    <i class="iconfont icon-tanhao"></i>
                    <span>完善账户资料，供应商推送数量可靠提高1倍，供应商更信赖。<a href="/account">立即完善</a></span>
                </div>

                <div class="buttons">
                    <a class="btn btn-orange" href="/purchase">再发一条</a>
                    <!--<a class="btn btn-white" href="#">关闭</a>-->
                </div>
            </div>
            <div class="side">
                <div class="bd">
                    <h3><i class="icons icons-wechat"></i>微信邀请朋友报价</h3>
                    <p>微信扫描如下二维码，发送到朋友圈，邀请前来报价</p>
                    <p class="qrcode"><img width="114" height="114" src="http://qr.liantu.com/api.php?text={{config.host}}/purchaseinfobatch/purchaseid/{{purchaseinfo[0]['id']}}" alt=""></p>
                </div>

                <div class="bd">
                    <h3><i class="icons icons-qq"></i>QQ邀请朋友报价</h3>
                    <p>复制如下消息，发送给QQ好友或QQ群，邀请前来报价</p>
                    <textarea class="share" id="clipboard_textarea">【{{ time.strftime("%m月%d日", time.localtime(int(purchaseinfo[0]["createtime"]))) }}采购单】{{user.name}} 采购{% for index,pi in enumerate(purchaseinfo)%}{{pi.name}}（{{ pi.specification }}）{% if (index+1) <> len(purchaseinfo)%}、{%end%}{% end %}请速报价{{config.host}}/purchaseinfobatch/purchaseid/{{purchaseinfo[0]["id"]}}</textarea>
                    <button type="button" class="btn-copy" data-clipboard-target="clipboard_textarea" id="jCopyButton">复制</button>
                    <p class="msg" id="jCopyMsg">复制成功!</p>
                </div>

                <div class="bd">
                    <h3><i class="icons icons-mobile"></i>关注药优优微信公众号</h3>
                    <p>随时发布找货需求，第一时间查看报价，随时随地轻松洽谈</p>
                    <p class="qrcode"><img width="114" height="114" src="{{ static_url('images/qrcode.jpg')}}" alt=""></p>
                    <!--<h3><i class="icons icons-mobile"></i>下载药优优手机APP</h3>
                    <p>随时发布找货需求，第一时间查看报价，随时随地轻松洽谈</p>
                    <div class="sms">
                        <input class="ipt" type="text" id="jMobile">
                        <button class="btn btn-gray" type="button" id="jMsm">发送下载地址到手机</button>
                        <span class="error">请输入正确的手机号码！</span>
                    </div>
                    <div class="app">
                        <img width="74" height="74" src="{{ static_url('images/qrcode.jpg')}}" alt="">
                        手机扫码下载
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}
{% block javascript %}
<script src="{{ static_url('js/ZeroClipboard.min.js')}}"></script>
<script>
var $copyMsg = $('#jCopyMsg');
var timer = 0;
var clip = new ZeroClipboard(document.getElementById("jCopyButton"));
clip.on("aftercopy", function(e){
    $copyMsg.fadeIn();
    timer && clearTimeout(timer);
    timer = setTimeout(function() {
        $copyMsg.fadeOut(100);
    }, 3e3);
});

// 采购数量
$('#jMobile').on('click', function(e) {
    $(this).nextAll('.error').fadeOut(100);
});

$('#jMsm').on('click', function() {
    var tel = /^1[345678]\d{9}$/;
    if (!tel.test($('#jMobile').val())) {
        $(this).next().fadeIn(100);
    } else {
        $(this).next().fadeOut(100);
    }
})

function getRecommend() {
    $.ajax({
        url: '',
        data: {},
        dataType: 'json',
        success: function(res) {
            var surplus = res.count - res.list.length;
            var model = [];
            $.each(res.list, function(i, item) {
                model.push('<dl>');
                model.push('<dt><img src="', item.avatar,'" width="30" height="30" /></dt>');
                model.push('<dd>');
                model.push('<strong>', item.name, '<i class="iconfont icon-pass"></i></strong>');
                model.push('<address>', item.areaname, '<i class="iconfont icon-pass"></i></address>');
                model.push('</dd>');
                model.push('</dl>');
            })
            if (surplus > 4) {
                model.push('<div class="more">以及其他', surplus, '家</div>');
            }
            $('.recommend').append(model.join(''));
            $('#jcount').html(res.count);
        },
        error: function() {
            setTimeout(function() {
                getRecommend();
            }, 200);
        }
    })
}
getRecommend();
</script>
{% end %}