<!DOCTYPE html>
{% extends "base.html" %}
{% block container %}
{% import config %}
{% from urllib import urlencode %}
{% raw xsrf_form_html() %}
<link rel="stylesheet" href="{{ static_url('css/special.css')}}" />
<section class="sec">
    <div class="sp-intro">
        <h1>阳光速配·药优优旗下严肃的中药材诚信交易专场</h1>
    </div>

    <div class="wrap cf sp-list">
        <div class="main">
            <div class="hd">
                <h3>实力供货商</h3>
                <p>严格认证筛选、确保货源质量、价格优势。</p>
            </div>

            <div class="filter">
                <dl class="dl-horizontal">
                    <dt>已开通品种&gt;&gt;</dt>
                    <dd>
                        {% for item in hot %}
                        {% if query==item %}
                            <a href="/sunshine?{{urlencode({'query':item.encode('utf8')})}}" class="current">{{item}}</a>
                        {% else %}
                             <a href="/sunshine?{{urlencode({'query':item.encode('utf8')})}}" >{{item}}</a>
                        {% end %}
                        {% end %}
                        {% if query %}
                        <a href="/sunshine">全部</a>
                        {% else %}
                        <a href="/sunshine" class="current">全部</a>
                        {% end %}
                    </dd>
                </dl>
            </div>

            <div class="list">
                <ul class="yc-ul">
                    {% for item in suppliers %}
                    <li>
                        <div class="intro">
                            <h3 class="name"><a href="/supplier/detail?qid={{item['qid']}}"> {{ item["name"] }}</a><span>实力供货商</span></h3>
                            <p>累计报价：<b>{{item["quote"]}}</b>次  |  达成交易意向：<b>{{ item["acceptnum"] }}</b>次</p>
                            <p>主营品种：{{ ",".join( item["supply_variety_name"])}}</p>
                        </div>
                        <div class="transaction">
                            <dl>
                                <dt>供货记录</dt>
                                {% for transaction in item["transactions"] %}
                                <dd>
                                    <span>{{transaction["delivertime"]}}</span>
                                    <span class="cname">{{ transaction["purchasename"]}}</span>
                                    <span>{{transaction["varietyname"] }}</span>
                                    <em>{{ transaction["quantity"] }}公斤</em>
                                </dd>
                                {% end %}
                            </dl>
                        </div>
                        <div class="thumb">
                            {% for index,img in enumerate(item["attachment"]) %}
                            {% if index<4 %}
                            <img src="{{img.attachment}}" data-src="{{img.attachment.replace('_thumb','')}}" width="210" height="133" alt="">
                            {% end %}
                            {% end %}
                        </div>
                    </li>

                    {% end %}

                </ul>
            </div>

            <div class="hd">
                <span>还有 <em>{{total}}</em> 位普通供货商也在药优优</span>
            </div>

       {% module PageNav(nav=nav, show=True) %}
            <div>
            <br>
            </div>
        </div>



        <div class="side">
            {% if handler.session.has_key('user') and handler.session.get('user') != ""  %}
            {% if member %}
            <div class="group">
                <div class="hd">
                    <a href="/purchase">我要向他们询价采购 &gt;&gt;</a>
                </div>
                <div class="bd">
                    <div class="guide">
                        <span>注册<br>会员</span>
                        <i>&gt;</i>
                        <span>缴纳诚信<br>保证金</span>
                        <i>&gt;</i>
                        <span>身份<br>核验</span>
                    </div>

                    <div class="welcome">
                        <em>Hi，</em>{{handler.session.get('user')}}
                        <span><em>已开通阳光速配</em></span>
                        <span>诚信保证金余额：<i>{{config.deposit}}</i> 元 <!--<a href="#">退款</a>--></span>
                        <span>已发布采购：<i>{{member.purchasesinfonum}}</i> 批次</span>
                    </div>
                    <div class="link">
                        <a href="/purchase" class="btn">发布采购，立即询价</a>
                    </div>
                </div>
            </div>
            {% else %}

            <div class="group">
                <div class="hd">
                    <a href="/payment">我要向他们询价采购，申请加入 &gt;&gt;</a>
                </div>
                <div class="bd">
                    <div class="guide">
                        <span>注册<br>会员</span>
                        <i>&gt;</i>
                        <span>缴纳诚信<br>保证金</span>
                        <i>&gt;</i>
                        <span>身份<br>核验</span>
                    </div>

                    <div class="welcome">
                        <em>Hi，</em>{{handler.session.get('user')}}
                    </div>

                    <div class="link">
                        <a href="/payment" class="btn">缴纳保证金，开通阳光速配</a>
                    </div>
                </div>
            </div>
            {% end %}
            {% else %}
            <div class="group">
                <div class="hd">
                    <a href="/register">我要向他们询价采购，申请加入 &gt;&gt;</a>
                </div>
                <div class="bd">
                    <div class="guide">
                        <span>注册<br>会员</span>
                        <i>&gt;</i>
                        <span>缴纳诚信<br>保证金</span>
                        <i>&gt;</i>
                        <span>身份<br>核验</span>
                    </div>

                    <div class="explain">
                        <p>说明：</p>
                        <ol>
                            <li>诚信保证金<b>{{config.deposit}}</b>元。若没达成交易随时退还；若达成交易意向，验收大货后退款。</li>
                            <li>身份核验需要提供身份证件。</li>
                        </ol>
                    </div>

                    <div class="surplus">
                        <p>本期仅限 <em>10</em> 位采购商</p>
                        <p>还剩 <i>{{10-membernum}}</i> 位</p>
                    </div>
                </div>
                <div class="button">
                    <a href="/register" class="btn-l">立即注册</a><a href="/login?next=sunshine" class="btn-r">已有账号，登录</a>
                </div>
            </div>
            {% end %}


            <div class="group">
                <div class="hd">
                    <h4><i class="iconfont icon-blacklist"></i> 不诚信行为曝光台</h4>
                </div>
                <div class="bd">
                    <ul class="yc-ul blacklist">
                        <li class="text-center">太棒了，暂无不诚信行为发生</li>
                    </ul>
                    <!--                     
                    <ul class="yc-ul blacklist">
                        <li>黑名单1</li>
                        <li>黑名单2</li>
                        <li>黑名单3</li>
                        <li>黑名单4</li>
                        <li>黑名单5</li>
                    </ul> 
                    -->
                </div>
            </div>

            <div class="group">
                <div class="hd">
                    <h4><i class="iconfont icon-trade"></i> 最新交易意向</h4>
                </div>
                <div class="bd">
                    <ul class="yc-ul record">
                        {% for p in newpurchaseinfo %}
                        <li>
                            <em class="fb">{{p["name"]}}</em>
                            <span title="{{p['purchaseusername']}}">买方：{{p["purchaseusername"]}}</span>
                            <em>{{p["quantity"]}}公斤</em>
                            <span title="{{p['quoteusername']}}">卖方：{{p["quoteusername"]}}</span>
                            <time data-time="{{p['updatetime']}}"></time>
                        </li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="promise">
    <div class="wrap">
        <h2><i></i>阳光速配交易规则</h2>
        <div class="dl">
            <div class="dt">
                <span>采购商承诺：</span>
                <span>供货商承诺：</span>
            </div>
            <div class="dd">
                <ul class="yc-ul">
                    <li>
                        <div class="circle">
                            <i class="iconfont icon-plane"></i>
                            <em>发布采购</em>
                        </div>
                        <div class="up">
                            <p>确保采购需求真实有效</p>
                            <p>详细描述质量要求</p>
                        </div>
                    </li>
                    <li>
                        <div class="circle">
                            <i class="iconfont icon-quote"></i>
                            <em>报价</em>
                        </div>
                        <div class="down">
                            <p>如实描述，大货质量与报价一致</p>
                            <p>开诚布公的报底价</p>
                        </div>
                    </li>
                    <li>
                        <div class="circle">
                            <i class="iconfont icon-filter"></i>
                            <em>筛选评估</em>
                        </div>
                        <div class="up">
                            <p>及时答复报价</p>
                        </div>
                    </li>
                    <li>
                        <div class="circle">
                            <i class="iconfont icon-sample"></i>
                            <em>寄样看样</em>
                        </div>
                        <div class="down">
                            <p>样品质量</p>
                            <p>与大货质量一致</p>
                        </div>
                    </li>
                    <li>
                        <div class="circle">
                            <i class="iconfont icon-contract"></i>
                            <em>洽谈签约</em>
                        </div>
                        <div class="up">
                            <p>认真约定合同内容</p>
                        </div>
                        <div class="down">
                            <p>认真约定合同内容</p>
                        </div>
                    </li>
                    <li>
                        <div class="circle">
                            <i class="iconfont icon-car"></i>
                            <em>发大货</em>
                        </div>
                        <div class="down">
                            <p>按照约定装包<br>发货，不拖延</p>
                        </div>
                    </li>
                    <li>
                        <div class="circle">
                            <i class="iconfont icon-take"></i>
                            <em>验收收货</em>
                        </div>
                        <div class="up">
                            <p>合理客观检测</p>
                            <p>真实验收</p>
                        </div>
                    </li>
                    <li>
                        <div class="circle">
                            <i class="iconfont icon-pay"></i>
                            <em>付款</em>
                        </div>
                        <div class="down">
                            <p>按照约定及时付款</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
<script src="{{ static_url('js/jquery.min.js')}}"></script>
<script src="{{ static_url('js/bootstrap.min.js')}}"></script>
<script src="{{ static_url('js/lightbox.js')}}"></script>
{% end %}

<script>
 $(function() {

   /**
     * [dateDiff 算时间差]
     * @param  {[type=Number]} hisTime [历史时间戳，必传]
     * @param  {[type=Number]} nowTime [当前时间戳，不传将获取当前时间戳]
     * @return {[string]}         [string]
     */
     function dateDiff(hisTime, nowTime) {
        if (!hisTime) {
            return '';
        }
        var now = nowTime || (new Date).getTime() /1e3 ;
        var seconds = parseInt(now, 10) - parseInt(hisTime, 10);
        var str = '';
        var minute = 60
            hour = minute * 60,
            day = hour * 24,
            week = day * 7,
            month = day * 30,
            year = month * 12;

        if (seconds < minute) {
            str = '刚刚';

        } else  if (seconds < hour){
            str = Math.round(seconds/minute) + '分钟前';

        } else  if (seconds < day){
            str = Math.round(seconds / hour) + '小时前';

        } else  if (seconds < week){
            str = Math.round(seconds / day) + '天前';

        } else  if (seconds < month){
            str = Math.round(seconds / week) + '周前';

        } else  if (seconds < year){
            str = Math.round(seconds / month) + '月前';

        } else {
            str = Math.round(seconds / year) + '年前';
        }
        return str;

    }
    $('time[data-time]').each(function(){
        $(this).html(dateDiff($(this).data('time')));
    })








    });
</script>
{% end %}