<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <title>供货商管理-药材购</title>
    <!-- 浏览器高速模式 -->
    <meta name="renderer" content="webkit" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/center.css" />
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<section class="sec">
    <div class="main-cont">
        <div class="box">
            <div class="filter">
                <input class="ipt" placeholder="联系人/公司名/手机" type="text">
                <input class="ipt" placeholder="主营品种" type="text">
                <button class="btn btn-orange btn-sm" type="button">查询</button>
                <button class="btn btn-orange btn-sm" type="button">新增</button>
            </div>

            <div class="supplier-list">
                <ul class="cf yc-ul">
                    <li>
                        <div class="hd">
                            <a href="supplier_detail.html">三台县浩凌商贸有限公司</a>
                            <span>手动录入</span>
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-avatar"></i>
                            严飞
                            <span>15500001111</span>
                            <a href="tel:15500001111">拨号</a>
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-list"></i>
                            黄连、僵蚕、三七、麦冬、黄柏、陈皮、金荞麦、百部、当归、肉苁蓉、半边莲
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-address"></i>
                            安徽省亳州市
                        </div>
                    </li>
                    <li>
                        <div class="hd">
                            <a href="supplier_detail.html">三台县浩凌商贸有限公司</a>
                            <span>手动录入</span>
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-avatar"></i>
                            严飞
                            <span>15500001111</span>
                            <a href="tel:15500001111">拨号</a>
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-list"></i>
                            黄连、僵蚕、三七、麦冬、黄柏、陈皮、金荞麦、百部、当归、肉苁蓉、半边莲
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-address"></i>
                            安徽省亳州市
                        </div>
                    </li>
                    <li>
                        <div class="hd">
                            <a href="supplier_detail.html">三台县浩凌商贸有限公司</a>
                            <span>手动录入</span>
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-avatar"></i>
                            严飞
                            <span>15500001111</span>
                            <a href="tel:15500001111">拨号</a>
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-list"></i>
                            黄连、僵蚕、三七、麦冬、黄柏、陈皮、金荞麦、百部、当归、肉苁蓉、半边莲
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-address"></i>
                            安徽省亳州市
                        </div>
                    </li>
                    <li>
                        <div class="hd">
                            <a href="supplier_detail.html">三台县浩凌商贸有限公司</a>
                            <span>手动录入</span>
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-avatar"></i>
                            严飞
                            <span>15500001111</span>
                            <a href="tel:15500001111">拨号</a>
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-list"></i>
                            黄连、僵蚕、三七、麦冬、黄柏、陈皮、金荞麦、百部、当归、肉苁蓉、半边莲
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-address"></i>
                            安徽省亳州市
                        </div>
                    </li>
                    <li>
                        <div class="hd">
                            <a href="supplier_detail.html">三台县浩凌商贸有限公司</a>
                            <span>手动录入</span>
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-avatar"></i>
                            严飞
                            <span>15500001111</span>
                            <a href="tel:15500001111">拨号</a>
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-list"></i>
                            黄连、僵蚕、三七、麦冬、黄柏、陈皮、金荞麦、百部、当归、肉苁蓉、半边莲
                        </div>
                        <div class="bd">
                            <i class="iconfont icon-address"></i>
                            安徽省亳州市
                        </div>
                    </li>
                </ul>
            </div>

            <div class="pagin">
                <div class="skip">
                    共17页，到第<input class="ipt" type="text" onkeydown="javascript:if(event.keyCode==13){page_jump();return false;}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" value="1" maxlength="4" id="jPageSkip" >页
                    <button class="btn-skip" type="button" onclick="page_jump();">确定</button>
                </div>
                <div class="num">
                    <span class="disabled">&lt;</span>
                    <span class="curr">1</span>
                    <a href="?page=2">2</a>
                    <i>...</i>
                    <a href="?page=199">199</a>
                    <a href="?page=200">200</a>
                    <a href="?page=2">&gt;</a>
                </div>
            </div>
        </div>
    </div>


    <div class="side">
        <ul class="yc-ul">
            <li><a href="order.html"><i class="icons menu"></i>我的采购</a><em>4</em></li>
            <li><a href="account.html"><i class="icons setting"></i>账户</a></li>
            <li class="curr"><a href="supplier.html"><i class="icons setting"></i>供货商管理</a></li>
        </ul>
    </div>
</section>



<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/center.js"></script>


<script>
    var ran = (new Date).getTime();
    $.get('header.html?ran=' + ran, function(data) {
        $('body').prepend(data);

$('.nav-icon').on('click', function() {
    $(this).parent().toggleClass('active');
})
    })
    $.get('footer.html?ran=' + ran, function(data) {
        $('body').append(data);
    })
</script>
</body>

</html>
