{% extends "base.html" %}
{% block container %}
{% import config %}
<link rel="stylesheet" href="{{ static_url('css/supplier.css')}}" />
<section class="sec">
    <div class="sp-info">
        <div class="inner">
            <h1>{{user.name}}</h1>
            <h2>主营品种：{{ ",".join(user.supply_variety_name)}}</h2>
            <p>{% if user.scale %}经营规模：{{user.scale}}{% end %} {% if user.scale and quanlity.address %}/ {% end %} {% if quanlity.address %}  地址：{{quanlity.address}} {% end %}</p>
        </div>
    </div>

    <div class="wrap">
        <div class="record-list cf">
            <div class="list">
                <h3><i class="iconfont icon-angledoubleright"></i>最近供货记录</h3>
                <div class="marquee" id="jMarquee">
                    <ul class="yc-ul">
                        {% if transactions %}
                        {% for item in transactions %}
                        <li><span>{{ item["createtime"] }}</span> 在药材购平台与{{ item["purchasename"] }}完成 {{ item["varietyname"] }}的交易。</li>
                        {% end %}
                        {% else %}
                        暂无供货记录
                        {% end %}
                    </ul>
                </div>
            </div>
            <div class="pic">
                <ul class="yc-ul">
                    {% if transactions %}
                    {% set shownum=0 %}
                    {% for item in transactions %}
                    {% for attachment in item["attachments"] %}
                    {% if shownum<4 %}
                    <li><img src="{{attachment.attachment.replace('_thumb','')}}" width="240" height="240"></li>
                    {% set shownum=shownum+1 %}
                    {% end %}
                    {% end %}
                    {% end %}
                    {% end %}
                </ul>
            </div>
        </div>

        <div class="sp-text">
            <h2>实力展示</h2>
            <p>{% if user.introduce=="" %}{{user.nickname}}常年来以价格低，药材质量稳定，送货及时等优势取得了客户的信赖。
                现已入驻药材购平台，希望依托该平台为更多客户提供服务！{% else %}{{ user.introduce }} {% end %}</p>
        </div>

        <div class="sp-pro">
            <ul class="yc-ul">
                {% for index,item in enumerate(quanlity["varietyimg"]) %}
                {% if index%2==0 %}
                <li class="odd">
                    <div class="pic">
                        <img src="{{item.attachment.replace('_thumb','')}}" width="600" height="380">
                    </div>
                    <div class="txt">
                        <div class="tag">现货资源</div>
                        <div class="inf">
                            <h3>{{item['varietyname']}}</h3>
                            <p>{{item['describeinfo']}}</p>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="even">
                    <div class="pic">
                        <img src="{{item.attachment.replace('_thumb','')}}" width="600" height="380">
                    </div>
                    <div class="txt">
                        <div class="tag">现货资源</div>
                        <div class="inf">
                            <h3>{{item['varietyname']}}</h3>
                            <p>{{item['describeinfo']}}</p>
                        </div>
                    </div>
                </li>
                {% end %}
                {% end %}

            </ul>
        </div>

        <div class="sp-gallery">
            <ul class="yc-ul">
                {% for item in quanlity["otherimg"] %}
                <li><img src="{{item.attachment.replace('_thumb','')}}" width="400" height="300"></li>
                {% end %}
            </ul>
        </div>

        <div class="sp-text">
            <h2>即刻采购</h2>
            <p>每一个药销通会员都经过药材购工作人员的实地考查，从药材质量、药材价格以及按时供货率等各方面对供货商进行严格审核。</p>
            <p>这样，才能确保您的每次采购都放心无忧！</p>
            <div class="button">
                <a href="/purchase" class="btn btn-orange">立即邀请报价</a>
            </div>
        </div>
    </div>
</section>
{% end %}



{% block javascript %}
<script src="{{ static_url('js/jquery.min.js')}}"></script>
<script src="{{ static_url('js/bootstrap.min.js')}}"></script>
<script>
    $(function() {
        function Marquee(id) {
            this.$elem = $('#' + id);
            this.length   = this.$elem.find('li').length;
            this.length > 2 && this.init();
        }
        Marquee.prototype = {
            init: function() {
                this.pause = false;
                this.$ul = this.$elem.find('ul');
                this.point = this.$ul.height();
                this.posY = 0;
                this.clone();
                this.bindEvent();
                this.autoPlay();
            },
            clone: function() {
                this.$ul.append(this.$ul.html());
            },
            doPlay: function() {
                if (this.posY >= this.point) {
                    this.posY = 0;
                } else {
                    this.$elem.scrollTop(++this.posY);
                }
            },
            autoPlay: function() {
                var self = this;
                this.timer && clearInterval(this.timer);
                this.timer = setInterval(function() {
                    !self.pause && self.doPlay();
                }, 60);
            },
            bindEvent: function() {
                var self = this;
                self.$elem.on({
                    'mouseenter': function() {
                        self.pause = true;
                    },
                    'mouseleave': function() {
                        self.pause = false;
                    },
                })
            }
        }
        new Marquee('jMarquee');
    });
</script>

<script>
    //var ran = (new Date).getTime();
    //$.get('footer.html?ran=' + ran, function(data) {
    //    $('body').append(data);
    //})
</script>
{% end %}

