{% extends "base.html" %}
{% block container %}
{% import config %}
{% from urllib import urlencode %}
<link rel="stylesheet" href="{{ static_url('css/supplier.css')}}" />
<section class="sec">
    <div class="sp-banner">实力供货商</div>

    <div class="wrap cf sp-list">
        <div class="list">
            <div class="search">
                <div class="form">
                    <form>
                        <label>主营品种：</label>
                        <input type="text" class="ipt" id="querystr" placehodler="品种名" value="{% if query %}{{query}}{% end %}">
                        <button type="button" id="query" class="btn btn-orange">搜索</button>
                    </form>
                </div>
                <div class="hot">
                    <span>热门品种：</span>
                    {% for index,item in enumerate(hot) %}
                    {% if query==item %}
                    <a href="/supplier?{{urlencode({'query':item.encode('utf8')})}}" class="c-orange">{{item}}</a>
                    {% else %}
                    <a href="/supplier?{{urlencode({'query':item.encode('utf8')})}}">{{item}}</a>
                    {% end %}
                    {% end %}
                </div>
            </div>

            <div class="total">
                <a href="/purchase" class="btn btn-orange fr">邀请药销通会员报价</a>
                <span>共入驻实力供货商 <b>{{total}}</b> 位，其中药销通会员 <b>{{membernum}}</b> 位。</span>
            </div>

            <div class="p-list">
                <ul class="yc-ul">
                    {% for item in suppliers %}
                    <li>
                        <div class="intro">
                            <h3 class="name">
                                {{ item["name"] }}
                                {% if item["ismember"]==1 %}
                                <i class="iconfont icon-vip"></i>
                                {% end %}
                                {% if item["isquality"]==1 %}
                                <i class="iconfont icon-verify"></i>
                                {% end %}
                            </h3>
                            <p>累计报价：<b>{{item["quote"]}}</b>次  |  累计供货：<b>{{ len(item["transactions"])}}</b>次</p>
                            <p>主营品种：{{ ",".join( item["supply_variety_name"])}}</p>
                            <p class="desc">{% if item["introduce"]=="" %}{{item["name"]}}常年来以价格低，药材质量稳定，送货及时等优势取得了客户的信赖。
                                                    现已入驻药优优平台，希望依托该平台为更多客户提供服务！{% else %}{{ item["introduce"] }} {% end %}</p>
                            {% if item["ismember"]==1 %}
                            <p class="link">
                                <a href="/supplier/detail?qid={{item['qid']}}" class="btn">进入供货商主页</a>
                            </p>
                            {% end %}
                        </div>
                        <div class="transaction">
                            <dl>    
                                <dt>供货记录</dt>
                                {% if len(item["transactions"])!=0 %}
                                {% for transaction in item["transactions"] %}
                                <dd><span><b>{{ transaction.quantity }}</b>公斤</span><em>{{ transaction["purchasename"]}}</em></dd>
                                {% end %}
                                {% else %}
                                <dd>还没有任何供货记录。</dd>
                                {% end %}
                            </dl>
                        </div>
                    </li>
                    {% end %}

                </ul>
            </div>

            <!--
            <div class="pagin">
                <div class="skip">
                    共17页，到第<input type="text" id="jPageSkip" maxlength="4" value="1" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onkeydown="javascript:if(event.keyCode==13){page_jump();return false;}" class="ipt">页
                    <button onclick="page_jump();" type="button" class="btn-skip">确定</button>
                </div>
                <div class="num">
                    <span class="disabled">&lt;</span>
                    <span class="curr">1</span>
                    <a href="?page=2">2</a>
                    <a href="?page=3">3</a>
                    <a href="?page=4">4</a>
                    <a href="?page=5">5</a>
                    <a href="?page=6">6</a>
                    <a href="?page=7">7</a>
                    <i>...</i>
                    <a href="?page=199">199</a>
                    <a href="?page=200">200</a>
                    <a href="?page=2">&gt;</a>
                </div>
            </div>
            -->
              {% module PageNav(nav=nav, show=True) %}
        </div>
        <div class="side">
            <!--
            <div class="vip">
                <div class="desc">
                    <h3>药销通会员优势</h3>
                    <p>专享<i class="iconfont icon-vip"></i>身份标识</p>
                    <p>个性化的展示主页</p>
                    <p>增加十倍报价次数</p>
                    <p>报价信息优先显示</p>
                </div>
                <div class="join">
                    <a href="#">申请成为药销通会员</a>
                </div>
            </div>
            -->

            <div class="ranklist">
                <h3>供货排行榜 </h3>
                <ul class="yc-ul">
                    {% for item in rankuser %}
                    <li><a {% if item.member!=-1 %} href="/supplier/detail?qid={{item.qid}}" {% else %} href="#" {% end %} title="{{item.name}}">{{item.name}}</a></li>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% end %}



{% block javascript %}
<script src="{{ static_url('js/jquery.min.js')}}"></script>
<script src="{{ static_url('js/bootstrap.min.js')}}"></script>
<script>
</script>

<script>
    //var ran = (new Date).getTime();
    //$.get('footer.html?ran=' + ran, function(data) {
    //    $('body').append(data);
    //})
    $("#query").click(function() {
                var query = $("#querystr").val();

                if(query!=""){
                url='/supplier?query='+query;

                url=encodeURI(url)
                window.location.href=url;
                }

            });
</script>
{% end %}