{% extends "base.html" %}
{% block title %}
发采购_自动对接全国货源极速报价_药材购
{% end %}
{% block container %}
<link rel="stylesheet" href="{{ static_url('css/order.css')}}" />
<section class="sec">
    <div class="container">
        <div class="yc-bubble purchase-bubble">
            <div class="tag">即刻采购</div>
            <div class="step">
                <span>发布采购计划</span>
                <span>精准匹配推送</span>
                <span>供应商报价</span>
                <span>选择意向供应商洽谈</span>
                <span>安心交易</span>
            </div>
            <div class="txt">饮片厂、药厂发布采购计划、经营公司、经营户发布找货需求，海量产地供应商给您急速报价。</div>
        </div>

        <div class="yc-purchase-form">
            <form action="/mypurchase/update/{{purchase.id}}" method="post" id="registerForm" autocomplete="off">
            <div class="item">
                <div class="hd">
                    <h2 class="tit">采购单位/采购人</h2>
                </div>
                <div class="bd">
                    <div> <!--  class="hide" -->
                        <h3 class="company">
                            <strong>{% if user.get("name")%}{{ user.name }}{% end %}</strong>
                            <!--<span class="verify"><i class="iconfont icon-radio-yes"></i> 身份真实</span>-->
                            <span class="category">
                                {% if user.type == 1%}
                                饮片厂
                                {% elif user.type == 2%}
                                药厂
                                {% elif user.type == 3%}
                                药材经营公司
                                {% elif user.type == 4%}
                                个体经营户
                                {% elif user.type == 5%}
                                合作社
                                {% elif user.type == 6%}
                                种植基地
                                {% elif user.type == 7%}
                                其他
                                {% elif user.type == 8%}
                                个人经营
                                {% elif user.type == 9%}
                                采购经理
                                {% elif user.type == 10%}
                                销售经理
                                {% end %}
                            </span>
                        </h3>
                        <div class="userinfo">
                            <i class="iconfont icon-user"></i><span>{{ user.nickname }}</span>
                            <i class="iconfont icon-mobile"></i><span>{{ user.phone }}</span>
                            <span class="tips">联系方式只对您挑选合意的供货商开放</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="item">
                <div class="hd">
                    <h2 class="tit">采购药材清单</h2>
                </div>
                <div class="bd">
                    <table id="jInventory">
                        <thead>
                            <tr>
                                <th></th>
                                <th>药材品种*</th>
                                <th>规格等级*</th>
                                <th>采购数量</th>
                                <th>质量要求</th>
                                <th>产地要求</th>
                                <th>封顶价（裸价）</th>
                                <th>
                                    合格样例照
                                    <span class="pop">
                                        <i class="iconfont icon-question"></i>
                                        <span class="pop-msg">上传合格品样例照<br>供应商更懂你<br>1分钟教会你拍样例照</span>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for purchaseinfo in purchase.purchaseinfo%}
                            <tr>
                                <td>
                                    <i class="iconfont icon-close del"></i>
                                </td>
                                <td>
                                    <div>
                                        <input class="ipt ipt-variety" type="text" name="nVariety" autocomplete="off" value="{{purchaseinfo.name}}" varietyid="{{purchaseinfo.varietyid}}" origin="{{purchaseinfo.allorigin}}">
                                        <span class="error"></span>
                                    </div>
                                </td>
                                <td>
                                    <dl class="yc-select">
                                        <dt data-val="{{purchaseinfo.specification}}">{{purchaseinfo.specification}}</dt>
                                        <dd>
                                            {% for spec in purchaseinfo.allspec%}
                                            <span data-val="{{spec}}">{{spec}}</span>
                                            {% end %}
                                        </dd>
                                    </dl>
                                    <input type="hidden" name="nRank" value="{{purchaseinfo.specification}}">
                                    <span class="error"></span>
                                </td>
                                <td>
                                    <input class="ipt ipt-quantity" type="text" name="nQuantity" value="{{purchaseinfo.quantity}}">
                                    <dl class="yc-select narrow">
                                        <dt data-val="{{purchaseinfo.unit}}">{{purchaseinfo.unit}}</dt>
                                        <dd>
                                            {% for unit in purchaseinfo.allunit%}
                                            <span data-val="{{unit}}">{{unit}}</span>
                                            {% end %}
                                        </dd>
                                    </dl>
                                    <input type="hidden" name="nUnit" value="{{purchaseinfo.unit}}">
                                </td>
                                <td>
                                    <div class="ipt text">
                                        <div class="tags"></div>
                                        <textarea class="ipt mul ipt-quality"  name="nQuality">{{purchaseinfo.quality}}</textarea>
                                        <!-- <input type="text" class="ipt ipt-quality" name="nQuality"> -->
                                    </div>
                                </td>
                                <td>
                                    <div class="ipt text area-wrap">
                                        <div class="tags"></div>
                                        <input class="ipt ipt-area" type="text" name="nArea" value="{{purchaseinfo.origin}}">
                                    </div>
                                </td>
                                <td>
                                    <input class="ipt ipt-price" type="text" name="nPrice" value="{{purchaseinfo.price}} ">
                                    <span class="unit">元/{% if purchaseinfo.allunit %}{{purchaseinfo.allunit[0]}}{%end%}</span>
                                </td>
                                <td>
                                    <span class="upload" {% if purchaseinfo.attachments %}style="display: none;"{% end %}>
                                        <i class="iconfont icon-camera img"></i>
                                        <input name="filename" type="file" />
                                    </span>
                                    <p class='thumb'{% if purchaseinfo.attachments %}style="display: block;"{% end %}>
                                        <img src="{% if purchaseinfo.attachments %}{{purchaseinfo.attachments.attachment}}{% end %}" alt="">
                                        <i class="del-pic" title="删除"></i>
                                    </p>
                                </td>
                            </tr>
                            {% end %}
                        </tbody>
                        <tfoot class="hide" data-name="templete">
                            <tr>
                                <td>
                                    <i class="iconfont icon-close del"></i>
                                </td>
                                <td>
                                    <div>
                                        <input class="ipt ipt-variety" type="text" name="nVariety" autocomplete="off">
                                        <span class="error"></span>
                                    </div>
                                </td>
                                <td>
                                    <dl class="yc-select">
                                        <dt></dt>
                                        <dd></dd>
                                    </dl>
                                    <input type="hidden" name="nRank">
                                    <span class="error"></span>
                                </td>
                                <td>
                                    <input class="ipt ipt-quantity" type="text" name="nQuantity">
                                    <dl class="yc-select narrow">
                                        <dt></dt>
                                        <dd></dd>
                                    </dl>
                                    <input type="hidden" name="nUnit">
                                </td>
                                <td>
                                    <div class="ipt text">
                                        <div class="tags"></div>
                                        <textarea class="ipt mul ipt-quality"  name="nQuality"></textarea>
                                        <!-- <input type="text" class="ipt ipt-quality" name="nQuality"> -->
                                    </div>
                                </td>
                                <td>
                                    <div class="ipt text area-wrap">
                                        <div class="tags"></div>
                                        <input class="ipt ipt-area" type="text" name="nArea">
                                    </div>
                                </td>
                                <td>
                                    <input class="ipt ipt-price" type="text" name="nPrice">
                                    <span class="unit">元/公斤</span>
                                </td>
                                <td>
                                    <span class="upload">
                                        <i class="iconfont icon-camera img"></i>
                                        <input name="filename" type="file" />
                                    </span>
                                    <p class='thumb'></p>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="plus" id="jInventoryPlus">
                        <span class="btn btn-gray add"><i class="iconfont icon-plus"></i>增加一行</span>
                        <!--<span class="btn btn-gray import"><i class="iconfont icon-excel"></i> 从Excel导入</span>-->
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="hd">
                    <h2 class="tit">交收要求</h2>
                </div>
                <div class="bd">
                    <div class="group">
                        <div class="txt mid">
                            <span>*交货地</span>
                        </div>
                        <div class="cont">
                            <dl class="yc-select" id="jProvince">
                                <dt data-val="{{area.parentid}}">{% for province in provinces %}{% if province.id == area.parentid%}{{province.areaname}}{%end%}{% end %}</dt>
                                <dd>
                                    {% for province in provinces %}
                                    <span data-val="{{province.id}}">{{province.areaname}}</span>
                                    {% end %}
                                </dd>
                            </dl>
                            <dl class="yc-select" id="jCity">
                                <dt data-val="{{area.id}}">{{area.areaname}}</dt>
                                <dd>
                                    {% for c in city %}
                                    <span data-val="{{c.id}}">{{c.areaname}}</span>
                                    {% end %}
                                </dd>
                            </dl>
                            <input type="hidden" name="address" id="address" value="{{area.id}}">
                            <label><input class="cbx" type="checkbox" id="jAddress" {% if purchase.areaid == 0 %}checked{% end %}>亲自上门看货提货</label>
                            <span class="hide" id="jAddressError">请选择地址</span>
                            <span class="tips">若期望报价含运费，则需告知交货地</span>
                        </div>
                    </div>

                    <div class="group">
                        <div class="txt"></div>
                        <div class="cont">
                            <span class="fold" id="jFold">展开其他交收及资质要求<i class="icons icons-down"></i></span>
                        </div>
                    </div>

                    <div class="group hide">
                        <div class="txt">
                            <span>发票要求</span>
                        </div>
                        <div class="cont" id="jInvoice">
                            <label><input class="cbx" type="radio" name="invoice" value="1" {% if purchase.invoice == 1 %}checked{% end %}>无需发票</label>
                            <label><input class="cbx" type="radio" name="invoice" value="2" {% if purchase.invoice == 2 %}checked{% end %}>普通发票</label>
                            <label><input class="cbx" type="radio" name="invoice" value="3" {% if purchase.invoice == 3 %}checked{% end %}>增值税发票</label>
                        </div>
                    </div>

                    <div class="group hide">
                        <div class="txt">
                            <span>交易及付款</span>
                        </div>
                        <div class="cont" id="jPaytype">
                            <!--<label><input class="cbx" type="radio" name="paytype" value="1" {% if purchase.pay == 1 %}checked{% end %}>药材购“安心交易”（预付全款）<i class="iconfont icon-question"></i></label>-->
                            <label><input class="cbx" type="radio" name="paytype" value="2" {% if purchase.pay == 2 %}checked{% end %}>双方直接交易，验证合格后<input class="ipt ipt-date" name="payday" type="text" value="{{purchase.payday}}">天内付款</label>
                            <label><input class="cbx" type="radio" name="paytype" value="3" {% if purchase.pay == 3 %}checked{% end %}>其他 <input class="ipt ipt-other" name="payinfo" type="text" value="{{purchase.payinfo}}"></label>
                            <span class="tips">勾选你可接受的交易及付款方式，供应商会针对性的报价</span>
                        </div>
                    </div>

                    <div class="group hide">
                        <div class="txt">
                            <span>验收及包装要求</span>
                        </div>
                        <div class="cont">
                            <textarea class="ipt desc" id="jDemand" name="">{{purchase.accept}}</textarea>
                        </div>
                    </div>

                    <div class="group hide">
                        <div class="txt">
                            <span>寄样</span>
                        </div>
                        <div class="cont">
                            <label class="mb10"><input class="cbx" type="checkbox" name="" id="jSample" {% if purchase.send == 1%}checked{% end %}>报价必须寄样</label>
                            <textarea class="ipt desc {% if purchase.send != 1%}hide{% end %}" id="jContact" name="">{{purchase.receive}}</textarea>
                        </div>
                    </div>

                    <div class="group hide">
                        <div class="txt">
                            <span>补充说明</span>
                        </div>
                        <div class="cont">
                            <textarea class="ipt desc" id="jReplenish" name="">{{purchase.other}}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item hide" id="jHide2">
                <div class="hd">
                    <h2 class="tit">供应商要求</h2>
                    <div class="fold"><i class="iconfont icon-fold"></i></div>
                </div>
                <div class="bd">
                    <div class="group">
                        <div class="txt">
                            <span>供应商资质</span>
                        </div>
                        <div class="cont" id="jPermit">
                            <label><input class="cbx" type="checkbox" name="permit1" value="1" {% if '1' in purchase.supplier %}checked{% end %}>必须有营业执照（公司/合作社供/经营户），不接受个人</label>
                            <label><input class="cbx" type="checkbox" name="permit2" value="2" {% if '2' in purchase.supplier %}checked{% end %}>具备GSP资质</label>
                            <label><input class="cbx" type="checkbox" name="permit3" value="3" {% if '3' in purchase.supplier %}checked{% end %}>具备GMP资质</label>
                        </div>
                    </div>
                    <div class="group">
                        <div class="txt">
                            <span>其它要求</span>
                        </div>
                        <div class="cont">
                            <textarea class="ipt desc" id="jOthers" name="">{{purchase.remark}}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bd">
                    <div class="group">
                        <div class="txt">
                            <span>有效期</span>
                        </div>
                        <div class="cont" id="jDeadline">
                            <label><input class="cbx" type="radio" name="deadline" value="3" {% if purchase.term == 3 %}checked{% end %}>3天</label>
                            <label><input class="cbx" type="radio" name="deadline" value="7" {% if purchase.term == 7 %}checked{% end %}>7天</label>
                            <label><input class="cbx" type="radio" name="deadline" value="15" {% if purchase.term == 15 %}checked{% end %}>15天</label>
                            <label><input class="cbx" type="radio" name="deadline" value="30" {% if purchase.term == 30 %}checked{% end %}>30天</label>
                            <label><input class="cbx" type="radio" name="deadline" value="0" {% if purchase.term == 0 %}checked{% end %}>常年采购</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <button class="btn btn-orange submit" type="button" id="jSubmit">立即发布，坐等报价</button>
            </div>
            </form>
        </div>
    </div>
</section>
<form action="/purchasesuccess" method="post" id="purchaseForm" autocomplete="off">
    {% raw xsrf_form_html() %}
    <input type="hidden" name="varids" id="varids">
    <input type="hidden" name="purchaseid" id="purchaseid">
</form>

<!-- 删除 -->
<div class="modal fade" id="jModalDelete" tabindex="-1" role="dialog" aria-labelledby="tit1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit1">删除</h4>
            </div>
            <div class="modal-body">
                <div class="txt">
                    <p>您确认删除这一行吗？</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-orange">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- 导入 -->
<div class="modal fade" id="jModalImport" tabindex="-1" role="dialog" aria-labelledby="tit2">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit2">批量导入</h4>
            </div>
            <div class="modal-body">
                <div class="txt">
                    <p><i>1</i><a href="#" target="_blank">下载Excel模板</a></p>
                    <p><i>2</i>填写并保存Excel文件</p>
                    <p><i>3</i><span class="btn btn-orange upload">上传Excel文件<input type="file"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 药材品种 -->
<div class="variety-tags" id="jVarietyTags">
    <div class="inner">
        <dl class="search"><dd></dd></dl>
        <dl>
            <dt>最近采购品种</dt>
            <dd>
                {% if 'mypurchasevar' in globals() %}
                {% for mp in mypurchasevar %}
                <span varietyid="{{mp.id}}" origin="{{mp.origin}}">{{mp.name}}</span>
                {% end %}
                {% end %}
            </dd>
        </dl>
        <dl>
            <dt>主要经营/采购品种</dt>
            <dd>
                {% if 'varietys' in globals() %}
                {% for variety in varietys %}
                <span varietyid="{{variety.id}}" origin="{{variety.origin}}">{{variety.name}}</span>
                {% end %}
                {% end %}
            </dd>
        </dl>
    </div>
</div>

<!-- 质量要求 -->
<div class="quality-tags" id="jQualityTags">
    <div class="inner">
        <dl class="search"><dd></dd></dl>
        <dl>
            <dt>通用要求</dt>
            <dd>
                <span>2010药典标准</span>
                <span>无虫蛀</span>
                <span>无霉</span>
                <span>无变色</span>
                <span>浙贝母</span>
                <span>景天红花散</span>
            </dd>
        </dl>
        <dl>
            <dt>三七特性</dt>
            <dd>
                <span>黄连</span>
                <span>三七</span>
                <span>当归</span>
                <span>白芍</span>
            </dd>
        </dl>
    </div>
</div>

<!-- 产地要求 -->
<div class="area-tags" id="jAreaTags">
    <div class="inner">
        <dl class="search"><dd></dd></dl>
        <dl>
            <dt>常见产地</dt>
            <dd></dd>
        </dl>
    </div>
</div>


{% end %}
{% block javascript %}
<script src="{{ static_url('js/jquery.validate.min.js')}}"></script>
<script src="{{ static_url('js/fileupload/jquery.ui.widget.js')}}"></script>
<script src="{{ static_url('js/fileupload/jquery.iframe-transport.js')}}"></script>
<script src="{{ static_url('js/fileupload/jquery.fileupload.js')}}"></script>
<script src="{{ static_url('js/order.js')}}"></script>
{% if purchase.areaid == 0 %}
<script>
    $('#jAddress').trigger('click');
</script>
{% end %}
{% if purchase %}
<script>
    $("#jFold").trigger('click');
</script>
{% end %}
{% end %}