<footer>
    <p class="text-center"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>药采购&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#9d9d9d;">药材买卖的专业助手</span></p>
    <p class="text-center"><a href="#">初心</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">合作伙伴</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">提建议</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">业务联系</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/register">立即入驻</a>
    </p>
    <!--<p class="text-center text-info">Powered By <a href="https://github.com/zhouhang">kevin</a></p>-->
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins)
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ static_url('jquery/jquery.min.js') }}"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>