{% extends "base.html" %}
{% block container %}
    <header class="yc-header">
        <div class="yc-header-back">
            <a href="javascript:history.back();">
                <i class="iconfont icon-back"></i>
            </a>
        </div>
        <div class="yc-header-title">药材购，中药材卖货神器</div>

    </header>

    <section class="yc-content">
        <div class="introduce">
            <div class="pic">
                <img src="{{ static_url('images/banner-intro1.jpg')}}" width="100%" alt="">
            </div>
            <div class="intro">
                <h2>药材购，只为真正帮药商卖货</h2>
                <p>已有 <b>{{data["accept_quote_user_num"]}}</b> 位药商与 <b>{{data["accept_company_num"]}}</b> 家药厂达成合作</p>
                <p>共计：<b>{{data["accept_num"]}}</b> 批次大货，<b>{{data["sum_quantity"]}}</b> 吨</p>
                <p>累计撮合交易额：<em>{{data["sum_price"]}}</em> 万</p>
            </div>

            <div class="affiche">
                <ul>
                    <li>
                        <div class="inner">
                            <div class="txt">
                                <h3>交易现场</h3>
                                <p>亳州段老板通过药材购 与沪谯完成<b>2</b>吨五味子 交易。</p>
                            </div>
                            <div class="pic">
                                <img src="{{ static_url('uploads/trade1.jpg')}}" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="txt">
                                <h3>交易现场</h3>
                                <p>山东丰女士通过药材购 与永刚完成<b>1</b>吨徐长卿 交易。</p>
                            </div>
                            <div class="pic">
                                <img src="{{ static_url('uploads/trade2.jpg')}}" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="txt">
                                <h3>交易现场</h3>
                                <p>亳州董女士通过药材购 与沪谯完成<b>4</b>吨大青叶 交易。</p>
                            </div>
                            <div class="pic">
                                <img src="{{ static_url('uploads/trade3.jpg')}}" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="txt">
                                <h3>交易现场</h3>
                                <p>河南史老板通过药材购 与芍香药业完成<b>4</b>吨地 黄交易。</p>
                            </div>
                            <div class="pic">
                                <img src="{{ static_url('uploads/trade4.jpg')}}" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="intro">
                <h2>在药材购，到底如何做成生意？</h2>
                <dl>
                    <dt>四步操作，轻松交易  </dt>
                    <dd><i>①</i> 第一时间收到采购单通知<span>（包含有详细质量要求、产地要求、合格品样例照等）。</span></dd>
                    <dd><i>②</i> 药商手机在线报价<span>（传照片，写描述，定价格）。</span></dd>
                    <dd><i>③</i> 采购商评估并及时答复。</dd>
                    <dd><i>④</i> 达成交易意向，药材购顾问协助后续交易，安心供货。</dd>
                </dl>
                <dl>
                    <dt>或许你还关心</dt>
                    <dd><i>◆</i> 药材购会带来麻烦或骚扰吗？<span>不会！药材购只精准推送您主营品种的采购订单，为您打开销路，无多余骚扰。</span></dd>
                    <dd><i>◆</i> 药材购参与或干涉您的交易吗？<span>不会！只为你协调洽谈、验收、回款中的种种细节问题，帮您轻松交易！</span></dd>
                    <dd><i>◆</i> 是否收费？ <span>交易成后，收取千分之五服务费。</span></dd>
                </dl>
            </div>

            <div class="pic">
                <img width="100%" alt="" src="{{ static_url('images/banner-intro2.jpg')}}">
            </div>

            <div class="intro">
                <h2>药材购，有态度！</h2>
                <p><strong>药材购倡导诚信交易！</strong>倡导采购商精准描述采购需求及质量要求，并按照约定客观验收、及时付款；同时倡导供应商如实描述货源质量，诚意报价，按照采购商要求交付药材。<strong>让诚信更有价值。</strong></p>
                <p>药材购由职业药材信息人戴伟老师、原阿里巴巴资深产品经理、原搜狐技术架构师、13年经验的中药材购销专家联合发起，<strong>致力于用互联网技术赋能中药材流通及贸易</strong>，与行业一同认真探寻中药材产业升级之路。</p>
            </div>

            <div class="pic">
                <img width="100%" alt="" src="{{ static_url('images/banner-intro3.jpg')}}">
            </div>

            <div class="intro">
                <h2>他们已都来，你还在等什么？</h2>
                <p><i class="iconfont icon-earth"></i>已入驻药材购的知名药企</p>
                <ul>
                    <li><img src="{{static_url('images/brand_1.png')}}" alt=""></li>
                    <li><img src="{{static_url('images/brand_2.png')}}" alt=""></li>
                    <li><img src="{{static_url('images/brand_3.png')}}" alt=""></li>
                    <li><img src="{{static_url('images/brand_4.png')}}" alt=""></li>
                    <li><img src="{{static_url('images/brand_5.png')}}" alt=""></li>
                    <li><img src="{{static_url('images/brand_6.png')}}" alt=""></li>
                    <li><img src="{{static_url('images/brand_7.png')}}" alt=""></li>
                    <li><img src="{{static_url('images/brand_8.png')}}" alt=""></li>
                    <li><img src="{{static_url('images/brand_9.png')}}" alt=""></li>
                    <li><img src="{{static_url('images/brand_10.png')}}" alt=""></li>
                </ul>
            </div>

            <div class="intro join">
                <h2>已有 <em>{{data["total"]}}</em> 位供货商已入驻药材购<br>您还在等什么？</h2>
                <div class="button">
                    <a href="/register/next_url/" class="btn" id="join">立即加入</a>
                </div>
                <div class="yc-hotline">
                    <i class="iconfont icon-question"></i>
                    如有疑问，请致电药材购客服电话： 
                    <a href="tel:17309673939" target="_blank">173-0967-3939</a>
                </div>
            </div>
        </div>
    </section><!-- /yc-content -->

	
    <script src="{{static_url('js/jquery.min.js')}}"></script>
    <script src="{{static_url('js/bootstrap.min.js')}}"></script>
    <script src="{{static_url('js/app.js')}}"></script>
    <script>

$(function(){

    function isWeixinBrowser(){
        var ua = navigator.userAgent.toLowerCase();
        return (/micromessenger/.test(ua)) ? true : false ;
    }

    var url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx90e04052c49aa63e&redirect_uri=http://m.yaocai.pro/register/next_url/&response_type=code&scope=snsapi_userinfo&state=ycg#wechat_redirect";
    if(isWeixinBrowser()){
        $("#join").attr("href", url);
    }


});
</script>
{% end %}