<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>药材购介绍</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="yc-body">
    <header class="yc-header">
        <div class="yc-header-back">
            <a href="javascript:history.back();">
                <i class="iconfont icon-back"></i>
            </a>
        </div>
        <div class="yc-header-title">药材购，中药材卖货神器</div>

    </header><!-- /yc-header -->

    <footer class="yc-footer">
        <nav class="yc-nav">
            <ul>
                <li>
                    <a class="current" href="index.html">
                        <i class="iconfont icon-plane"></i>
                        <span>去报价</span>
                    </a>
                </li>
                <li>
                    <a href="yaocaigou.html">
                        <i class="iconfont icon-car"></i>
                        <span>发采购</span>
                    </a>
                </li>
                <li>
                    <a class="new-msg" href="center.html">
                        <i class="iconfont icon-center"></i>
                        <span>我的工作台</span>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>

    <section class="yc-content">
        <div class="introduce">
            <div class="pic">
                <img src="images/banner-intro1.jpg" width="100%" alt="">
            </div>
            <div class="intro">
                <h2>药材购，只为真正帮药商卖货</h2>
                <p>已有 <b>13</b> 位药商与 <b>18</b> 家药厂达成合作</p>
                <p>共计：<b>98</b> 批次大货，<b>76</b> 吨</p>
                <p>累计撮合交易额：<em>2657</em> 万</p>
            </div>

            <div class="affiche">
                <ul>
                    <li>
                        <div class="inner">
                            <div class="txt">
                                <h3>交易现场</h3>
                                <p>亳州段老板通过药材购 与沪谯完成<b>2</b>吨五味子 交易。</p>
                            </div>
                            <div class="pic">
                                <img src="uploads/trade1.jpg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="txt">
                                <h3>交易现场</h3>
                                <p>山东丰女士通过药材购 与永刚完成<b>1</b>吨徐长卿 交易。</p>
                            </div>
                            <div class="pic">
                                <img src="uploads/trade2.jpg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="txt">
                                <h3>交易现场</h3>
                                <p>亳州董女士通过药材购 与沪谯完成<b>4</b>吨大青叶 交易。</p>
                            </div>
                            <div class="pic">
                                <img src="uploads/trade3.jpg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="txt">
                                <h3>交易现场</h3>
                                <p>河南史老板通过药材购 与芍香药业完成<b>4</b>吨地 黄交易。</p>
                            </div>
                            <div class="pic">
                                <img src="uploads/trade4.jpg" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="intro">
                <h2>在药材购，到底如何做成生意？</h2>
                <dl>
                    <dt>四步操作，轻松交易  </dt>
                    <dd><i>①</i> 第一时间收到采购单通知<span>（包含有详细质量要求、产地要求、合格品样例照等）。</span></dd>
                    <dd><i>②</i> 药商手机在线报价<span>（传照片，写描述，定价格）。</span></dd>
                    <dd><i>③</i> 采购商评估并及时答复。</dd>
                    <dd><i>④</i> 达成交易意向，药材购顾问协助后续交易，安心供货。</dd>
                </dl>
                <dl>
                    <dt>或许你还关心</dt>
                    <dd><i>◆</i> 药材购会带来麻烦或骚扰吗？<span>不会！药材购只精准推送您主营品种的采购订单，为您打开销路，无多余骚扰。</span></dd>
                    <dd><i>◆</i> 药材购参与或干涉您的交易吗？<span>不会！只为你协调洽谈、验收、回款中的种种细节问题，帮您轻松交易！</span></dd>
                    <dd><i>◆</i> 是否收费？ <span>交易成后，收取千分之五服务费。</span></dd>
                </dl>
            </div>

            <div class="pic">
                <img width="100%" alt="" src="images/banner-intro2.jpg">
            </div>

            <div class="intro">
                <h2>药材购，有态度！</h2>
                <p><strong>药材购倡导诚信交易！</strong>倡导采购商精准描述采购需求及质量要求，并按照约定客观验收、及时付款；同时倡导供应商如实描述货源质量，诚意报价，按照采购商要求交付药材。<strong>让诚信更有价值。</strong></p>
                <p>药材购由职业药材信息人戴伟老师、原阿里巴巴资深产品经理、原搜狐技术架构师、13年经验的中药材购销专家联合发起，<strong>致力于用互联网技术赋能中药材流通及贸易</strong>，与行业一同认真探寻中药材产业升级之路。</p>
            </div>

            <div class="pic">
                <img width="100%" alt="" src="images/banner-intro3.jpg">
            </div>

            <div class="intro">
                <h2>他们已都来，你还在等什么？</h2>
                <p><i class="iconfont icon-earth"></i>已入驻药材购的知名药企</p>
                <ul>
                    <li><img src="images/brand_1.png" alt=""></li>
                    <li><img src="images/brand_2.png" alt=""></li>
                    <li><img src="images/brand_3.png" alt=""></li>
                    <li><img src="images/brand_4.png" alt=""></li>
                    <li><img src="images/brand_5.png" alt=""></li>
                    <li><img src="images/brand_6.png" alt=""></li>
                    <li><img src="images/brand_7.png" alt=""></li>
                    <li><img src="images/brand_8.png" alt=""></li>
                    <li><img src="images/brand_9.png" alt=""></li>
                    <li><img src="images/brand_10.png" alt=""></li>
                </ul>
            </div>

            <div class="intro join">
                <h2>已有 <em>13927</em> 位供货商已入驻药材购<br>您还在等什么？</h2>
                <div class="button">
                    <a href="#" class="btn">立即加入</a>
                </div>
                <div class="yc-hotline">
                    <i class="iconfont icon-question"></i>
                    如有疑问，请致电药材购客服电话： 
                    <a href="tel:17309673939" target="_blank">173-0967-3939</a>
                </div>
            </div>
        </div>
    </section><!-- /yc-content -->

	
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script>

$(function(){

    function loadPurchaseList() {
        $.ajax({
            type: 'GET',
            url: 'json/update.json',
            dataType: 'json',
            success: function(data){
                if (!data.list) {
                    return false;
                }
                var result = toHtml(data.list);

            },
            error: function(xhr, type){
                lpPopover('网络连接超时，请您稍后重试!');
            }
        });
    }

    // loadPurchaseList();

    // 状态及文本颜色，后台返回的0或者1,0表示等待报价，字体颜色为蓝色；1表示报价结束，字体颜色为红色。
    var getStatus = {
        txt: ['等待报价', '报价结束'],
        col: ['status-wait', 'status-finish']
    }
    var toHtml = function(data) {
        var html = [];
        for (var i = 0; i < data.length; i++) {
            var temp = [];
            temp.push('<li>');
            temp.push( '<a href="' + data[i].href + '">');
            temp.push(     '<div class="hd">');
            temp.push(         '<h3 class="company">');
            temp.push(             '<i class="iconfont icon-user"></i>');
            temp.push(             '<span>' + data[i].company + '</span>');
            temp.push(         '</h3>');
            temp.push(         '<div class="yc-cat">' + data[i].category + '</div>');
            temp.push(     '</div>');
            temp.push(     '<div class="bd">');
            temp.push(         '<h4 class="name"><i class="iconfont icon-arrow-right"></i>' + data[i].name + '</h4>');
            temp.push(         '<div class="tag">' + data[i].tag + '</div>');
            temp.push(         '<div class="weight">' + data[i].weight + '</div>');
            temp.push(         '<div class="desc">');
            data[i].thumb&&temp.push( '<p class="thumb"><img src="' + data[i].thumb + '" alt=""></p>');
            temp.push(             '<p>' + data[i].desc + '</p>');
            temp.push(         '</div>');
            temp.push(     '</div>');
            temp.push(     '<div class="ft">');
            temp.push(         '<div class="status">');
            temp.push(              '<span class="' + getStatus.col[data[i].status] + '">' + getStatus.txt[data[i].status] + '</span>');
            data[i].total&&temp.push( '（已有<b>' + data[i].total + '</b>个报价）');
            temp.push(         '</div>');
            temp.push(         '<div class="time' + (data[i].time === 1 ? ' high' : '') + '"><i class="iconfont icon-time"></i>剩余<b>' + data[i].time + '</b>天</div>');
            temp.push(     '</div>');
            temp.push( '</a>');
            temp.push('</li>');
            html.push(temp.join(''));
        }
        return html.join('');
    }
    // dropload
    $('.list').dropload({
        scrollArea : window,
        loadUpFn : function(me){
            $.ajax({
                type: 'GET',
                url: 'json/update.json',
                dataType: 'json',
                success: function(data){
                    if (!data.list) {
                        return false;
                    }
                    me.unlock();
                    me.isDate = true;
                    var result = toHtml(data.list);
                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        $('.list ul').html(result);
                        // 每次数据加载完，必须重置
                        // me.resetload();
                        var msg = Math.random() > .5 ? '暂无新的采购单推荐' : '药材购为您新推荐8个采购单'; // 随机显示2种提示语，只做演示使用
                        me.$domUp.html('<div class="dropload-msg">' + msg + '</div>');
                        setTimeout(function(){
                            me.resetload();
                        }, 2e3);
                    },1000);
                },
                error: function(xhr, type){
                    lpPopover('网络连接超时，请您稍后重试!');
                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        },
        loadDownFn : function(me){
            $.ajax({
                type: 'GET',
                url: 'json/update.json',
                dataType: 'json',
                success: function(data){
                    if (!data.list) {
                        return false;
                    }
                    var result = toHtml(data.list);

                    if(data.status === 'nomore'){
                        // 锁定
                        me.lock();
                        // 无数据
                        me.noData();
                        me.resetload();
                        return;
                    }

                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        $('.list ul').append(result);
                        // 每次数据加载完，必须重置
                        me.resetload();
                    },1000);
                },
                error: function(xhr, type){
                    lpPopover('网络连接超时，请您稍后重试!');
                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        },
        threshold : 50
    });

});
</script>
</body>
</html>