{% extends "base.html" %}
{% block container %}
<header class="yc-header">
    <div class="yc-header-title">我的工作台</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-user">
        <a class="myinfo" href="/userinfo">
            <div class="avatar">
                <img src="static/images/avatar.jpg" alt="">
            </div>
            <div class="info">
                <P>{{ user.username }}({{ user.name }})</P>
                <p>{{ user.nickname }}</p>
                <!--<p class="gray">未认证</p>-->
                <!-- <p class="gray"><i class="iconfont icon-radio-yes"></i> 通过认证，身份真实有效</p> -->
                <span class="label label-warning" onClick="location.href='/logout';return false;">退出登录</span>
            </div>
            <div class="edit">
                {% if user.nickname is None or user.type is None or user.varietyids == ""%}
                <span>资料不完整</span>
                {% end %}
                <i class="iconfont icon-more"></i>
            </div>
        </a>
        {% if unread != 0%}
        <a class="mes" href="/news/type/{{unreadtype}}">
            <i class="iconfont icon-bell"></i>
            <b>{{ unread }}</b>
            <span>条新消息</span>
        </a>
        {% end %}
    </div>

    <div class="yc-user">
        <div class="hd">
            <h2><i class="iconfont icon-pagelines"></i>卖货情况</h2>
        </div>
        <div class="bd">
            <div class="total">
                <div class="sum clearfix">
                    <div class="col">
                        <a href="/quotelist">
                            <span>{{quotecount}}</span>个<em>发出报价</em>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <span>22</span>个<em>收到答复</em>
                        </a>
                    </div>
                </div>

                
            </div>
            <div class="list">
                <ul>
                    {% for i,s in enumerate(sell) %}
                    {% if i > 5 %}
                    {% break %}
                    {% end %}
                    <li>
                        <a href="/quotedetail/quoteid/{{s.content}}/nid/{{s.id}}">
                            <i class="iconfont {% if faces.has_key(s.content) and faces[s.content] == 1 %}icon-face{% elif faces.has_key(s.content) and faces[s.content] == 2 %}icon-frown{% else %}icon-envelope{% end %} status"></i>
                            <span>{{s.title}}</span>
                            <span class="time">{{s.datetime}}</span>
                            <i class="iconfont icon-more arrow"></i>
                        </a>
                    </li>
                    {% end %}
                    <li class="more">
                        <a href="/news/type/1">
                            <span>更多卖货消息</span>
                            <i class="iconfont icon-more arrow"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="yc-user">
        <div class="hd">
            <h2><i class="iconfont icon-car"></i>采购情况</h2>
        </div>
        <div class="bd">
            <!-- start 有消息 -->
            <div class="total">
                <div class="sum clearfix">
                    <div class="col">
                        <a href="/reply">
                            <span>{{len(purchaseinfos)}}</span>批<em>发布采购</em>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/reply">
                            <span>{{len(quotes)}}</span>个<em>收到报价</em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list no-bd">
                <h3>最新报价</h3>
                <ul>
                    {% for i,p in enumerate(purchase) %}
                    {% if i > 5 %}
                    {% break %}
                    {% end %}
                    <li>
                        <a {% if p.status == 0 %}class="unread"{% end %} href="/replydetail?pid={{p.content}}&nid={{p.id}}">
                            <i class="iconfont icon-envelope status"></i>
                            <span>{{p.title}}</span>
                            <i class="iconfont icon-more arrow"></i>
                        </a>
                    </li>
                    {% end %}
                    {% if unreadquote %}
                    <li class="dispose">
                        <a href="/reply">立即处理</a>
                        <i class="iconfont icon-exclamation"></i>您有<span>{{unreadquote}}</span>个报价未答复
                    </li>
                    {% end %}
                    <li class="more">
                        <a href="/news/type/2">
                            <span>更多采购消息</span>
                            <i class="iconfont icon-more arrow"></i>
                        </a>
                    </li>
                </ul>
            </div><!-- end 有消息 -->
        </div>
    </div>

    <div class="yc-contentus">
        <i class="iconfont icon-question"></i>
        <a href="tel:17309673939">有疑问，直接电话药材购团队</a>
    </div>
</section><!-- /yc-content -->
{% end %}