{% extends "basenofoot.html" %}
{% block container %}
<header class="yc-header">
    <div class="yc-header-back">
        <a href="javascript:history.back();">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">忘记密码</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-form yc-login">
        <div class="step">
            <ul>
                <li>
                    <span>1</span>
                    <strong>验证手机</strong>
                    <b class="iconfont icon-more"></b>
                </li>
                <li class="curr">
                    <span>2</span>
                    <strong>设置新密码</strong>
                </li>
            </ul>
        </div>
        <form action="/setpwd" method="post">
            {% raw xsrf_form_html() %}
            <div class="item">
                <i class="iconfont icon-lock"></i>
                <input class="ipt" type="password" placeholder="6-20位字母、数字" value="" name="password" id="jPassword" autocomplete="off">
                <span class="error"></span>
            </div>
            <div class="item">
                <i class="iconfont icon-lock"></i>
                <input class="ipt" type="password" placeholder="确认新密码" value="" name="repassword" id="jRepassword" autocomplete="off">
                <span class="error"></span>
            </div>
            <div class="button">
                <input name="smscode" type="hidden" value="{{smscode}}" />
                <button class="submit" id="jSubmit" type="submit">提交</button>
            </div>
        </form>
    </div>
</section><!-- /yc-content -->

<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/app.js') }}"></script>
<script>
!(function($){

    var $pwd1 = $('#jPassword'),
        $pwd2 = $('#jRepassword');

    function checkPwd1() {
        var val = $pwd1.val();
        if (!val) {
            $pwd1.next().html('请输入新密码').show();
        } else if (val.length < 6 || val.length > 20) {
            $pwd1.next().html('密码长度6-20位字母、数字').show();
        } else {
            $pwd1.next().html('').hide();
            return true;
        }
        $pwd1.focus();
        return false;
    }
    function checkPwd2() {
        var val = $pwd2.val();
        if (!val) {
            $pwd2.next().html('请确认新密码').show();
        } else if (val !== $pwd1.val()) {
            $pwd2.next().html('两次输入的密码不一致').show();
        }  else {
            $pwd2.next().html('').hide();
            return true;
        }
        $pwd2.focus();
        return false;
    }
    function checkIpt() {
        if (checkPwd1() && checkPwd2()) {
            return true;
        }
        return false;
    }
    // 保存
    $('#jSubmit').on('click', function() {
        return checkIpt();
    });

    $('body').on('click', function() {
        $('.error').html('').hide();
    })



}(jQuery));
</script>
{% end %}