{% extends "basenofoot.html" %}
{% block container %}
<header class="yc-header">
    <div class="yc-header-back">
        <a href="javascript:history.back();">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">忘记密码</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-form yc-login">
        <div class="step">
            <ul>
                <li class="curr">
                    <span>1</span>
                    <strong>验证手机</strong>
                    <b class="iconfont icon-more"></b>
                </li>
                <li>
                    <span>2</span>
                    <strong>设置新密码</strong>
                </li>
            </ul>
        </div>
        <form action="/forgetpwd" method="post">
            {% raw xsrf_form_html() %}
            <div class="item">
                <i class="iconfont icon-user"></i>
                <input class="ipt" id="jUsername" type="text" name="phone" value="" placeholder="手机号" />
                <span class="error"></span>
            </div>
            <div class="item">
                <i class="iconfont icon-lock"></i>
                <input class="ipt" id="jCode" type="text" value="" name="smscode" placeholder="验证验" />
                <span class="error"></span>
                <button type="button" id="jSendCode" class="btn-send">获取验证码</button>
            </div>
            <div class="button">
                <button class="submit" id="jSubmit" type="submit">下一步</button>
            </div>
        </form>
    </div>
</section><!-- /yc-content -->

<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/app.js') }}"></script>
<script>
!(function($){

    var $username = $('#jUsername'),
        $code = $('#jCode'),
        reg = /^1[34568]\d{9}$|^01[34568]\d{9}$/;

    function checkUsername() {
        var val = $username.val();
        if (!val) {
            $username.next().html('请输入手机号').show();
        } else if (!reg.test(val)) {
            $username.next().html('手机号格式错误').show();
        } else {
            $username.next().html('').hide();
            return true;
        }
        $username.focus();
        return false;
    }
    function checkCode() {
        var val = $code.val();
        if (!val) {
            $code.next().html('请输入手机验证码').show();
        } else {
            $code.next().html('').hide();
            return true;
        }
        $code.focus();
        return false;
    }
    function checkIpt() {
        if (checkUsername() && checkCode()) {
            return true;
        }
        return false;
    }
    // 保存
    $('#jSubmit').on('click', function() {
        return checkIpt();
    });

    $('body').on('click', function() {
        $('.error').html('').hide();
    })


    var txt = "秒重新获取",
        second = 0, //间隔时间，单位：秒
        $send = $("#jSendCode");

    // 短信验证码
    var sendMessageCode = {
        send: function() {
            var obj = this;
            $.ajax({
                url: '/getsmscodeforpwd',
                dataType: 'json',
                data: 'phone='+$username.val(),
                type: 'POST',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                },
                success: function(data) {
                    if (data.status === 'success') {
                        $send.text(second + txt).prop('disabled', true);
                        obj.lock();
                        lpPopover(data.message);
                    }else{
                        lpPopover(data.message);
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    lpPopover('网络连接超时，请您稍后重试!');
                }
            })
        },
        lock: function() {
            var that = this;
            that.timer && clearInterval(that.timer);
            that.timer = setInterval(function() {
                second --;
                $send.text(second + txt).prop('disabled', true);
                if (second === 0) {
                    clearInterval(that.timer);
                    $send.text("获取验证码").prop('disabled', false);
                }
            }, 1e3);
        }
    }

    $send.on("click", function() {
        if (checkUsername() && second === 0) {
            second = 60;
            sendMessageCode.send();
        }
        return false;
    })

}(jQuery));
</script>
{% end %}