{% extends "base.html" %}
{% block container %}
{% raw xsrf_form_html() %}

<header class="yc-header">
    <div class="yc-header-title">药优优</div>
</header><!-- /yc-header -->

<section class="yc-content">
    {% if handler.session.has_key('user') and handler.session.get('user') != ""  %}
    <div class="yc-tag-list">
        <h2 class="hd"><i class="iconfont icon-heart"></i>我的主营品种</h2>
        <ul class="bd">
            {% for variety in varieties %}
            <li><span>{{ variety.name }}</span></li>
            {% end %}
            <li><a href="/user/attention"><i class="iconfont icon-plus"></i></a></li>
        </ul>
    </div>
    <!--
    <div class="yc-tag-list">
        <h2 class="hd"><i class="iconfont icon-plane"></i>我报过价的品种</h2>
        <ul class="bd">
            {% for variety in quotevariety %}
            <li><span>{{variety.name}}</span></li>
            {% end %}
        </ul>
    </div>
    -->
    {% else %}
    <div class="yc-tag-list">
        <h2 class="hd"><i class="iconfont icon-user"></i>尚未登陆，登录后，可以跟自己心仪的采购单进行报价。<a href="/login">立即登录</a></h2>
    </div>
    {% end %}

    <div class="yc-purchase">
        <h2 class="title">为您精选采购单，赶紧报价吧</h2>
        <div class="list">
            <ul id="jlist"></ul>
        </div>
    </div>
</section><!-- /yc-content -->

{% include public/footer.html %}

{% end %}

{% block js %}
<script>
$(function(){
    var userType = {
        1: '饮片厂',
        2: '药厂',
        3: '药材经营公司',
        4: '个体经营户',
        5: '合作社',
        6: '种植基地',
        7: '其他',
        8: '个人经营',
        9: '采购经理',
        10: '销售经理'
    }

    var $ol = $('#jlist');    
    var pid = 0;
    var lateest = 0;
    var PAGECOUNT = 5; // 每页显示多少条

    var toHtml = function(data) {
        var html = [];
        for (var i = 0; i < data.length; i ++) {
            var _this = data[i];
            var temp = [];
            temp.push('<li>');
            temp.push( '<div class="hd">');
            temp.push(    '<h3 class="company">');
            temp.push(         '<i class="iconfont icon-user"></i><span>', _this.uname, '</span>');
            temp.push(     '</h3>');
            temp.push(     '<div class="yc-cat">', userType[_this.type], '</div>');
            temp.push( '</div>');

            for (var j = 0; j < _this.purchaseinfo.length; j ++) {
                var _that = _this.purchaseinfo[j];
                temp.push( '<a href=/purchase/purchaseinfo/', _that.id, '>');
                temp.push(     '<div class="bd">');
                temp.push(         '<h4 class="name"><i class="iconfont icon-arrow-right"></i>', _that.name, '</h4>');
                 if(_this.status != 0&& _this.shine==1){
                    temp.push(         '<div class="tag">', _that.specification, ' ', _that.origin, '&nbsp;&nbsp;<div class="yc-speed"><i class="iconfont icon-sun"></i>已开通阳光速配</div></div>');
                 }
                 else{
                    temp.push(         '<div class="tag">', _that.specification, ' ', _that.origin, '</div>');
                 }
                temp.push(         '<div class="weight">', _that.quantity, _that.unit, '</div>');
                temp.push(         '<div class="desc">');
                _that.attachments&&temp.push( '<p class="thumb"><img src="', _that.attachments.attachment, '" data-src="', _that.attachments.attachment.replace('_thumb',''), '"></p>');
                temp.push(             '<p>', _that.quality, '</p>');
                temp.push(         '</div>');
                temp.push(     '</div>');
                temp.push(     '<div class="ft">');

                if(_this.status === 0){
                    temp.push(  '<span class="status-closed">关闭</span>');
                    temp.push(  '（已有<b>' + _that.quotecount + '</b>个报价）');

                } else if (_that.term === 0) {
                    temp.push(  '<span class="status-sustain">常年采购</span>');
                    temp.push(  '（已有<b>' + _that.quotecount + '</b>个报价）');

                } else if (_that.timedelta && _that.timedelta > 0){
                    temp.push('<div class="fl">');
                    temp.push(  '<span class="status-wait">等待报价</span>');
                    temp.push(  '（已有<b>', _that.quotecount, '</b>个报价）');
                    temp.push('</div>');
                    temp.push('<div class="fr', (_that.timedelta === 1 ? ' high' : ''), '"><i class="iconfont icon-time"></i>剩余<b>', _that.timedelta, '</b>天</div>');   

                } else {
                    temp.push(  '<span class="status-finish">报价结束</span>');
                    temp.push(  '（已有<b>', _that.quotecount, '</b>个报价）');
                }
                temp.push(     '</div>');
                temp.push( '</a>');
            }

            temp.push('</li>');
            html.push(temp.join(''));
        }        
        if (pid === 0) {
            pid = data[0].id;
        }
        
        lateest = data[0].id;
        if (lateest > pid) {
            pid = lateest;
        } else {
            lateest = 0;
        }
        return html.join('');
    }
    // dropload
    $ol.parent().dropload({
        scrollArea : window,
        loadUpFn : function(me){
            $.ajax({
                type: 'post',
                url: '/purchase/purchaselist',
                dataType: 'json',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                },
                success: function(data){
                    data.list && $ol.html(toHtml(data.list));
                    var msg = lateest > 0 ? '药优优为您新推荐' + data.list.length + '个采购单' : '暂无新的采购单推荐';
                    me.$domUp.html('<div class="dropload-msg">' + msg + '</div>');
                    setTimeout(function(){
                        me.resetload();
                        me.unlock();
                        me.noData(false);
                    }, 2e3);
                },
                error: function(xhr, type){
                    lpPopover('加载失败，请您稍后重试!');
                    me.resetload();
                }
            });
        },
        loadDownFn : function(me){
            $.ajax({
                type: 'post',
                url: '/purchase/purchaselist/number/'+ $ol.children().length,
                dataType: 'json',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                },
                success: function(data){
                    data.list && $ol.append(toHtml(data.list));
                    if(data.status === 'nomore' || data.list && data.list.length < PAGECOUNT) {
                        me.lock();
                        me.noData();
                    }
                    me.resetload();
                },
                error: function(xhr, type){
                    lpPopover('加载失败，请您稍后重试!');
                    me.resetload();
                }
            });
        },
        threshold : 50
    });

})
</script>
<script src="{{ static_url('js/jweixin-1.0.0.js') }}"></script>
<script src="{{ static_url('js/wechart.js') }}"></script>
<script>
$(function(){
    wx.ready(function () {
        setupWeixinShare({
            title: '【药优优】实时饮片厂、药厂、经营大户采购单',
            desc: '药材卖货神器！实时推送药厂、饮片厂、经营户最新采购单，在线报价，极速答复，供货无忧！药商们都在抢订单，还不快来？',
            link: window.location.href,
            imgUrl: 'http://m.yaobest.com/static/images/getheadimg.jpg',
            type: '',
            dataUrl: '',
            success: function () {
                // 用户确认分享后执行的回调函数
                console.log("success");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                console.log("cancel");
            }
        });
    });
})
</script>
{% end %}
