{% extends "base.html" %}
{% block container %}
{% raw xsrf_form_html() %}
<section class="yc-content">
    {% if handler.session.has_key('user') and handler.session.get('user') != ""  %}
    <div class="yc-tag-list">
        <h2 class="hd"><i class="iconfont icon-heart"></i>我关注的品种</h2>
        <ul class="bd">
            {% for variety in varieties %}
            <li><span>{{ variety.name }}</span></li>
            {% end %}
            <li><a href="/user/attention"><i class="iconfont icon-plus"></i></a></li>
        </ul>
    </div>

    <div class="yc-tag-list">
        <h2 class="hd"><i class="iconfont icon-plane"></i>我报过价的品种</h2>
        <ul class="bd">
            {% for variety in quotevariety %}
            <li><span>{{variety.name}}</span></li>
            {% end %}
        </ul>
    </div>
    {% else %}
    <div class="yc-tag-list">
        <h2 class="hd"><i class="iconfont icon-user"></i>尚未登陆，登录后，可以跟自己心仪的采购单进行报价。<a href="/login">立即登录</a></h2>
    </div>
    {% end %}

    <div class="yc-purchase">
        <h2 class="title">为您精选采购单，赶紧报价吧</h2>
        <div class="list">
            <ul>

            </ul>
        </div>
    </div>
</section><!-- /yc-content -->
<script src="{{ static_url('js/app.js') }}"></script>
<script>
$(function(){
    // 状态及文本颜色，后台返回的0或者1,0表示等待报价，字体颜色为蓝色；1表示报价完成，字体颜色为红色。
    var getStatus = {
        txt: ['关闭','等待报价', '报价完成'],
        col: ['red', 'blue', 'red']
    }
    var userType = {
        1: '饮片厂',
        2: '药厂',
        3: '药材经营公司',
        4: '个体经营户',
        5: '合作社',
        6: '种植基地',
        7: '其他',
        8: '个人经营',
        9: '采购经理',
        10: '销售经理'
    }
    var toHtml = function(data) {
        var html = [];
        for (var i = 0; i < data.length; i++) {
            var temp = [];
            temp.push('<li>');
            temp.push( '<div class="hd">');
            temp.push(    '<h3 class="company">');
            temp.push(         '<i class="iconfont icon-user"></i>');
            temp.push(         '<span>' + data[i].uname + '</span>');
            temp.push(     '</h3>');
            temp.push( '<div class="category">' + userType[data[i].type] + '</div>');
            temp.push( '</div>');

            for (var j = 0; j < data[i].purchaseinfo.length; j++) {
                temp.push( '<a href=/purchase/purchaseinfo/' + data[i].purchaseinfo[j].id + '>');
                temp.push(     '<div class="bd">');
                temp.push(         '<h4 class="name"><i class="iconfont icon-arrow-right"></i>' + data[i].purchaseinfo[j].name + '</h4>');
                temp.push(         '<div class="tag">' + data[i].purchaseinfo[j].specification + " " + data[i].purchaseinfo[j].origin + '</div>');
                temp.push(         '<div class="weight">' + data[i].purchaseinfo[j].quantity + data[i].purchaseinfo[j].unit + '</div>');
                temp.push(         '<div class="desc">');
                data[i].purchaseinfo[j].attachments&&temp.push( '<p class="thumb"><img src="' + data[i].purchaseinfo[j].attachments.attachment + '" data-src="' + data[i].purchaseinfo[j].attachments.attachment.replace('_thumb','') + '" alt=""></p>');
                temp.push(             '<p>' + data[i].purchaseinfo[j].quality + '</p>');
                temp.push(         '</div>');
                temp.push(     '</div>');
                temp.push(     '<div class="ft">');
                if(data[i].purchaseinfo[j].status == 0){
                    temp.push(         '<div class="status">');
                    temp.push(              '<span class="' + getStatus.col[data[i].status] + '">' + getStatus.txt[data[i].status] + '</span>');
                    temp.push( '（已有<b>' + data[i].purchaseinfo[j].quotecount + '</b>个报价）');
                    temp.push(         '</div>');
                    temp.push(         '<div class="time' + (data[i].time === 1 ? ' high' : '') + '"><i class="iconfont icon-time"></i>剩余<b>' + data[i].time + '</b>天</div>');
                }else if((data[i].purchaseinfo[j].term != 0 && data[i].purchaseinfo[j].hasOwnProperty("timedelta") && data[i].purchaseinfo[j].timedelta > 0) || data[i].purchaseinfo[j].term == 0){
                    if(data[i].purchaseinfo[j].term != 0){
                        temp.push(         '<div class="status">');
                        temp.push(              '<span class="blue">等待报价</span>');
                        temp.push( '（已有<b>' + data[i].purchaseinfo[j].quotecount + '</b>个报价）');
                        temp.push(         '</div>');
                        temp.push(         '<div class="time' + (data[i].purchaseinfo[j].timedelta === 1 ? ' high' : '') + '"><i class="iconfont icon-time"></i>剩余<b>' + data[i].purchaseinfo[j].timedelta + '</b>天</div>');
                    }else{
                        temp.push(         '<div class="status">');
                        temp.push(              '<span class="blue">常年采购</span>');
                        temp.push(         '</div>');
                    }
                }else{
                    temp.push(         '<div class="status">');
                    temp.push(              '<span class="red">报价完成</span>');
                    temp.push( '（已有<b>' + data[i].purchaseinfo[j].quotecount + '</b>个报价）');
                    temp.push(         '</div>');
                    //temp.push(         '<div class="time' + (data[i].purchaseinfo[j].timedelta === 1 ? ' high' : '') + '"><i class="iconfont icon-time"></i>剩余<b>' + data[i].purchaseinfo[j].timedelta + '</b>天</div>');
                }
                temp.push(     '</div>');
                temp.push( '</a>');
            }

            temp.push('</li>');
            html.push(temp.join(''));
        }
        return html.join('');
    }
    // dropload
    $('.list').dropload({
        scrollArea : window,
        loadUpFn : function(me){
            $.ajax({
                type: 'post',
                url: '/purchase/purchaselist',
                dataType: 'json',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                },
                success: function(data){
                    if (!data.list) {
                        return false;
                    }
                    var result = toHtml(data.list);
                    $('.list ul').html(result);
                    var msg = Math.random() > .5 ? '暂无新的采购单推荐' : '药材购为您新推荐5个采购单'; // 随机显示2种提示语，只做演示使用
                    me.$domUp.html('<div class="dropload-msg">' + msg + '</div>');
                    //解锁下方,让下拉刷新后,可以继续下滑加载更多数据
                    me.unlock();
                    me.isDate = true;
                    // 每次数据加载完，必须重置
                    me.resetload();
                },
                error: function(xhr, type){
                    lpPopover('网络连接超时，请您稍后重试!');
                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        },
        loadDownFn : function(me){
            $.ajax({
                type: 'post',
                url: '/purchase/purchaselist/number/'+$(".list li").length,
                dataType: 'json',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                },
                success: function(data){
                    if(data.status === 'nomore'){
                        // 锁定
                        me.lock();
                        // 无数据
                        me.noData();
                        me.resetload();
                        return;
                    }
                    if (!data.list) {
                        return false;
                    }
                    var result = toHtml(data.list);
                    $('.list ul').append(result);
                    //列表图片点击浏览大图要绑定.thumb的点击事件
                    gallery(true);
                    // 每次数据加载完，必须重置
                    me.resetload();
                },
                error: function(xhr, type){
                    lpPopover('网络连接超时，请您稍后重试11!');
                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        },
        threshold : 50
    });

});
</script>
<script src="{{ static_url('js/jweixin-1.0.0.js') }}"></script>
<script src="{{ static_url('js/wechart.js') }}"></script>
<script>
$(function(){
    wx.ready(function () {
        setupWeixinShare({
            title: '【药材购】实时饮片厂、药厂、经营大户采购单',
            desc: '药材卖货神器！实时推送药厂、饮片厂、经营户最新采购单，在线报价，极速答复，供货无忧！药商们都在抢订单，还不快来？',
            link: window.location.href,
            imgUrl: 'http://m.yaocai.pro/static/images/getheadimg.jpg',
            type: '',
            dataUrl: '',
            success: function () {
                // 用户确认分享后执行的回调函数
                console.log("success");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                console.log("cancel");
            }
        });
    });
})
</script>
{% end %}