{% extends "basenofoot.html" %}
{% block container %}
<header class="yc-header">
    <div class="yc-header-back">
        <a href="javascript:history.back();">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">登录</div>
    <div class="yc-header-right">
        <a href="/register/next_url/{{next_url}}">1分钟注册</a>
    </div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-form yc-login">
        <div class="title">
            <i class="iconfont icon-face"></i>
            <span>登录药优优，为您精准推送采购单</span>
        </div>
        <form action="/login" method="post">
            {% raw xsrf_form_html() %}
            <input type="hidden" name="next_url" value="{{next_url}}" />
            <div class="item">
                <i class="iconfont icon-user"></i>
                <input class="ipt" id="jUsername" type="text" name="username" value="" placeholder="会员名/手机号" />
                <span class="error"></span>
            </div>
            <div class="item">
                <i class="iconfont icon-lock"></i>
                <input class="ipt" id="jPwd" type="password" name="password" value="" placeholder="密码" />
                <span class="error"></span>
            </div>
            <div class="tr">
                <a href="/forgetpwd" class="orange">忘记密码？</a>
            </div>
            <div class="button">
                <button class="submit" id="jSubmit" type="submit">登 录</button>
                <a class="reg" href="/register/next_url/{{next_url}}">1分钟注册</a>
            </div>
        </form>
    </div>
</section><!-- /yc-content -->
{% end %}

{% block js %}
<script>
!(function($){

    {% if 'error' in globals() %}
    lpPopover('{{error}}');
    {% end %}

    function isWeixinBrowser(){
        var ua = navigator.userAgent.toLowerCase();
        return (/micromessenger/.test(ua)) ? true : false ;
    }

    var url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx0b6c6683f64d3cc2&redirect_uri=http://m.yaobest.com/register/next_url/{{next_url}}&response_type=code&scope=snsapi_userinfo&state=ycg#wechat_redirect";
    if(isWeixinBrowser()){
        $(".reg").attr("href", url);
        $(".yc-header-right a").attr("href", url);
    }

    var $username = $('#jUsername'),
        $pwd = $('#jPwd');

    function checkUsername() {
        var val = $username.val();
        if (!val) {
            $username.next().html('请输入会员名').show();
        } else {
            $username.next().html('').hide();
            return true;
        }
        $username.focus();
        return false;
    }
    function checkPwd() {
        var val = $pwd.val();
        if (!val) {
            $pwd.next().html('请输入密码').show();
        } else {
            $pwd.next().html('').hide();
            return true;
        }
        $pwd.focus();
        return false;
    }
    function checkIpt() {
        if (checkUsername() &&checkPwd()) {
            return true;
        }
        return false;
    }
    // 保存
    $('#jSubmit').on('click', function() {
        return checkIpt();
    });

    $('body').on('click', function() {
        $('.error').html('').hide();
    })

}(jQuery));
</script>
{% end %}