{% extends "basenofoot.html" %}
{% block container %}
<header class="yc-header">
    <div class="yc-header-back">
        <a href="/center">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">消息中心</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-tab-tit">
        <ul>
            <li {% if type==1 %}class="current"{% end %}><a {% if unread.has_key('sell') %}class="new-msg"{% end %} href="/news/type/1"><span>卖货消息</span></a></li>
            <li {% if type==2 %}class="current"{% end %}><a {% if unread.has_key('purchase') %}class="new-msg"{% end %} href="/news/type/2"><span>采购消息</span></a></li>
            <li {% if type==3 %}class="current"{% end %}><a {% if unread.has_key('grow') %}class="new-msg"{% end %} href="/news/type/3"><span>成长任务</span></a></li>
            <li {% if type==4 %}class="current"{% end %}><a {% if unread.has_key('system') %}class="new-msg"{% end %} href="/news/type/4"><span>系统通知</span></a></li>
        </ul>
    </div>
    <div class="yc-tab-cont">
        <div class="item" {% if type==1 %}style="display:block"{% else %}style="display:none"{% end %}>
            <ul class="yc-news-list">
                {% for s in sell %}
                <li>
                    <a {% if s.status == 0 %}class="unread"{% end %} href="/quotedetail/quoteid/{{s.content}}">
                        <i class="iconfont {% if faces.has_key(s.content) and faces[s.content] == 1 %}icon-face{% elif faces.has_key(s.content) and faces[s.content] == 2 %}icon-frown{% else %}icon-envelope{% end %} status"></i>
                        <span>{{s.title}}</span>
                        <span class="time">{{s.datetime}}</span>
                    </a>
                </li>
                {% end %}
            </ul>
        </div>
        <div class="item" {% if type==2 %}style="display:block"{% end %}>
            <div class="yc-news-none">
                <i class="iconfont icon-face"></i>
                <span>采购单消息请在PC端查看</span>
            </div>
        </div>
        <div class="item" {% if type==3 %}style="display:block"{% end %}>
            <ul class="yc-news-list">
                {% for g in grow %}
                <li>
                    <a {% if g.status == 0 %}class="unread"{% end %} href="/news/articleid/{{g.id}}">
                        <i class="iconfont icon-github status"></i>
                        <span>{{g.title}}</span>
                        <span class="time">{{g.datetime}}</span>
                    </a>
                </li>
                {% end %}
            </ul>
        </div>
        <div class="item" {% if type==4 %}style="display:block"{% end %}>
            <ul class="yc-news-list">
                {% for s in system %}
                <li>
                    <a {% if s.status == 0%}class="unread"{% end %} href="/news/articleid/{{s.id}}">
                        <i class="iconfont icon-envelope status"></i>
                        <span>{{s.title}}</span>
                        <span class="time">{{s.datetime}}</span>
                    </a>
                </li>
                {% end %}
            </ul>
        </div>
    </div>
</section><!-- /yc-content -->
<!--<script>
$('.yc-tab-tit').on('click', 'li', function() {
    var index = $(this).index();
    $(this).addClass('current').siblings().removeClass('current');
    $('.yc-tab-cont .item').eq(index).show().siblings().hide();
});

// 高亮显示
var newsType = {{type}};
if (newsType) {
    var index = parseInt(newsType, 10);
    if (typeof index === 'number' && $('.yc-tab-tit li').length >= index ) {
        index > 1 && $('.yc-tab-tit li').eq(index - 1).trigger('click');
    }
}
</script>-->
{% end %}