<!DOCTYPE html>
{% extends "basenofoot.html" %}
{% block container %}
{% from config import * %}
{% raw xsrf_form_html() %}
    <header class="yc-header">
        <div class="yc-header-title">发采购</div>
    </header><!-- /yc-header -->

    <section class="yc-content">
        <div class="form">
            <form action="/yaocaigou" id="myform">
                <div class="group">
                    <div class="title">
                        <span>采购药材清单</span>
                    </div>
                    <div class="item">
                        <label class="txt"><i>*</i>药材品种：</label>
                        <input class="ipt" type="text" value="" id="nVariety" placeholder="" />
                        <span class="error"></span>
                        <div class="suggest" id="suggest">
                            <dl class="search"></dl>
                             {% if len(mypurchase)!=0 %}
                            <dl class="history">

                                <dt>最近采购品种</dt>
                                {% for purchase in mypurchase %}
                                <dd data-state="{{purchase.state}}" data-varietyid="{{purchase.id}}" data-origins="{{purchase.origin}}">{{purchase.name}}</dd>
                                {% end %}

                            </dl>
                            {% end %}
                        </div>
                    </div>
                    <div class="item item-slt">
                        <label class="txt"><i>*</i>规格等级：</label>
                        <div class="slt" style="border-left:0;padding-left:0;margin-left:-4px;">
                            <select name="" id="nRank">
                                <option value="" disabled></option>
                                <option value="" disabled>请先输入药材品种</option>
                            </select>
                        </div>
                        <span class="error"></span>
                    </div>
                    <div class="item">
                        <label class="txt"><i>*</i>采购数量：</label>
                        <input class="ipt" type="number" value="" id="nQuantity" placeholder="" />
                        <span class="error"></span>
                        <div class="slt slt-small">
                            <select name="" id="nUnit">
                                <option value="" disabled></option>
                                <option value="" disabled>请先输入药材品种</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <label class="txt">质量要求：</label>
                        <input class="ipt" type="text" value="" id="nQuality" placeholder="请输入" />
                        <span class="error"></span>
                        <div id="qualityList">
                            <label class="rdo"><input type="checkbox" name="quality" value="通用要求"><em>通用要求</em></label>
                            <label class="rdo"><input type="checkbox" name="quality" value="2015版药典标准"><em>2015版药典标准</em></label>
                            <label class="rdo"><input type="checkbox" name="quality" value="硫不超标"><em>硫不超标</em></label>
                            <label class="rdo"><input type="checkbox" name="quality" value="无虫蛀"><em>无虫蛀</em></label>
                            <label class="rdo"><input type="checkbox" name="quality" value="无霉"><em>无霉</em></label>
                            <label class="rdo"><input type="checkbox" name="quality" value="无变色"><em>无变色</em></label>
                            <label class="rdo"><input type="checkbox" name="quality" value="无走油"><em>无走油</em></label>
                            <label class="rdo"><input type="checkbox" name="quality" value="干度好"><em>干度好</em></label>
                            <label class="rdo"><input type="checkbox" name="quality" value="杂质少"><em>杂质少</em></label>
                        </div>
                    </div>
                    <div class="item">
                        <label class="txt">产地要求：</label>
                        <input class="ipt" type="text" value="" id="nArea" placeholder="请输入" />
                        <span class="error"></span>
                        <div id="originArea"></div>
                    </div>
                    <div class="item">
                        <label class="txt">封顶裸价：</label>
                        <input class="ipt" type="price" value="" id="nPrice" placeholder="" />
                        <span class="error"></span>
                        <i class="unit" id="unit">元/公斤</i>
                    </div>
                    <div class="item">
                        <label class="txt">合格例照：</label>
                        <div class="file iconfont icon-camera" id="uploadDiv">
                            <input type="file" id="uploadImg">
                        </div>
                    </div>
                </div>

                <div class="group">
                    <div class="title">
                        <span>交收要求</span>
                    </div>
                    <div class="item item-slt">
                        <label class="txt"><i>*</i>交货地址：</label>
                        <div class="slt">
                            <select name="" id="province">
                                {% if len(area)==0 %}
                                <option value="0" selected >省</option>
                                {% end %}
                                {% for province in provinces %}
                                    <option value="{{province.id}}" {% if area and  province.id == area.gparentid %} selected {% end %}>{{province.areaname}}</option>
                                {% end %}
                            </select>
                        </div>
                        <div class="slt">
                            <select name="" id="city">
                                {% if len(area)==0 %}
                                <option value="0" selected >市</option>
                                {% end %}
                                  {% for c in city %}
                                    <option value="{{c.id}}" {% if area and  c.id == area.parentid %} selected {% end %}>{{c.areaname}}</option>
                                {% end %}
                            </select>
                        </div>
                        <div class="slt">
                            <select name="" id="area">
                                {% if len(area)==0 %}
                                <option value="0" selected >区/县</option>
                                {% end %}
                                  {% for d in district %}
                                    <option value="{{d.id}}" {% if area and  d.id == area.id %} selected {% end %}>{{d.areaname}}</option>
                                {% end %}
                            </select>
                            <span class="error"></span>
                        </div>
                    </div>
                    <div class="item">
                        <label><input type="checkbox" class="icbx" id="selectaddress">亲自上门看货提货</label>
                    </div>
                    <div class="item" id="jPaytype">
                        <label class="txt">交易及付款</label>
                        <label class="block"><input type="radio" name="paytype" value="1" class="irdo">验收合格立即付款</label>
                        <label class="block"><input type="radio" name="paytype" value="2" class="irdo">验收合格<input type="text" class="ipt ipt-date">天内付款</label>
                        <label class="block"><input type="radio" name="paytype" value="3" class="irdo">其他<input type="text" class="ipt ipt-other"></label>
                    </div>
                </div>

                <div class="group" id="jDeadline">
                    <div class="item item-h">
                        <label class="txt">有效期：</label>
                        <label class="rc"><input type="radio" name="deadline" value="3" class="irdo">3天</label>
                        <label class="rc"><input type="radio" name="deadline" value="7" class="irdo" checked>7天</label>
                        <label class="rc"><input type="radio" name="deadline" value="15" class="irdo">15天</label>
                        <label class="rc"><input type="radio" name="deadline" value="30" class="irdo">30天</label>
                        <label class="rc"><input type="radio" name="deadline" value="0" class="irdo">常年采购</label>
                    </div>
                    <div class="button">
                        <button type="button" class="ubtn ubtn-orange" id="submit">立即发布，坐等报价</button>
                    </div>
                </div>


            </form>
        </div>
    </section><!-- /yc-content -->
{% end %}
{% block js %}
    <script src="{{ static_url('js/lrz.bundle.js')}}"></script>
    <script src="{{ static_url('js/publish.js')}}"></script>
    <script src="{{ static_url('js/area.js') }}"></script>
{% end %}