<!DOCTYPE html>
{% extends "basenofoot.html" %}
{% block container %}
{% from config import * %}
    <header class="yc-header">
        <div class="yc-header-back">
            <a href="javascript:history.back();">
                <i class="iconfont icon-back"></i>
            </a>
        </div>
        <div class="yc-header-title">采购商介绍</div>
    </header><!-- /yc-header -->

    <section class="yc-content">
        <div class="yc-floor">
            <div class="hd">
                <h3>采购商</h3>
            </div>
            <div class="bd">
                <div class="name">
                    {{user.name}}
                    <em class="yc-cat">{{usertype[user.type]}}</em>
                </div>
            </div>
        </div>

        <div class="yc-floor">
            <div class="hd">
                <h3>采购统计</h3>
            </div>
            <div class="bd">
                <div class="total">
                    <span>发布采购：<b>{{purchasesinfocout }}批次</b></span>
                    <span>收到报价：<b>{{quotes}}个</b></span>
                    <span>答复率：<b>{{reply}}%</b></span>
                    <span class="fix">达成交易意向：<b>{{accept}}批次 &nbsp; {{accept_quantity}}吨 &nbsp; {{accept_price}}万元</b></span>
                </div>
            </div>
        </div>

        <div class="yc-floor">
            <div class="hd">
                <h3>最近采购记录</h3>
            </div>
            <div class="bd">
                <ul class="yc-list">
                    {% for item in transactions %}
                    <li>
                        <p>
                            <strong>{{item["varietyname"]}}</strong>
                            <span>{{item["total"]}} 公斤</span>
                        </p>
                        <p><em>供货商：</em>{{item["quotename"]}} </p>
                        <p><em>交货现场：</em></p>
                        <div class="thumb">
                            {% for index,attachment in enumerate(item.attachment)  %}
                            {% if index<6 %}
                            <img alt="" data-src="{{attachment.attachment}}" src="{{attachment.attachment.replace('_thumb','')}}">
                            {% end %}
                            {% end %}
                        </div>
                        <p><em>供货商评价：</em><span class="yc-star yc-star-{{item.score_to_supplier}}"><i></i><i></i><i></i><i></i><i></i></span></p>
                        <p class="say">{{item.suppliercomment}}</p>
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    {% end %}

                </ul>
            </div>
        </div>

        <div class="yc-floor">
        {% if len(quoteaccept)!=0 %}
        <div class="hd">
            <h3>最近达成的交易意向</h3>
        </div>
        <div class="hd">
            <ol class="yc-record">
                {% for index,item in enumerate(quoteaccept) %}
                <li>
                    <i>{{index+1}}</i>
                    <em>{{item["name"]}}</em>
                    <time>{{item["updatetime"]}}</time>
                </li>
                {% end %}
            </ol>
        </div>
        {% end %}
        </div>

        <div class="yc-link">
            <a href="{{url}}">返回报价</a>
        </div>
    </section><!-- /yc-content -->
{% block js %}
    <script src="{{ static_url('js/jquery.min.js')}}"></script>
    <script src="{{ static_url('js/bootstrap.min.js')}}"></script>
    <script src="{{ static_url('js/app.js?id=2')}}"></script>
{% end %}
{% end %}