{% extends "basenofoot.html" %}
{% block container %}

<header class="yc-header">
    <div class="yc-header-back">
        <a href="/">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">药优优</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-article">
        <h1 class="title tc">请在电脑上访问www.yaobest.com</h1>
        <div class="text">
            <strong>亲：</strong>
            <p>手机上的“发采购”还没开发完，哥会加班加点努力的...</p>
            <p>电脑上可以随时发采购，海量供货商极速报价，请访问www.yaobest.com</p>
        </div>
        <div class="author">
            <p>药优优程序猿</p>
            <img src="{{ static_url('images/monkey.jpg') }}" alt="">
        </div>
    </div>
</section><!-- /yc-content -->

{% include public/purchase_footer.html %}
{% end %}