{% extends "base.html" %}
{% block keywords %}{{ purchase.name }}+报价，{{ purchase.name }}+详情，{{ purchase.name }}+采购，{{ purchase.name }}+需求{% end %}
{% block description %}提供详细的{{ purchase.name }}采购信息，让您对{{ purchase.name }}有详细的了解{% end %}
{% block title %}{{ purchase.name }}-药材购{% end %}
{% block container %}
{% import time %}
{% raw xsrf_form_html() %}

<header class="yc-header">
    <div class="yc-header-back">
        <a href="/">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">采购详情</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-sub-title">
        <div class="cf">
            <div class="fl">采购编码：<span>{{ purchase.id }}</span></div>
            <div class="fr"><time data-time="{{ purchase.datetime }}">{{ purchase.datetime }}</time></div>
        </div>
        <div class="cf">
            {% if purchase.status == 0%}
            <div class="fl"><em class="status-closed">关闭</em></div>
            {% elif (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.term == 0%}
            <div class="fl">
                {% if purchase.term != 0%}
                <em class="status-wait">等待报价</em>
                （剩余<b>{{purchase.timedelta}}</b>天）
                {% else%}
                <em class="status-sustain">常年采购</em>
                {% end %}
            </div>
            <div class="fr">已有<b>{{purchase.views}}</b>次浏览，<b>{{quotes}}</b>个报价</div>
            {% else %}
            <div class="fl"><em class="status-finish">报价结束</em></div>
            {% end %}
        </div>
    </div>
    {% if purchase.shine==1 %}
    <div class="yc-tips">
        <a href="/sunshine/?pid={{purchase.pid}}">阳光速配，安心保障<span>了解详情</span></a>
    </div>
    {% end %}

    <div class="yc-floor">
        <div class="hd">
            <h3>采购品种及要求</h3>
        </div>
        <div class="pro">
            <div class="hd">
                <strong>{{ purchase.name }}</strong>
                <span>{{ purchase.specification }} {{ purchase.origin }}</span>
                <em>{{ purchase.quantity }}{{purchase.unit}}</em>
            </div>
            <div class="desc">
                <p>{{ purchase.quality }}</p>
                <p><span>封顶价</span> {% if purchase.price > 0 %}{{ purchase.price }}元/{% if purchase.unit == u'吨' %}公斤{% else %}{{purchase.unit}}{% end %}{% else %}面议{% end %}</p>
                {% if purchase.attachments %}
                <p><span>合格品样例照</span></p>
                {% for attachment in purchase.attachments %}
                <p class="thumb"><img src="{{ attachment.attachment }}" data-src="{{ attachment.attachment.replace('_thumb', '') }}" alt=""></p>
                {% end %}
                {% end %}
            </div>
        </div>
    </div>

    <div class="yc-floor">
        <div class="hd">
            <h3>采购商</h3>
        </div>
        <div class="bd">
            <div class="name">
                {{user.name}}
                <!--<i class="iconfont icon-radio-yes"></i> 通过认证，身份真实有效-->
                <em class="yc-cat">
                {% if user.type == 1%}
                饮片厂
                {% elif user.type == 2%}
                药厂
                {% elif user.type == 3%}
                药材经营公司
                {% elif user.type == 4%}
                个体经营户
                {% elif user.type == 5%}
                合作社
                {% elif user.type == 6%}
                种植基地
                {% elif user.type == 7%}
                其他
                {% elif user.type == 8%}
                个人经营
                {% elif user.type == 9%}
                采购经理
                {% elif user.type == 10%}
                销售经理
                {% end %}
                </em>
            </div>
            <div class="total">
                <!--
                <span class="txt">成功采购：<b>{{purchases}}单</b></span>
                -->
                <div class="left">
                    <div>发布采购：<b>{{purchasesinfocout}}批次</b></div>
                    <div>达成意向：<b>{{accept}}批次</b></div>
                </div>
                <div class="right">
                    <div>报价答复率：<b>{{reply}}%</b></div>
                    <div>累计采购：<b>{{accept_quantity}}吨 {{accept_price}}万元</b></div>
                </div>
                <div class="link"><a href="/purchase/detail?id={{purchase.userid}}&next={{request.uri}}" class="blue">查看TA的采购详情</a></div>
            </div>
        </div>
    </div>

    <div class="yc-floor">
        <div class="hd">
            <h3>交收要求</h3>
        </div>
        <dl class="demand">
            <dt>交货地：</dt>
            <dd>{% if purchase.areaid %}{{ purchase.position }}{% else %}亲自上门看货提货{% end %}</dd>
            {% if purchase.invoice!=0 %}
            <dt>发票要求：</dt>
            <dd>
                {% if purchase.invoice == 1%}
                无需发票
                {% elif purchase.invoice == 2%}
                普通发票
                {% elif purchase.invoice == 3 %}
                增值税发票
                {% end %}
            </dd>
            {% end %}
            {% if purchase.pay!=0 %}
            <dt>交易及付款：</dt>
            <dd>
                {% if purchase.pay == 1%}
                药采购"安心交易"(预付全款)
                {% elif purchase.pay == 2%}
                双方直接交易，验证合格后<b>{{purchase.payday}}</b>天内付款
                {% else %}
                {{purchase.payinfo}}
                {% end %}
            </dd>
            {% end %}
            {% if purchase.accept!="" %}
            <dt>验证及包装：</dt>
            <dd>
                <ol>
                    <li id="accept">{{ purchase.accept }}</li>
                </ol>
            </dd>
            {% end %}
            {% if purchase.send == 1 %}
            <dt>寄样：</dt>
            <dd>要求报价后必须寄样<span id="receive">{{ purchase.receive }}</span></dd>
            {% end %}
            {% if purchase.other!= "" %}
            <dt>补充说明：</dt>
            <dd id="other">{{ purchase.other }}</dd>
             {% end %}
        </dl>
    </div>


    {% if purchase.supplier!="0" and purchase.remark!="" %}
    <div class="yc-floor">
        <div class="hd">
            <h3>供应商要求</h3>
        </div>
        <dl class="demand">
            {% if purchase.supplier!="0" %}
            <dt>供应商资质：</dt>
            <dd>
                {% if '1' in purchase.supplier.split("&") %}
                必须有营业执照（公司、合作社、经营户），不接收个人
                <br>
                {% end %}
                {% if '2' in purchase.supplier.split("&") %}
                具备GSP资质
                <br>
                {% end %}
                {% if '3' in purchase.supplier.split("&") %}
                具备GMP资质
                {% end %}
            </dd>
            {% end %}
            {% if purchase.remark!="" %}
            <dt>其它要求：</dt>
            <dd id="remark">{{purchase.remark}}</dd>
            {% end %}
        </dl>
    </div>
    {% end %}

    
    <div class="yc-floor">
         {% if len(quoteaccept)!=0 %}
        <div class="hd">
            <h3>最近达成的交易意向</h3>
        </div>
        <div class="hd">
            <ol class="yc-record">
                {% for index,item in enumerate(quoteaccept) %}
                <li>
                    <i>{{index+1}}</i>
                    <em>{{item["name"]}}</em>
                    <time>{{item["updatetime"]}}</time>
                </li>
                {% end %}
            </ol>
        </div>
        {% end %}
    </div>


    {% if others <> 0 %}
    <div class="yc-more">
        <i class="iconfont icon-more"></i>
        <a href="/purchaseinfobatch/purchaseid/{{purchase.id}}">该批次采购单还包括其它<b>{{ others }}</b>个品种</a>
    </div>
    {% end %}

    <div class="yc-tips">
        <a href="/about">1分钟了解药材购怎么帮药商卖货&gt;&gt;</a>
    </div>

    <div class="yc-hotline">
        <i class="iconfont icon-question"></i>
        如有疑问，请致电药材购客服电话： 
        <a href="tel:17309673939" target="_blank">173-0967-3939</a>
    </div>  

</section><!-- /yc-content -->



{% if (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0 and purchase.status!=0) or (purchase.term == 0 and purchase.status!=0)%}

<section class="action-bar">
    <div class="cell cart"><a href="/quote/purchaseinfoid/{{purchase.pid}}">有货，立即报价</a></div>
    <div class="cell share">
            <i class="iconfont icon-share"></i>
            发给朋友
    </div>
    <div class="cell frown">
            <i class="iconfont icon-frown"></i>
            暂不参加
    </div>
</section>
<!-- 
<footer class="yc-footer">
    <div class="yc-quote">
        <a href="/quote/purchaseinfoid/{{purchase.pid}}"><i class="iconfont icon-plane"></i>立即报价</a>
    </div>
</footer> -->
{% end %}


<div class="dialog-mask" id="jwxShare">
    <h2 class="hd">点击这里</h2>
    <p>然后点击 <em>【发送给朋友】</em> 或 <em>【分享到朋友圈】</em> <br> 把这个采购单分享给您的朋友们，他们会感谢您的~</p>
    <div class="arrow"><img src="{{ static_url('images/arrow.png')}}" width="85" height="115" alt=""></div>
</div>

<div class="dialog-mask" id="jshare">  
    <p>找到浏览器的<em>分享按钮</em><br>通过微信或朋友圈<br>把这个采购单分享给您的朋友们，他们会感谢您的~</p>
</div>

<div class="dialog-mask" id="jresult">
    <h2 class="hd">请告知您的真实情况，以帮改进：</h2>
    <div class="bd">
        <button class="btn">暂时没货</button>
        <button class="btn">不做这个品种了</button>
        <button class="btn">质量不满足</button>
        <button class="btn">麻烦，不太了解</button>
    </div>
</div>

<div class="dialog-mask" id="jsuccess">
    <div class="bd">
        <p><i class="iconfont icon-face"></i></p>
        <p>知道了，希望下次能够更好的服务您！</p>
    </div>
    <div class="bd">
        <a href="/" class="btn">去看看药材购其他采购单</a>
    </div>
</div>

{% end %}

{% block js %}
<script>
    $("#accept").html("{{"-".join(purchase.accept.split())}}".split("-").join("<br>"));
    $("#receive").html("{{"-".join(purchase.receive.split())}}".split("-").join("<br>"));
    $("#other").html("{{"-".join(purchase.other.split())}}".split("-").join("<br>"));
    $("#remark").html("{{"-".join(purchase.remark.split())}}".split("-").join("<br>"));
    var isWeChat = is_weixn();
    // 发给朋友
    $('.share').on('click', function() {
        if (isWeChat) {
            $('#jwxShare').show();
        } else {
            $('#jshare').show();
        }
    });

    // 暂不参加
    $('.frown').on('click', function() {
        $('#jresult').show();
    });

    $('#jresult').on('click', '.btn', function(e) {
        e.stopPropagation();
        $('#jresult').hide();
        $('#jsuccess').show();
    });

    $('#jsuccess').on('click', '.btn', function(e) {
        e.stopPropagation();
    });

    $('body').on('click', '.dialog-mask', function() {
        $(this).hide();
    });
</script>
<script src="{{ static_url('js/jweixin-1.0.0.js') }}"></script>
<script src="{{ static_url('js/wechart.js') }}"></script>
<script>
$(function(){
    wx.ready(function () {
        setupWeixinShare({
            title: '【{{ time.strftime("%m月%d日", time.localtime(int(purchase["createtime"]))) }}采购单】{{user.name}} 采购 {{ purchase.name }}（{{ purchase.specification }}）{{ purchase.quantity }}{{purchase.unit}}',
            desc: '质量要求：{{ " ".join(purchase.quality.split()) }} | 产地要求：{{ "".join(purchase.origin.split()) }}',
            link: window.location.href,
            imgUrl: 'http://m.yaocai.pro/static/images/getheadimg.jpg',
            type: '',
            dataUrl: '',
            success: function () {
                // 用户确认分享后执行的回调函数
                console.log("success");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                console.log("cancel");
            }
        });
    });
})
</script>
{% end %}