{% extends "basenohead.html" %}
{% block container %}
<section class="yc-content">
    <div class="yc-message">
        <div class="head">
            <h1 class="title"><i class="iconfont icon-face"></i>发布采购计划成功！</h1>
            <!-- <h1 class="title"><i class="iconfont icon-frown"></i>报价失败</h1> -->
            <div class="text">
                <p>恭喜您，发布采购成功</p>
            </div>
        </div>
        <div class="main">
            <div class="user">
                <p>可在【我的工作台】看到和管理报价</p>
                <a class="back" href="/center?type=2">去看看</a>
            </div>
        </div>
    </div>
</section><!-- /yc-content -->
{% end %}