{% extends "basenohead.html" %}
{% block container %}
    <section class="yc-content">
        <div class="yc-message">
            <div class="head">
                <h1 class="title"><i class="iconfont icon-face"></i>发布成功！</h1>
            </div>
            <div class="main">
                <h2 class="title">打开微信，添加朋友，添加公共号，搜索【药材购采购助手】并关注，开启全新买货体验！</h2>
                <div class="tips">
                    <p><i class="iconfont icon-heart"></i>随时随地发采购，轻松对接{{total}}家供货商</p>
                    <p><i class="iconfont icon-heart"></i>有报价了第一时间收到通知</p>
                    <p><i class="iconfont icon-heart"></i>随时随地查看和处理报价，高效便捷</p>
                </div>

                <h2 class="title">具体操作</h2>
                <div class="tips">
                    <img src="{{ static_url('images/guide/p-1.jpg') }}" alt="">
                    <img src="{{ static_url('images/guide/p-2.jpg') }}" alt="">
                    <img src="{{ static_url('images/guide/p-3.jpg') }}" alt="">
                    <img src="{{ static_url('images/guide/p-4.png') }}" alt="">
                </div>
            </div>
        </div>
    </section><!-- /yc-content -->
{% end %}