<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>采购商介绍</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="yc-body-nofoot">
    <header class="yc-header">
        <div class="yc-header-back">
            <a href="javascript:history.back();">
                <i class="iconfont icon-back"></i>
            </a>
        </div>
        <div class="yc-header-title">采购商介绍</div>
    </header><!-- /yc-header -->

    <section class="yc-content">
        <div class="yc-floor">
            <div class="hd">
                <h3>采购商</h3>
            </div>
            <div class="bd">
                <div class="name">
                    亳州永刚中药饮片有限公司
                    <em class="yc-cat">饮片公司</em>
                </div>
            </div>
        </div>

        <div class="yc-floor">
            <div class="hd">
                <h3>采购统计</h3>
            </div>
            <div class="bd">
                <div class="total">
                    <span>发布采购：<b>32批次</b></span>
                    <span>收到报价：<b>123个</b></span>
                    <span>答复率：<b>83%</b></span>
                    <span class="fix">达成交易意向：<b>12批次 &nbsp; 50吨 &nbsp; 146万元</b></span>
                </div>
            </div>
        </div>

        <div class="yc-floor">
            <div class="hd">
                <h3>最近采购记录</h3>
            </div>
            <div class="bd">
                <ul class="yc-list">
                    <li>
                        <p>
                            <strong>川牛膝</strong>
                            <span>30000 公斤</span>
                        </p>
                        <p><em>供货商：</em>潘登 </p>
                        <p><em>交货现场：</em></p>
                        <div class="thumb">
                            <img alt="" data-src="uploads/bing-1.jpg" src="uploads/001.jpeg">
                            <img alt="" data-src="uploads/bing-2.jpg" src="uploads/001.jpeg">
                            <img alt="" data-src="uploads/bing-3.jpg" src="uploads/001.jpeg">
                        </div>
                        <p><em>供货商评价：</em><span class="yc-star yc-star-4"><i></i><i></i><i></i><i></i><i></i></span></p>
                        <p class="say">王经理人很nice，收获验收很快</p>
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>
                        <p>
                            <strong>川牛膝</strong>
                            <span>30000 公斤</span>
                        </p>
                        <p><em>供货商：</em>潘登 </p>
                        <p><em>交货现场：</em></p>
                        <div class="thumb">
                            <img alt="" data-src="uploads/bing-1.jpg" src="uploads/001.jpeg">
                            <img alt="" data-src="uploads/bing-2.jpg" src="uploads/001.jpeg">
                            <img alt="" data-src="uploads/bing-3.jpg" src="uploads/001.jpeg">
                        </div>
                        <p><em>供货商评价：</em><span class="yc-star yc-star-4"><i></i><i></i><i></i><i></i><i></i></span></p>
                        <p class="say">王经理人很nice，收获验收很快</p>
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>
                        <p>
                            <strong>川牛膝</strong>
                            <span>30000 公斤</span>
                        </p>
                        <p><em>供货商：</em>潘登 </p>
                        <p><em>交货现场：</em></p>
                        <div class="thumb">
                            <img alt="" data-src="uploads/bing-1.jpg" src="uploads/001.jpeg">
                            <img alt="" data-src="uploads/bing-2.jpg" src="uploads/001.jpeg">
                            <img alt="" data-src="uploads/bing-3.jpg" src="uploads/001.jpeg">
                        </div>
                        <p><em>供货商评价：</em><span class="yc-star yc-star-4"><i></i><i></i><i></i><i></i><i></i></span></p>
                        <p class="say">王经理人很nice，收获验收很快</p>
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>
                        <p>
                            <strong>川牛膝</strong>
                            <span>30000 公斤</span>
                        </p>
                        <p><em>供货商：</em>潘登 </p>
                        <p><em>交货现场：</em></p>
                        <div class="thumb">
                            <img alt="" data-src="uploads/bing-1.jpg" src="uploads/001.jpeg">
                            <img alt="" data-src="uploads/bing-2.jpg" src="uploads/001.jpeg">
                            <img alt="" data-src="uploads/bing-3.jpg" src="uploads/001.jpeg">
                        </div>
                        <p><em>供货商评价：</em><span class="yc-star yc-star-4"><i></i><i></i><i></i><i></i><i></i></span></p>
                        <p class="say">王经理人很nice，收获验收很快</p>
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>
                        <p>
                            <strong>川牛膝</strong>
                            <span>30000 公斤</span>
                        </p>
                        <p><em>供货商：</em>潘登 </p>
                        <p><em>交货现场：</em></p>
                        <div class="thumb">
                            <img alt="" data-src="uploads/bing-1.jpg" src="uploads/001.jpeg">
                            <img alt="" data-src="uploads/bing-2.jpg" src="uploads/001.jpeg">
                            <img alt="" data-src="uploads/bing-3.jpg" src="uploads/001.jpeg">
                        </div>
                        <p><em>供货商评价：</em><span class="yc-star yc-star-4"><i></i><i></i><i></i><i></i><i></i></span></p>
                        <p class="say">王经理人很nice，收获验收很快</p>
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="yc-floor">
            <div class="hd">
                <h3>最近达成的交易意向</h3>
            </div>
            <div class="hd">
                <ol class="yc-record">
                    <li>
                        <i>1</i>
                        <em>毫州天天药材行</em>
                        <span>黄连</span>
                        <time>08-29 13:11</time>
                    </li>
                    <li>
                        <i>2</i>
                        <em>潘登</em>
                        <span>黄芪</span>
                        <time>08-29 13:11</time>
                    </li>
                    <li>
                        <i>3</i>
                        <em>严飞</em>
                        <span>当归</span>
                        <time>08-29 13:11</time>
                    </li>
                    <li>
                        <i>4</i>
                        <em>毫州天天药材行</em>
                        <span>黄连</span>
                        <time>08-29 13:11</time>
                    </li>
                    <li>
                        <i>5</i>
                        <em>潘登</em>
                        <span>黄芪</span>
                        <time>08-29 13:11</time>
                    </li>
                    <li>
                        <i>6</i>
                        <em>严飞</em>
                        <span>当归</span>
                        <time>08-29 13:11</time>
                    </li>
                    <li>
                        <i>10</i>
                        <em>严飞</em>
                        <span>当归</span>
                        <time>08-29 13:11</time>
                    </li>
                </ol>
            </div>
        </div>

        <div class="yc-link">
            <a href="#none">返回报价</a>
        </div>
    </section><!-- /yc-content -->
	
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js?id=2"></script>
</body>
</html>