{% extends "basenohead.html" %}
{% block container %}
<section class="yc-content">
    <div class="yc-message">
        <div class="head">
            <h1 class="title"><i class="iconfont icon-face"></i>发采购成功</h1>
            <!-- <h1 class="title"><i class="iconfont icon-frown"></i>报价失败</h1> -->
            <div class="text">
                <p>药材购已通知采购商尽快评估，祝您做成这单</p>
            </div>
        </div>
        <div class="main">
            {% if first %}
            <div class="thank">
                <i class="iconfont icon-radio-yes"></i>
                <p>感谢您，在药材购提交了第一个报价</p>
                <p>我们深知，每一个报价，代表着一份期待，药材购将竭力祝您促成交易</p>
            </div>
            {% end %}

            <div class="weixin">
                <i class="iconfont icon-weixin"></i>
                <p>长按并识别以下二维码，关注【药材购】，随时随地查看药厂、饮片厂实时采购单</p>
                <div class="qrcode">
                    <img class="qrcode" src="static/images/qucode_340_340.jpg" alt="">
                </div>
            </div>

            <div class="user">
                <p>可在【我的工作台】看到和管理报价</p>
                <a class="back" href="/center">去看看</a>
            </div>
        </div>
    </div>
</section><!-- /yc-content -->
{% end %}