{% extends "base.html" %}
{% block container %}
<header class="yc-header">
    <div class="yc-header-back">
        <a href="javascript:history.back();">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">报价详情</div>
</header><!-- /yc-header -->

<section class="yc-content">


    <div class="yc-purchase-desc">
        <div class="cf">
            <div class="fl">采购编码：<span>{{ purchase.id }}</span></div>
            <div class="fr"><time data-time="{{ purchase.datetime }}">{{ purchase.datetime }}</time></div>
        </div>
        <div class="cf">
            {% if purchase.status == 0%}
            <div class="fl"><span class="red">关闭</span></div>
            {% elif (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.term == 0%}
            <div class="fl">
                <span class="blue">等待报价</span>
                {% if purchase.term != 0%}
                （剩余<b>{{purchase.timedelta}}</b>天）
                {% else%}
                常年采购
                {% end %}
            </div>
            <div class="fr">已有<b>{{purchase.views}}</b>热门浏览，<b>{{len(quotes)}}</b>个报价</div>
            {% else %}
            <div class="fl"><span class="red">报价结束，甄选供应商</span></div>
            {% end %}
        </div>
    </div>

    <div class="yc-purchase-detail yc-purchase-bg">
        <h3>我的报价<time class="time" data-time="{{quote.datetime}}">{{quote.datetime}}</time></h3>
        <dl class="yc-demand">
            <!--<dt>含税含运费价：</dt>
            <dd>78 元 / 公斤</dd>-->
            <dt>裸价：</dt>
            <dd>{{quote.price}} 元 / 公斤</dd>
            <dt>价格说明：</dt>
            <dd>{{quote.explain}}</dd>
            <dt>货源质量：</dt>
            <dd>{{quote.quality}}</dd>
        </dl>
        <div class="thumb">
            {% for qa in quoteattachment %}
            <img src="{{qa.attachment}}" data-src="{{qa.attachment.replace('_thumb', '')}}" alt="">
            {% end %}
        </div>
        <!--<div class="status">采购商已查看</div>
        <div class="status status-finish">采购已结束，采购商未答复</div>-->
        {% if quote.state == 2 %}
        <div class="status status-refuse"><i class="iconfont icon-frown"></i>采购商回绝了您的报价{% if quote.message is not None%}，原因：{{quote.message}}{% end %}</div>
        {% elif quote.state == 1 %}
        <div class="status status-accept"><i class="iconfont icon-face"></i>采购商认可了您的报价</div>
        {% end %}
    </div>

    <div class="yc-purchase-detail yc-purchase-bg">
        <h3>采购结果</h3>
        {% if quote.state == 2 %}
        <dl class="yc-result">
            <dt>采购商从<b>{{len(quotes)}}</b>个报价中甄选了以下{{len(acceptuser)}}家洽谈</dt>
            {% for u in acceptuser %}
            <dd><i class="iconfont icon-arrow-right"></i>{{u.nickname}}</dd>
            {% end %}
        </dl>
        {% elif quote.state == 1 %}
        <dl class="yc-demand">
            <dt>联系人：</dt>
            <dd>{{user.name}}</dd>
            <dt>联系电话：</dt>
            <dd>{{user.phone}}</dd>
        <dl>
        {% else %}
        <dl class="yc-result">
            <dt>采购商暂未回应</dt>
        </dl>
        {% end %}
    </div>

    <div class="yc-purchase-detail">
        <h3>采购品种及要求</h3>
        <div class="bd">
            <h4 class="name">{{ purchase.name }}</h4>
            <div class="tag">{{ purchase.specification }} {{ purchase.origin }}</div>
            <div class="weight">{{ purchase.quantity }}公斤</div>
            <div class="desc">
                <p>{{ purchase.quantity }}</p>
                <p><span>意向价格</span> {% if purchase.price > 0 %}{{ purchase.price }}元/公斤{% else %}面议{% end %}</p>
                <p><span>合格品样例照</span></p>
                {% for attachment in purchase.attachments %}
                <p class="thumb"><img src="{{ attachment.attachment }}" data-src="{{ attachment.attachment.replace('_thumb', '') }}" alt=""></p>
                {% end %}
            </div>
        </div>
    </div>

    <div class="yc-purchase-detail">
        <h3>采购商</h3>
        <div class="bd">
            <h4 class="company">
                <span>{{user.nickname}}</span>
                <!--<i class="iconfont icon-radio-yes"></i> 通过认证，身份真实有效-->
            </h4>
            <div class="category">
                {% if user.type == 1%}
                饮片厂
                {% elif user.type == 2%}
                药厂
                {% elif user.type == 3%}
                药材经营公司
                {% elif user.type == 4%}
                个体经营户
                {% elif user.type == 5%}
                合作社
                {% elif user.type == 6%}
                种植基地
                {% elif user.type == 7%}
                其他
                {% elif user.type == 8%}
                个人经营
                {% elif user.type == 9%}
                采购经理
                {% elif user.type == 10%}
                销售经理
                {% end %}
            </div>
            <div class="total">
                <span class="yc-star yc-star-4">
                    <i></i><i></i><i></i><i></i><i></i>
                </span>
                <span class="txt">成功采购：<b>{{purchases}}单</b></span>
                <span class="txt">报价答复率：<b>{{reply}}%</b></span>
            </div>
        </div>
    </div>

    <div class="yc-purchase-detail">
        <h3>交收要求</h3>
        <dl class="yc-demand">
            <dt>交货地：</dt>
            <dd>{{ purchase.province }} {{ purchase.areaname }}</dd>
            <dt>发票要求：</dt>
            <dd>
                {% if purchase.invoice == 1%}
                无需发票
                {% elif purchase.invoice == 2%}
                普通发票
                {% elif purchase.invoice == 3 %}
                增值税发票
                {% end %}
            </dd>
            <dt>交易及付款：</dt>
            <dd>
                {% if purchase.pay == 1%}
                药采购"安心交易"(预付全款)
                {% elif purchase.pay == 2%}
                双方直接交易，验证合格后<b>{{purchase.payday}}</b>天内付款
                {% else %}
                {{purchase.payinfo}}
                {% end %}
            </dd>
            <dt>验证及包装：</dt>
            <dd>
                <ol>
                    <li id="accept">{{ purchase.accept }}</li>
                </ol>
            </dd>
            <dt>寄样：</dt>
            <dd>{% if purchase.send == 1 %}要求报价后必须寄样{% end %}<span id="receive">{{ purchase.receive }}</span></dd>
            <dt>补充说明：</dt>
            <dd id="other">{{ purchase.other }}</dd>
        </dl>
    </div>


    <div class="yc-purchase-detail">
        <h3>供应商要求</h3>
        <dl class="yc-demand">
            <dt>供应商资质：</dt>
            <dd>
                {% if '1' in purchase.supplier.split("&") %}
                必须有营业执照（公司、合作社、经营户），不接收个人
                <br>
                {% end %}
                {% if '2' in purchase.supplier.split("&") %}
                具备GSP资质
                <br>
                {% end %}
                {% if '3' in purchase.supplier.split("&") %}
                具备GMP资质
                {% end %}
            </dd>
            <dt>其它要求：</dt>
            <dd id="remark">{{purchase.remark}}</dd>
        </dl>
    </div>

</section><!-- /yc-content -->
{% if quote.state == 2%}
<footer class="yc-footer">
    <div class="yc-quote">
        <a href="/quote/purchaseinfoid/{{quote.purchaseinfoid}}">再次报价</a>
    </div>
</footer>
{% elif quote.state == 1 %}
<footer class="yc-footer">
    <div class="yc-quote">
        <a href="tel:{{user.phone}}">联系采购商</a>
    </div>
</footer>
{% end %}
<script src="{{ static_url('js/app.js') }}"></script>
<script>
!(function(){
    $("#accept").html("{{"-".join(purchase.accept.split())}}".split("-").join("<br>"));
    $("#receive").html("{{"-".join(purchase.receive.split())}}".split("-").join("<br>"));
    $("#other").html("{{"-".join(purchase.other.split())}}".split("-").join("<br>"));
    $("#remark").html("{{"-".join(purchase.remark.split())}}".split("-").join("<br>"));
}(jQuery));
</script>
{% end %}