{% extends "basenofoot.html" %}
{% block container %}
<header class="yc-header">
    <div class="yc-header-back">
        <a href="javascript:history.back();">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">我的报价</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-quote-title">
        <span><b>{{unreply}}</b>个报价等待答复，<b>{{over}}</b>个报价已结束，共<b>{{len(myquotes)}}</b>个</span>
    </div>

    <div class="yc-quote-list">
        <ul>
            {% for quote in myquotes %}
            <li>
                <a href="/quotedetail/quoteid/{{quote.id}}/nid/{% if quote.nid is not None %}{{quote.nid}}{% else %}0{% end %}">
                    <div class="hd">
                        <div class="fl">
                            <div class="tit">采购信息</div>
                            <div class="name">
                                <i class="iconfont icon-user"></i>
                                <span>{{quote.nickname}}</span>
                                <i class="iconfont icon-radio-yes"></i>
                            </div>
                            <div class="tag">
                                <i class="iconfont icon-arrow-right"></i>
                                {{quote.name}} <span class="gray">{{quote.specification}} {{quote.origin}}</span>
                            </div>
                        </div>
                        <div class="fr">
                            <div class="num">{{quote.purchaseid}}</div>
                            <div class="cat">{% if quote.type == 1 %}个人采购{% else %}饮片厂采购{% end %}</div>
                            <div class="kg">{{quote.quantity}}{{quote.unit}}</div>
                        </div>
                    </div>
                    <div class="bd">
                        <div class="fl">
                            <div class="tit">我的报价</div>
                            <div class="price">{{quote.price}}</div>
                            <div class="unit">元/{% if quote.unit == u'吨' %}公斤{% else %}{{quote.unit}}{% end %}</div>
                            <div class="gray">裸价</div>
                        </div>
                        <div class="desc">
                            <time class="time" data-time="{{quote.datetime}}">{{quote.datetime}}</time>
                            <p>{{quote.quality}}</p>
                        </div>
                        <div class="thumb">
                            {% for attachment in quote.attachments%}
                            <img src="{{attachment}}" data-src="{{attachment.replace('_thumb', '')}}" alt="">
                            {% end %}
                        </div>
                    </div>
                    <div class="ft">
                        {% if quote.state == 1 %}
                        <div class="status status-accept"><i class="iconfont icon-face"></i>采购商认可了您的报价</div>
                        <a href="tel:{{quote.phone}}"><div class="button">联系采购商</div></a>
                        {% elif quote.state == 2%}
                        <div class="status status-refuse"><i class="iconfont icon-frown"></i>采购商回绝了您的报价{% if quote.message is not None %}，原因：{{quote.message}}{% end %}</div>
                        {% else %}
                        {% if quote.timedelta > 0 %}
                        <div class="status">采购商暂未回应</div>
                        <div class="time"><i class="iconfont icon-time"></i>剩余<b>{{quote.timedelta}}</b>天</div>
                        {% else %}
                        <div class="status status-finish">采购已结束，采购商未答复</div>
                        {% end %}
                        {% end %}
                    </div>
                </a>
            </li>
            {% end %}
        </ul>
    </div>
</section><!-- /yc-content -->
<script src="{{ static_url('js/app.js') }}"></script>
{% end %}