{% extends "basenofoot.html" %}
{% block container %}
<body>
    <section class="yc-content">
        <div class="yc-message">
            <div class="head success">
                <h1 class="title"><i class="iconfont icon-face"></i>最后一步</h1>
            </div>
            <div class="main">
                <div class="wechat">
                    <img class="qrcode" src="{{ static_url('images/qucode_340_340.jpg') }}" alt="">
                    <h2 class="title">长按二维码并识别，关注【药材购】微信公众号，开启全新销路！</h2>
                </div>
                <div class="tips">
                    <p><i class="iconfont icon-heart"></i>{{purchaseinfonum}}批次采购需求，此刻等待您报价</p>
                    <p><i class="iconfont icon-heart"></i>药厂发布新采购，第一时间通知您</p>
                    <p><i class="iconfont icon-heart"></i>药厂答复您的报价，第一时间通知跟进</p>
                </div>
            </div>
        </div>
    </section><!-- /yc-content -->
</body>
{% end %}