{% extends "basenofoot.html" %}
{% block container %}
<body>
    <section class="yc-content">
        <div class="yc-message">
            <div class="head success">
                <h1 class="title"><i class="iconfont icon-face"></i>最后一步</h1>
            </div>
            <div class="main">
                <h2 class="title">打开微信，添加朋友，搜索【药材购】并关注，开启全新销路！</h2>
                <div class="tips">
                    <p><i class="iconfont icon-heart"></i>31批次采购需求，此刻等待您报价</p>
                    <p><i class="iconfont icon-heart"></i>药厂发布新采购，第一时间通知您</p>
                    <p><i class="iconfont icon-heart"></i>药厂答复您的报价，第一时间通知跟进</p>
                </div>

                <h2 class="title">具体操作</h2>
                <div class="tips">
                    <img src="{{ static_url('images/guide/1.jpg') }}" alt="">
                    <img src="{{ static_url('images/guide/2.jpg') }}" alt="">
                    <img src="{{ static_url('images/guide/3.jpg') }}" alt="">
                    <img src="{{ static_url('images/guide/4.jpg') }}" alt="">
                    <img src="{{ static_url('images/guide/5.jpg') }}" alt="">
                    <img src="{{ static_url('images/guide/6.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section><!-- /yc-content -->
</body>
{% end %}