{% extends "basenohead.html" %}
{% block container %}

<section class="yc-content">
    <div class="yc-message">
        <div class="head success">
            <h1 class="title"><i class="iconfont icon-face"></i>最后一步</h1>
        </div>
        <div class="main">
            <h2 class="title">打开微信，添加朋友，搜索【药优优】并关注，随时随地找货！</h2>
            <div class="tips">
                <p><i class="iconfont icon-heart"></i>随时随地发采购，对接{{purchaseinfonum}}位供货商</p>
                <p><i class="iconfont icon-heart"></i>供货商报价，第一时间通知您，随时随地处理</p>
                <!-- 
                <p><i class="iconfont icon-heart"></i>{{purchaseinfonum}}批次采购需求，此刻等待您报价</p>
                <p><i class="iconfont icon-heart"></i>药厂发布新采购，第一时间通知您</p>
                <p><i class="iconfont icon-heart"></i>药厂答复您的报价，第一时间通知跟进</p> 
                -->
            </div>

            <h2 class="title">具体操作</h2>
            <div class="tips">
                <img src="{{ static_url('images/guide/0.jpg') }}" alt="微信关注药优优">
            </div>
        </div>
    </div>
</section><!-- /yc-content -->
    
{% end %}