<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>注册</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="yc-body-nofoot">
    <header class="yc-header">
        <div class="yc-header-back">
            <a href="javascript:history.back();">
                <i class="iconfont icon-back"></i>
            </a>
        </div>
        <div class="yc-header-title">注册</div>
        <div class="yc-header-right">
            <a href="login.html">已有账号，直接登录</a>
        </div>
    </header><!-- /yc-header -->

    <section class="yc-content">
        <div class="yc-guide">
            <ul>
                <li class="curr">
                    <span>1</span>
                    <strong>验证手机</strong>
                </li>
                <li><i class="iconfont icon-more"></i></li>
                <li>
                    <span>2</span>
                    <strong>填写基础信息</strong>
                </li>
                <li><i class="iconfont icon-more"></i></li>
                <li>
                    <span>3</span>
                    <strong>设置主营产品</strong>
                </li>
            </ul>
        </div>


        <div class="yc-form">
            <form action="">
                <div class="item">
                    <label class="txt">手机号</label>
                    <input class="ipt" type="text" value="" id="jMobile" placeholder="请填写手机号" />
                    <span class="error"></span>
                </div>
                <div class="item">
                    <label class="txt">验证码</label>
                    <input class="ipt" type="text" value="" id="jCode" placeholder="请填写验证码" />
                    <span class="error"></span>
                    <button class="btn-send" id="jSendCode" type="button">获取验证码</button>
                </div>
                <div class="item">
                    <label class="txt">微信号</label>
                    <span class="ipt">boyyafee<img src="uploads/avatar_9527.png" alt=""></span>
                    <span class="error"></span>
                </div>
                <div class="button">
                    <button class="submit wide" id="jSubmit" type="button">下一步</button>
                </div>
            </form>
        </div>


        <div class="yc-form-tips">
            <dl>
                <dt><i class="iconfont icon-user"></i> 成为药材购供货商，您可以：</dt>
                <dd>
                    <p><i class="iconfont icon-more"></i> 药厂发采购，第一时间收到通知</p>
                    <p><i class="iconfont icon-more"></i> 随时随地报价，不错失任何商机</p>
                    <p><i class="iconfont icon-more"></i> 药材购协助您安心交易</p>
                </dd>
            </dl>
            <dl>
                <dt><i class="iconfont icon-trade"></i> 每天都有供货商成功卖货</dt>
                <dd>
                    <p><i class="iconfont icon-more"></i> 已有 <em>13</em> 位药商与 <em>18</em> 家药厂达成合作 </p>
                    <p><i class="iconfont icon-more"></i> 共计 <em>98</em> 批次大货 <em>76</em> 吨 <em>33</em> 万元</p>
                </dd>
            </dl>
            <dl>
                <dt><i class="iconfont icon-earth"></i> 已入住的知名药厂</dt>
                <dd>
                    <div class="brands">
                        <img src="images/brand_1.png" alt="">                    
                        <img src="images/brand_2.png" alt="">                    
                        <img src="images/brand_3.png" alt="">                    
                        <img src="images/brand_4.png" alt="">                    
                        <img src="images/brand_5.png" alt="">                    
                        <img src="images/brand_6.png" alt="">                    
                        <img src="images/brand_7.png" alt="">                    
                        <img src="images/brand_8.png" alt="">                    
                        <img src="images/brand_9.png" alt="">                    
                        <img src="images/brand_10.png" alt="">   
                    </div>               
                </dd>
            </dl>
        </div>

    </section><!-- /yc-content -->

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script>
    !(function($){

        var $mobile = $('#jMobile'),
            $code = $('#jCode');

        function checkMobile() {
            var val = $mobile.val();
            if (!val) {
                $mobile.next().html('请输入手机号').show();
            } else if (!/^1[345678]\d{9}$|^01[345678]\d{9}$/.test(val)) {
                $mobile.next().html('手机号格式错误').show();
            } else {
                $mobile.next().html('').hide();
                return true;
            }
            $mobile.focus();
            return false;
        }
        function checkCode() {
            var val = $code.val();
            if (!val) {
                $code.next().html('请输入验证码').show();
            } else {
                $code.next().html('').hide();
                return true;
            }
            $code.focus();
            return false;
        }
        function checkIpt() {
            return checkMobile() && checkCode();
        }
        // 保存
        $('#jSubmit').on('click', function() {
            return checkIpt();
        });

        $('body').on('click', function() {
            $('.error').html('').hide();
        })

        var txt = "秒重新获取",
            second = 0, //间隔时间，单位：秒
            $send = $("#jSendCode");

        // 短信验证码
        var sendMessageCode = {
            send: function() {
                $send.text(second + txt).prop('disabled', true);
                lpPopover("短信验证码已发出，请注意查收短信！");
                this.lock();
            },
            lock: function() {
                var that = this;
                that.timer && clearInterval(that.timer);
                that.timer = setInterval(function() {
                    second --;
                    $send.text(second + txt).prop('disabled', true);
                    if (second === 0) {
                        clearInterval(that.timer);
                        $send.text("获取验证码").prop('disabled', false);
                    }
                }, 1e3);
            }
        }

        $send.on("click", function() {
            if (second === 0) {
                second = 60;
                sendMessageCode.send();
            }
        })

    }(jQuery));
    </script>
</body>
</html>