{% extends "basenofoot.html" %}
{% block container %}
{% raw xsrf_form_html() %}
    <header class="yc-header">
        <div class="yc-header-back">
            <a href="javascript:history.back();">
                <i class="iconfont icon-back"></i>
            </a>
        </div>
        <div class="yc-header-title">注册</div>
        <div class="yc-header-right">
            <a href="/login">已有账号，直接登录</a>
        </div>
    </header><!-- /yc-header -->

    <section class="yc-content">
        <div class="yc-guide">
            <ul>
                <li class="curr">
                    <span>1</span>
                    <strong>验证手机</strong>
                </li>
                <li><i class="iconfont icon-more"></i></li>
                <li>
                    <span>2</span>
                    <strong>填写基础信息</strong>
                </li>
                <li><i class="iconfont icon-more"></i></li>
                <li>
                    <span>3</span>
                    <strong>设置主营产品</strong>
                </li>
            </ul>
        </div>


        <div class="yc-form">
            <form action="">
                <div class="item">
                    <label class="txt">手机号</label>
                    <input class="ipt" type="text" value="" id="jMobile" placeholder="请填写手机号" />
                    <span class="error"></span>
                </div>
                <div class="item">
                    <label class="txt">验证码</label>
                    <input class="ipt" type="text" value="" id="jCode" placeholder="请填写验证码" />
                    <span class="error"></span>
                    <button class="btn-send" id="jSendCode" type="button">获取验证码</button>
                </div>
                 {% if userinfo %}
                <div class="item">
                    <label class="txt">微信号</label>
                    <span class="ipt">{{userinfo['nickname'].encode('raw_unicode_escape')}}<img src="{{userinfo['headimgurl']}}" alt=""></span>
                    <span class="error"></span>
                </div>
                 {% end %}
                <div class="button">
                    <button class="submit wide" id="jSubmit" type="button">下一步</button>
                </div>
            </form>
        </div>


        <div class="yc-form-tips">
            <dl>
                <dt><i class="iconfont icon-user"></i> 成为药材购供货商，您可以：</dt>
                <dd>
                    <p><i class="iconfont icon-more"></i> 药厂发采购，第一时间收到通知</p>
                    <p><i class="iconfont icon-more"></i> 随时随地报价，不错失任何商机</p>
                    <p><i class="iconfont icon-more"></i> 药材购协助您安心交易</p>
                </dd>
            </dl>
            <dl>
                <dt><i class="iconfont icon-trade"></i> 每天都有供货商成功卖货</dt>
                <dd>
                    <p><i class="iconfont icon-more"></i> 已有 <em>{{ data["accept_quote_user_num"] }}</em> 位药商与 <em>{{ data["accept_company_num"] }}</em> 家药厂达成合作 </p>
                    <p><i class="iconfont icon-more"></i> 共计 <em>{{ data["accept_num"] }}</em> 批次大货 <em>{{ data["sum_quantity"] }}</em> 吨 <em>{{ data["sum_price"] }}</em> 万元</p>
                </dd>
            </dl>
            <dl>
                <dt><i class="iconfont icon-earth"></i> 已入住的知名药厂</dt>
                <dd>
                    <div class="brands">
                        <img src="{{ static_url('images/brand_1.png') }}" alt="">
                        <img src="{{ static_url('images/brand_2.png') }}" alt="">
                        <img src="{{ static_url('images/brand_3.png') }}" alt="">
                        <img src="{{ static_url('images/brand_4.png') }}" alt="">
                        <img src="{{ static_url('images/brand_5.png') }}" alt="">
                        <img src="{{ static_url('images/brand_6.png') }}" alt="">
                        <img src="{{ static_url('images/brand_7.png') }}" alt="">
                        <img src="{{ static_url('images/brand_8.png') }}" alt="">
                        <img src="{{ static_url('images/brand_9.png') }}" alt="">
                        <img src="{{ static_url('images/brand_10.png') }}" alt="">
                    </div>               
                </dd>
            </dl>
        </div>

    </section><!-- /yc-content -->

    <script>
    !(function($){

        var $mobile = $('#jMobile'),
            $code = $('#jCode');

        function checkMobile() {
            var val = $mobile.val();
            if (!val) {
                $mobile.next().html('请输入手机号').show();
            } else if (!/^1[345678]\d{9}$|^01[345678]\d{9}$/.test(val)) {
                $mobile.next().html('手机号格式错误').show();
            } else {
                $mobile.next().html('').hide();
                return true;
            }
            $mobile.focus();
            return false;
        }
        function checkCode() {
            var val = $code.val();
            if (!val) {
                $code.next().html('请输入验证码').show();
            } else {
                $code.next().html('').hide();
                return true;
            }
            $code.focus();
            return false;
        }
        function checkIpt() {
            return checkMobile() && checkCode();
        }
        // 保存
        $('#jSubmit').on('click', function() {
            bool = checkIpt();
            if(bool){
                var data = {
                    "phone":$mobile.val(),
                    "smscode":$code.val(),
                    "step":1,
                    "openid":"{% if userinfo %}{{userinfo['openid']}}{% end %}",
                    "city":"{% if userinfo %}{{userinfo['city']}}{% end %}"
                };
                $.ajax({
                    url: '/register',
                    dataType: 'json',
                    data: data,
                    type: 'POST',
                    beforeSend: function(jqXHR, settings) {
                        jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                    },
                    success: function(data) {
                        if (data.status === 'success') {
                            location.href=encodeURI("/register/next_url/{{next_url}}?step=2")
                        } else {
                            lpPopover(data.message);
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        lpPopover('网络连接超时，请您稍后重试!');
                    }
                })
            }
            return bool;
        });

        $('body').on('click', function() {
            $('.error').html('').hide();
        })

        var txt = "秒重新获取",
            second = 0, //间隔时间，单位：秒
            $send = $("#jSendCode");

        // 短信验证码
        var sendMessageCode = {
            send: function() {
                var obj = this;
                $.ajax({
                    url: '/getsmscode',
                    dataType: 'json',
                    data: 'phone='+$mobile.val(),
                    type: 'POST',
                    beforeSend: function(jqXHR, settings) {
                        jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                    },
                    success: function(data) {
                        if (data.status === 'success') {
                            second = 60;
                            $send.text(second + txt).prop('disabled', true);
                            obj.lock();
                            lpPopover(data.message);
                        }else{
                            lpPopover(data.message);
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        lpPopover('网络连接超时，请您稍后重试!');
                    }
                })
            },
            lock: function() {
                var that = this;
                that.timer && clearInterval(that.timer);
                that.timer = setInterval(function() {
                    second --;
                    $send.text(second + txt).prop('disabled', true);
                    if (second === 0) {
                        clearInterval(that.timer);
                        $send.text("获取验证码").prop('disabled', false);
                    }
                }, 1e3);
            }
        }

        $send.on("click", function() {
            var checked = checkMobile();
            if (checked && second === 0){
                sendMessageCode.send();
            }
            return checked;
        })

    }(jQuery));
    </script>
</body>
{% end %}