{% extends "basenofoot.html" %}
{% block container %}
{% import time,config %}
<header class="yc-header">
    <div class="yc-header-back">
        <a href="javascript:history.back();">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">采购详情</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-sub-title">
        <div class="cf">
            <div class="fl">采购编码：<span>{{ purchase.id }}</span></div>
            <div class="fr"><time data-time="{{ purchase.datetime }}">{{ purchase.datetime }}</time></div>
        </div>
        <div class="cf">
            {% if purchase.status == 0%}
            <div class="fl"><span class="red">关闭</span></div>
            {% elif (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.term == 0%}
            <div class="fl">
                <span class="blue">等待报价</span>
                {% if purchase.term != 0%}
                （剩余<b>{{purchase.timedelta}}</b>天）
                {% else%}
                常年采购
                {% end %}
            </div>
            <div class="fr">已有<b>{{purchase.views}}</b>次浏览，<b>{{len(quotes)}}</b>个报价</div>
            {% else %}
            <div class="fl"><span class="red">报价结束，甄选供应商</span></div>
            {% end %}
        </div>
    </div>

    <div class="yc-purchase-detail">
        <h3>采购品种及要求</h3>
        <div class="bd">
            <h4 class="name">{{ purchase.name }}</h4>
            <div class="tag">{{ purchase.specification }} {{ purchase.origin }}</div>
            <div class="weight">{{ purchase.quantity }}{{purchase.unit}}</div>
            <div class="desc">
                <p>{{ purchase.quality }}</p>
                <p><span>封顶价</span> {% if purchase.price > 0 %}{{ purchase.price }}元/{% if purchase.unit == u'吨' %}公斤{% else %}{{purchase.unit}}{% end %}{% else %}面议{% end %}</p>
                <p><span>合格品样例照</span></p>
                {% for attachment in purchase.attachments %}
                <p class="thumb"><img src="{{ attachment.attachment }}" data-src="{{ attachment.attachment.replace('_thumb', '') }}" alt=""></p>
                {% end %}
            </div>
        </div>
    </div>

    <div class="yc-purchase-detail">
        <h3>交收要求<i class="iconfont icon-fold"></i></h3>
        <dl class="yc-demand yc-demand-fold">
            <dt>交货地：</dt>
            <dd>{% if purchase.areaid %}{{ purchase.position }}{% else %}亲自上门看货提货{% end %}</dd>
            <dt>发票要求：</dt>
            <dd>
                {% if purchase.invoice == 1%}
                无需发票
                {% elif purchase.invoice == 2%}
                普通发票
                {% elif purchase.invoice == 3 %}
                增值税发票
                {% end %}
            </dd>
            <dt>交易及付款：</dt>
            <dd>
                {% if purchase.pay == 1%}
                药采购"安心交易"(预付全款)
                {% elif purchase.pay == 2%}
                双方直接交易，验证合格后<b>{{purchase.payday}}</b>天内付款
                {% else %}
                {{purchase.payinfo}}
                {% end %}
            </dd>
            <dt>验证及包装：</dt>
            <dd>
                <ol>
                    <li id="accept">{{ purchase.accept }}</li>
                </ol>
            </dd>
            <dt>寄样：</dt>
            <dd>{% if purchase.send == 1 %}要求报价后必须寄样{% end %}<span id="receive">{{ purchase.receive }}</span></dd>
            <dt>补充说明：</dt>
            <dd id="other">{{ purchase.other }}</dd>
        </dl>
    </div>


    <div class="yc-purchase-detail">
        <h3>供应商要求<i class="iconfont icon-fold"></i></h3>
        <dl class="yc-demand yc-demand-fold">
            <dt>供应商资质：</dt>
            <dd>
                {% if '1' in purchase.supplier.split("&") %}
                必须有营业执照（公司、合作社、经营户），不接收个人
                <br>
                {% end %}
                {% if '2' in purchase.supplier.split("&") %}
                具备GSP资质
                <br>
                {% end %}
                {% if '3' in purchase.supplier.split("&") %}
                具备GMP资质
                {% end %}
            </dd>
            <dt>其它要求：</dt>
            <dd id="remark">{{purchase.remark}}</dd>
        </dl>
    </div>

    <div class="yc-quote-receive">
        <h3>共收到{{len(quotes)}}个报价</h3>
        <ol>
            {% for quote in quotes %}
            <li>
                <div class="hd">
                    <div class="tl">
                        <span class="type">供货商</span>
                        <strong class="name">{{quote.uname}}</strong>
                    </div>
                    <div class="tr">
                        <time>{{quote.datetime}}</time>
                        <span class="yc-cat">{{config.usertype[quote.usertype]}}</span>
                    </div>
                    <div class="user">
                        <i class="iconfont icon-user"></i><span>{{quote.nickname}}</span>
                        <i class="iconfont icon-mobile"></i><span>{{quote.phone}}</span>
                        <a href="tel:{{quote.phone}}">立即拨号</a>
                    </div>
                </div>
                <div class="bd">
                    <div class="tit">报价</div>
                    <div class="unit">
                        <div class="t1">{{quote.price}}</div>
                        <div class="t2">元/公斤</div>
                        <div class="t3">裸价</div>
                    </div>
                    <div class="desc">
                        {{quote.quality}}
                    </div>
                    <div class="thumb">
                        {% for attachment in quote.attachments %}
                        <img src="{{ attachment.attachment }}" data-src="{{ attachment.attachment.replace('_thumb', '') }}" alt="">
                        {% end %}
                    </div>
                </div>
                {% if quote.state == 0 %}
                <div class="tools">
                    <a class="smile" href="#" qid="{{quote.id}}"><i class="iconfont icon-face"></i>不错，请供应商联系我</a><a class="sad" href="#" qid="{{quote.id}}"><i class="iconfont icon-frown"></i>不合适，再看看</a>
                </div>
                {% elif quote.state == 1 %}
                <div class="ft">
                    <div class="status status-accept"><i class="iconfont icon-face"></i>已甄选为意向供应商</div>
                </div>
                {% elif quote.state == 2 %}
                <div class="ft">
                    <div class="status status-refuse"><i class="iconfont icon-frown"></i>已拒绝，原因：{{quote.message}}</div>
                </div>
                {% end %}
            </li>
            {% end %}
        </ol>
    </div>

</section><!-- /yc-content -->

<!-- 报价合适 -->
<div class="modal yc-modal" id="jModalOk" tabindex="-1" role="dialog" aria-labelledby="tit1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit1">认可报价</h4>
            </div>
            <div class="modal-body">
                <div class="confirm">
                    <p>您确认要认可此报价吗？</p>
                </div>
                <div class="button">
                    <input type="hidden" name="qid" value=""/>
                    <button type="button" class="btn btn-warning">认可报价</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 报价不合适 -->
<div class="modal yc-modal" id="jModalFail" tabindex="-1" role="dialog" aria-labelledby="tit2">
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tit2">报价不合适</h4>
        </div>
        <div class="modal-body">
            <div class="reason">
                <h3>哪些方面您认为不合适？写下真是原因，供应商更懂您</h3>
                <form action="" id="jFormReason">
                    <label><input type="checkbox" value="价格偏高" name="r1">价格偏高</label>
                    <label><input type="checkbox" value="质量不符" name="r2">质量不符</label>
                    <label><input type="checkbox" value="供应商资质不符" name="r3">供应商资质不符</label>
                    <textarea id="message" class="ipt" name="message" placeholder="详细说明"></textarea>
                </form>
            </div>
            <div class="button">
                <input type="hidden" name="qid" value=""/>
                <button type="button" class="btn btn-warning">回复报价</button>
            </div>
        </div>
    </div>
</div>
</div>


<!-- 弹层提示 -->
<div class="modal yc-modal" id="jModalMsg" tabindex="-1" role="dialog" aria-labelledby="tit5">
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tit5">停止报价</h4>
        </div>
        <div class="modal-body">
            <div class="result">
                <p class="success"><i class="iconfont icon-radio-yes"></i>操作成功</p>
                <p class="tips">3秒后自动关闭</p>
            </div>
            <div class="button">
                <button type="button" class="btn btn-default" data-dismiss="modal">立即关闭</button>
            </div>
        </div>
    </div>
</div>
</div>




<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/app.js') }}"></script>
<script>
    $(function() {
        var $jModalOk = $('#jModalOk');
        var $jModalFail = $('#jModalFail');
        var $jModalMsg = $('#jModalMsg');
        var ajaxSuccess = false;

        var showMsg = function(tit) {
        $jModalMsg.find('.modal-title').html(tit);
            $jModalMsg.modal('show');
            this.timer && clearTimeout(this.timer);
            this.timer = setTimeout(function() {
                $jModalMsg.modal('hide');
            }, 3e3);
        }

        // 报价合适
        $('.yc-quote-receive').on('click', '.smile', function() {
            $jModalOk.find("input[name='qid']").val($(this).attr("qid"));
            $jModalOk.modal();
            return false;
        });
        // 报价不合适
        $('.yc-quote-receive').on('click', '.sad', function() {
            $jModalFail.find("input[name='qid']").val($(this).attr("qid"));
            $jModalFail.modal();
            return false;
        });
        $jModalOk.on('hidden.bs.modal', function() {
            if (ajaxSuccess) {
                ajaxSuccess = false;
                showMsg('报价合适');
            }
        });
        $jModalFail.on('hidden.bs.modal', function() {
            if (ajaxSuccess) {
                ajaxSuccess = false;
                showMsg('报价不合适');
            }
        });

        $jModalOk.on('click', '.btn', function() {
            $.ajax({
                type:'post',
                url: '/updatequotestate',
                data: {qid:$jModalOk.find("input[name='qid']").val(),state:1,message:""},
                dataType: 'json',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                },
                success: function(data) {
                    ajaxSuccess = true;
                    $jModalOk.modal('hide');
                }
            })
        });

        var message = [];
        var $form = $('#jFormReason');
        $jModalFail.on('click', '.btn', function() {
            $form.find('input:checked').each(function() {
                message.push(this.value);
            });
            message.push($form.find('textarea').val());
            $.ajax({
                type: 'post',
                url: '/updatequotestate',
                data: {"qid":$jModalFail.find("input[name='qid']").val(),"state":2,"message":message.join()},
                dataType: 'json',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
                },
                success: function(data) {
                    ajaxSuccess = true;
                    $jModalFail.modal('hide');
                }
            })
        });
    })
</script>
{% end %}