{% extends "basenofoot.html" %}
{% block container %}
<header class="yc-header">
    <div class="yc-header-back">
        <a href="javascript:history.back();">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">采购详情</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-sub-title">
        <div class="cf">
            <div class="fl">采购编码：<span>HJ283M001</span></div>
            <div class="fr"><time data-time="2016/01/28 10:28:59">2016/01/28 10:28:59</time></div>
        </div>
        <div class="cf">
            <div class="fl"><span class="blue">等待报价</span>(剩余<b>12</b>天)</div>
            <div class="fr">已有<b>332</b>热门浏览，<b>5</b>个报价</div>
        </div>
    </div>

    <div class="yc-purchase-detail">
        <h3>采购品种及要求</h3>
        <div class="bd">
            <h4 class="name">黄连</h4>
            <div class="tag">鸡爪统 重庆</div>
            <div class="weight">3000公斤</div>
            <div class="desc">
                <p>2010药典标准，无虫蛀，无霉，无变色，硫不超标2010药典标准，无虫蛀，无霉，无变色，硫不超标2010药典标准，无虫蛀，无霉，无变</p>
                <p><span>意向价格</span> 74元/公斤 封顶</p>
                <p><span>合格品样例照</span></p>
                <p class="thumb"><img src="uploads/001.jpeg" data-src="http://localhost/webapp\yaocai\uploads\bing-1.jpg" alt=""><img src="uploads/001.jpeg" data-src="http://localhost/webapp\yaocai\uploads\bing-2.jpg" alt=""><img src="uploads/001.jpeg" data-src="http://localhost/webapp\yaocai\uploads\bing-3.jpg" alt=""><img src="uploads/001.jpeg" data-src="http://localhost/webapp\yaocai\uploads\bing-4.jpg" alt=""></p>
            </div>
        </div>
    </div>

    <div class="yc-purchase-detail">
        <h3>交收要求<i class="iconfont icon-fold"></i></h3>
        <dl class="yc-demand yc-demand-fold">
            <dt>交货地：</dt>
            <dd>湖北 武汉</dd>
            <dt>发票要求：</dt>
            <dd>普通发票</dd>
            <dt>交易及付款：</dt>
            <dd>双方直接交易，验收合格后<b>45</b>天付款</dd>
            <dt>验证及包装：</dt>
            <dd>
                <ol>
                    <li>1、我公司对中药材的水分做严格的限度要求，经检测超出要求的，公司根据实际情况折扣处理。</li>
                    <li>2、中药饮片需提供合格的检验报告书</li>
                    <li>3、中药饮片必须双层包装严密，包装袋（箱）应干净、结实、无破损、封口严密，每袋配挂标准吊签，方便识别、储存、运输和使用。</li>
                </ol>
            </dd>
            <dt>寄样：</dt>
            <dd>要求报价后必须寄样<span>报价后会告知详细的寄样要求</span></dd>
            <dt>补充说明：</dt>
            <dd>无</dd>
        </dl>
    </div>


    <div class="yc-purchase-detail">
        <h3>供应商要求<i class="iconfont icon-fold"></i></h3>
        <dl class="yc-demand yc-demand-fold">
            <dt>供应商资质：</dt>
            <dd>必须有营业执照（公司/合作社供/经营户），不接受个人</dd>
            <dt>其它要求：</dt>
            <dd>无</dd>
        </dl>
    </div>

    <div class="yc-quote-receive">
        <h3>共收到4个报价</h3>
        <ol>
            <li>
                <div class="hd">
                    <div class="tl">
                        <span class="type">供货商</span>
                        <strong class="name">亳州永刚中药饮片有限公司亳州永刚中药饮片有限公司亳州永刚中药饮片有限公司亳州永刚中药饮片有限公司</strong>
                    </div>
                    <div class="tr">
                        <time>12-23 08:32</time>
                        <span class="yc-cat">药材经营公司</span>
                    </div>
                    <div class="user">
                        <i class="iconfont icon-user"></i><span>严飞</span>
                        <i class="iconfont icon-mobile"></i><span>15500001111</span>
                        <a href="tel:15500001111">立即拨号</a>
                    </div>
                </div>
                <div class="bd">
                    <div class="tit">报价</div>
                    <div class="unit">
                        <div class="t1">178.5</div>
                        <div class="t2">元/公斤</div>
                        <div class="t3">裸价</div>
                    </div>
                    <div class="desc">
                        鸡爪统货，石柱当地种植，两年，纯干，间有少量碎节、碎渣，含量1.5左右
                    </div>
                    <div class="thumb">
                        <img src="uploads/001.jpeg" data-src="uploads/bing-1.jpg" alt="">
                        <img src="uploads/001.jpeg" data-src="uploads/bing-2.jpg" alt="">
                        <img src="uploads/001.jpeg" data-src="uploads/bing-3.jpg" alt="">
                    </div>
                </div>
                <div class="tools">
                    <a class="smile" href="#"><i class="iconfont icon-face"></i>不错，请供应商联系我</a><a class="sad" href="#"><i class="iconfont icon-frown"></i>不合适，再看看</a>
                </div>
            </li>

            <li>
                <div class="hd">
                    <div class="tl">
                        <span class="type">供货商</span>
                        <strong class="name">秦连发</strong>
                    </div>
                    <div class="tr">
                        <time>12-23 08:32</time>
                        <span class="yc-cat">个人</span>
                    </div>
                    <div class="user">
                        <i class="iconfont icon-user"></i><span>严飞</span>
                        <i class="iconfont icon-mobile"></i><span>15500001111</span>
                        <a href="tel:15500001111">立即拨号</a>
                    </div>
                </div>
                <div class="bd">
                    <div class="tit">报价</div>
                    <div class="unit">
                        <div class="t1">178.5</div>
                        <div class="t2">元/公斤</div>
                        <div class="t3">裸价</div>
                    </div>
                    <div class="desc">
                        鸡爪统货，石柱当地种植，两年，纯干，间有少量碎节、碎渣，含量1.5左右
                    </div>
                    <div class="thumb">
                        <img src="uploads/001.jpeg" data-src="uploads/bing-1.jpg" alt="">
                        <img src="uploads/001.jpeg" data-src="uploads/bing-2.jpg" alt="">
                        <img src="uploads/001.jpeg" data-src="uploads/bing-3.jpg" alt="">
                    </div>
                </div>
                <div class="ft">
                    <div class="status status-refuse"><i class="iconfont icon-frown"></i>已拒绝，原因：价格偏高</div>
                </div>
            </li>

            <li>
                <div class="hd">
                    <div class="tl">
                        <span class="type">供货商</span>
                        <strong class="name">秦连发</strong>
                    </div>
                    <div class="tr">
                        <time>12-23 08:32</time>
                        <span class="yc-cat">个人</span>
                    </div>
                    <div class="user">
                        <i class="iconfont icon-user"></i><span>严飞</span>
                        <i class="iconfont icon-mobile"></i><span>15500001111</span>
                        <a href="tel:15500001111">立即拨号</a>
                    </div>
                </div>
                <div class="bd">
                    <div class="tit">报价</div>
                    <div class="unit">
                        <div class="t1">178.5</div>
                        <div class="t2">元/公斤</div>
                        <div class="t3">裸价</div>
                    </div>
                    <div class="desc">
                        鸡爪统货，石柱当地种植，两年，纯干，间有少量碎节、碎渣，含量1.5左右
                    </div>
                    <div class="thumb">
                        <img src="uploads/001.jpeg" data-src="uploads/bing-1.jpg" alt="">
                        <img src="uploads/001.jpeg" data-src="uploads/bing-2.jpg" alt="">
                        <img src="uploads/001.jpeg" data-src="uploads/bing-3.jpg" alt="">
                    </div>
                </div>
                <div class="ft">
                    <div class="status status-accept"><i class="iconfont icon-face"></i>已甄选为意向供应商</div>
                </div>
            </li>
        </ol>
    </div>

</section><!-- /yc-content -->

<!-- 报价不合适 -->
<div class="modal yc-modal" id="jModalFail" tabindex="-1" role="dialog" aria-labelledby="tit2">
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tit2">报价不合适</h4>
        </div>
        <div class="modal-body">
            <div class="reason">
                <h3>哪些方面您认为不合适？写下真是原因，供应商更懂您</h3>
                <form action="" id="jFormReason">
                    <label><input type="checkbox" value="价格偏高" name="r1">价格偏高</label>
                    <label><input type="checkbox" value="质量不符" name="r2">质量不符</label>
                    <label><input type="checkbox" value="供应商资质不符" name="r3">供应商资质不符</label>
                    <textarea class="ipt" name="" placeholder="详细说明"></textarea>
                </form>
            </div>
            <div class="button">
                <button type="button" class="btn btn-warning">回复报价</button>
            </div>
        </div>
    </div>
</div>
</div>


<!-- 弹层提示 -->
<div class="modal yc-modal" id="jModalMsg" tabindex="-1" role="dialog" aria-labelledby="tit5">
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tit5">停止报价</h4>
        </div>
        <div class="modal-body">
            <div class="result">
                <p class="success"><i class="iconfont icon-radio-yes"></i>操作成功</p>
                <p class="tips">3秒后自动关闭</p>
            </div>
            <div class="button">
                <button type="button" class="btn btn-default" data-dismiss="modal">立即关闭</button>
            </div>
        </div>
    </div>
</div>
</div>




<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/app.js') }}"></script>
<script>
    $(function() {
        var $jModalFail = $('#jModalFail');
        var $jModalMsg = $('#jModalMsg');
        var ajaxSuccess = false;

        var showMsg = function(tit) {
        $jModalMsg.find('.modal-title').html(tit);
            $jModalMsg.modal('show');
            this.timer && clearTimeout(this.timer);
            this.timer = setTimeout(function() {
                $jModalMsg.modal('hide');
            }, 3e3);
        }

        // 报价不合适
        $('.yc-quote-receive').on('click', '.sad', function() {
            $jModalFail.modal();
            return false;
        });
        $jModalFail.on('hidden.bs.modal', function() {
            if (ajaxSuccess) {
                ajaxSuccess = false;
                showMsg('报价不合适');
            }
        });

        var serialize = {};
        var $form = $('#jFormReason');
        $jModalFail.on('click', '.btn', function() {
            $form.find('input').each(function() {
                serialize[this.name] = this.checked ? this.value : '';
                // serialize[this.name] = this.checked;
            });
            serialize['desc'] = $form.find('.ipt').val();
            $.ajax({
                url: '',
                data: serialize,
                success: function() {
                    ajaxSuccess = true;
                    $jModalFail.modal('hide');
                }
            })
        });
    })
</script>
{% end %}