<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>供应商</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="yc-body">
    <header class="yc-header">
        <div class="yc-header-back">
            <a href="javascript:history.back();">
                <i class="iconfont icon-back"></i>
            </a>
        </div>
        <div class="yc-header-title">供应商</div>
    </header><!-- /yc-header -->

    <footer class="yc-footer">
        <nav class="yc-nav">
            <ul>
                <li>
                    <a class="current" href="index.html">
                        <i class="iconfont icon-plane"></i>
                        <span>去报价</span>
                    </a>
                </li>
                <li>
                    <a href="yaocaigou.html">
                        <i class="iconfont icon-car"></i>
                        <span>发采购</span>
                    </a>
                </li>
                <li>
                    <a class="new-msg" href="center.html">
                        <i class="iconfont icon-center"></i>
                        <span>我的工作台</span>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>

    <section class="yc-content">
        <div class="supplier">
            <div class="bg">
                <img src="http://192.168.1.25/yaocai/pages/h5/uploads/pro2.jpg" alt="">
            </div>
            <div class="info">
                <h1>李时珍药材行</h1>
                <h2>主营品种：酸枣仁，柏子仁，山楂，裁胡，金银花</h2>
                <p>经营规模：10人</p>
                <p>地址：安徽省亳州市谯城区28号药材市场</p>
            </div>
        </div>

        <div class="sp-floor sp-list">
            <h3>最近供货记录<span>累计供货130次</span></h3>
            <ul>
                <li>
                    <time>2012-12-12 12:30</time>
                    <span>在药材购平台与亳州永刚中药饮片有限公司完成野生黄连的交易</span>
                </li>
                <li>
                    <time>2012-12-12 12:30</time>
                    <span>在药材购平台与亳州永刚中药饮片有限公司完成野生黄连的交易</span>
                </li>
                <li>
                    <time>2012-12-12 12:30</time>
                    <span>在药材购平台与亳州永刚中药饮片有限公司完成野生黄连的交易</span>
                </li>
                <li>
                    <time>2012-12-12 12:30</time>
                    <span>在药材购平台与亳州永刚中药饮片有限公司完成野生黄连的交易</span>
                </li>
            </ul>
            <div class="slide" id="slide1">
                <ul>
                    <li><img src="http://192.168.1.25/yaocai/pages/h5/uploads/bing-1.jpg" alt=""></li>
                    <li><img src="http://192.168.1.25/yaocai/pages/h5/uploads/bing-2.jpg" alt=""></li>
                    <li><img src="http://192.168.1.25/yaocai/pages/h5/uploads/bing-3.jpg" alt=""></li>
                    <li><img src="http://192.168.1.25/yaocai/pages/h5/uploads/bing-4.jpg" alt=""></li>
                </ul>
            </div>
        </div>

        <div class="sp-floor sp-goods">
            <h3>现货资源</h3>
            <ul>
                <li>
                    <div class="img">
                        <a href="#"><img src="http://192.168.1.25/yaocai/pages/h5/uploads/pro2.jpg" alt=""></a>
                    </div>
                    <div class="name">
                        <a href="#">山楂片</a>
                    </div>
                    <div class="summary">
                        <p>山楂片又称为山楂饼，是以优质山楂为主要材料，经过选料、清洗、蒸熟、打浆、成型、烘干、包装等多道工序精制而成。 山楂片的最基本形状及为山楂片。衍生品有山楂条，夹心山楂片，果味山楂片、铁山楂、果丹皮，雪山楂等。山楂片和山楂果丹皮是最普通，最流行的品种。亦可入药，入药归脾、胃、肝经，有消食化积、活血散瘀的功效。</p>
                        <p>山楂片是一种以山楂为原料制成的食品，有健脾开胃的效果。产品为圆形薄片，色泽鲜艳，厚薄均匀，质酥适度。含糖量为85%，还原糖含量为9%，总酸为1.5%，还含有丰富的蛋白质、脂肪、钙、磷铁和维生素C等营养成分，食后有生津开胃、助消化、降血压血脂等功效。</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="http://192.168.1.25/yaocai/pages/h5/uploads/pro2.jpg" alt=""></a>
                    </div>
                    <div class="name">
                        <a href="#">山楂片</a>
                    </div>
                    <div class="summary">
                        <p>山楂片又称为山楂饼，是以优质山楂为主要材料，经过选料、清洗、蒸熟、打浆、成型、烘干、包装等多道工序精制而成。 山楂片的最基本形状及为山楂片。衍生品有山楂条，夹心山楂片，果味山楂片、铁山楂、果丹皮，雪山楂等。山楂片和山楂果丹皮是最普通，最流行的品种。亦可入药，入药归脾、胃、肝经，有消食化积、活血散瘀的功效。</p>
                        <p>山楂片是一种以山楂为原料制成的食品，有健脾开胃的效果。产品为圆形薄片，色泽鲜艳，厚薄均匀，质酥适度。含糖量为85%，还原糖含量为9%，总酸为1.5%，还含有丰富的蛋白质、脂肪、钙、磷铁和维生素C等营养成分，食后有生津开胃、助消化、降血压血脂等功效。</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="http://192.168.1.25/yaocai/pages/h5/uploads/pro2.jpg" alt=""></a>
                    </div>
                    <div class="name">
                        <a href="#">山楂片</a>
                    </div>
                    <div class="summary">
                        <p>山楂片又称为山楂饼，是以优质山楂为主要材料，经过选料、清洗、蒸熟、打浆、成型、烘干、包装等多道工序精制而成。 山楂片的最基本形状及为山楂片。衍生品有山楂条，夹心山楂片，果味山楂片、铁山楂、果丹皮，雪山楂等。山楂片和山楂果丹皮是最普通，最流行的品种。亦可入药，入药归脾、胃、肝经，有消食化积、活血散瘀的功效。</p>
                        <p>山楂片是一种以山楂为原料制成的食品，有健脾开胃的效果。产品为圆形薄片，色泽鲜艳，厚薄均匀，质酥适度。含糖量为85%，还原糖含量为9%，总酸为1.5%，还含有丰富的蛋白质、脂肪、钙、磷铁和维生素C等营养成分，食后有生津开胃、助消化、降血压血脂等功效。</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <a href="#"><img src="http://192.168.1.25/yaocai/pages/h5/uploads/pro2.jpg" alt=""></a>
                    </div>
                    <div class="name">
                        <a href="#">山楂片</a>
                    </div>
                    <div class="summary">
                        <p>山楂片又称为山楂饼，是以优质山楂为主要材料，经过选料、清洗、蒸熟、打浆、成型、烘干、包装等多道工序精制而成。 山楂片的最基本形状及为山楂片。衍生品有山楂条，夹心山楂片，果味山楂片、铁山楂、果丹皮，雪山楂等。山楂片和山楂果丹皮是最普通，最流行的品种。亦可入药，入药归脾、胃、肝经，有消食化积、活血散瘀的功效。</p>
                        <p>山楂片是一种以山楂为原料制成的食品，有健脾开胃的效果。产品为圆形薄片，色泽鲜艳，厚薄均匀，质酥适度。含糖量为85%，还原糖含量为9%，总酸为1.5%，还含有丰富的蛋白质、脂肪、钙、磷铁和维生素C等营养成分，食后有生津开胃、助消化、降血压血脂等功效。</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="sp-floor">
            <h3>企业资质&amp;生产环境</h3>
            <div class="slide" id="slide2">
                <ul>
                    <li><img src="http://192.168.1.25/yaocai/pages/h5/uploads/bing-1.jpg" alt=""></li>
                    <li><img src="http://192.168.1.25/yaocai/pages/h5/uploads/bing-2.jpg" alt=""></li>
                    <li><img src="http://192.168.1.25/yaocai/pages/h5/uploads/bing-3.jpg" alt=""></li>
                    <li><img src="http://192.168.1.25/yaocai/pages/h5/uploads/bing-4.jpg" alt=""></li>
                </ul>
            </div>
        </div>

        <div class="sp-floor">
            <h3>即刻采购</h3>
            <div class="summary">
                <p>每一个药销通会员都经过药材购工作人员的实地考察，从药材质量、药材价格以及按时</p>
            </div>
            <div class="link">
                <a href="#" class="primany">立即邀请报价</a>
            </div>
        </div>
    </section><!-- /yc-content -->

	
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script>
        $('.slide').each(function() {
            var $self = $(this),
                $nav,
                length = $self.find('li').length;

            if (length < 2) {
                return;
            }
            var nav = ['<div class="nav">'];
            for (var i = 0 ; i < length; i++) {
                nav.push( i === 0 ? '<i class="current"></i>' : '<i></i>');
            }
            nav.push('</div>');
            $self.append(nav.join(''));
            $nav = $self.find('i');

            $(this).swipeSlide({
                index : 0,
                continuousScroll : true,
                autoSwipe : false,
                lazyLoad : true,
                firstCallback : function(i,sum){
                    $nav.eq(i).addClass('current').siblings().removeClass('current');
                },
                callback : function(i,sum){
                    $nav.eq(i).addClass('current').siblings().removeClass('current');
                }
            });
        })
        
    </script>

</body>
</html>