{% extends "base.html" %}
{% block container %}
<header class="yc-header">
    <div class="yc-header-back">
        <a href="/center">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">账户资料</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-form yc-form-r">
        <div class="title">
            <span>基础信息</span>
        </div>
        <div class="item">
            <label class="txt">会员名</label>
            <span class="ipt">{{user.username}}</span>
        </div>
        <div class="item">
            <label class="txt">密码</label>
            <a class="ipt" href="/user/updatepassword">修改密码<i class="iconfont icon-more"></i></a>
        </div>
        <div class="item">
            <label class="txt">绑定手机</label>
            <a class="ipt" href="#none">{{user.phone[0:3]}}****{{user.phone[-4:]}}</a>
        </div>
        <div class="item">
            <label class="txt">个人称呼</label>
            <a class="ipt" href="/user/updatenickname">{{user.nickname}}<i class="iconfont icon-more"></i></a>
        </div>
        <div class="item">
            <label class="txt">绑定微信</label>
            <a class="ipt" href="#none"><img src="static/uploads/avatar_9527.png" alt="">boyyafee<i class="iconfont icon-more"></i></a>
        </div>
        <div class="title">
            <span>经营主体</span>
        </div>
        <div class="item">
            <label class="txt">经营主体</label>
            <span class="ipt">{{user.nickname}}</span>
            <!--<span class="ipt"><a class="btn-verify" href="#none">立即认证</a></span>-->
        </div>
        <div class="title">
            <span>经营信息</span>
        </div>
        <div class="item">
            <label class="txt">经营类型</label>
            <a class="ipt" href="/user/category">
                {% if user.type==1 %}
                饮片厂/饮片生产、加工
                {% elif user.type==2 %}
                药厂/制药企业
                {% elif user.type==3 %}
                药材贸易经营公司
                {% elif user.type==4 %}
                种植合作社/种植基地
                {% elif user.type==5 %}
                其它类型公司
                {% elif user.type==6 %}
                个人经营
                {% elif user.type==7 %}
                企业采购经理/业务员
                {% else %}
                未设定
                {% end %}
                <i class="iconfont icon-more"></i></a>
        </div>
        <div class="item">
            <label class="txt">关注品种</label>
            <a class="tag" href="/user/attention">
                {% for variety in varieties %}
                <b>{{ variety.name }}</b>
                {% end %}
                {% if len(varieties) == 0 %}
                <b>添加品种</b>
                {% end %}
                <i class="iconfont icon-more"></i>
            </a>
        </div>
    </div>
</section><!-- /yc-content -->
{% end %}