{% extends "basenofoot.html" %}
{% block container %}
<header class="yc-header">
    <div class="yc-header-back">
        <a href="javascript:history.back();">
            <i class="iconfont icon-back"></i>
        </a>
    </div>
    <div class="yc-header-title">关注药材购微信公众号</div>
</header><!-- /yc-header -->

<section class="yc-content">
    <div class="yc-weixin">
        <h1 class="title">长按并识别以下二维码，添加 药材购 微信公众号，随时随地从微信进入药材购</h1>
        <div class="qrcode">
            <img src="static/images/qucode_340_340.jpg" alt="">
        </div>
        <div class="text">
            <p><i class="iconfont icon-pagelines"></i>卖货：海量实时采购单，随时随地报价</p>
            <p><i class="iconfont icon-car"></i>采购：发布采购单，自动匹配优质供货商报价</p>
        </div>
    </div>
</section><!-- /yc-content -->
{% end %}