{% extends "base.html" %}
{% block container %}
{% import config %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>业务路径</h1>
        </section>
        <section class="filter">
            <form>
                <div class="item">
                    <label>快速选择：</label>
                    <a class="ubtn {% if int(type)==0 %}ubtn-pink{% else %}ubtn-gray{% end %}" href="/stat/business?type=0">近1天</a>
                    <a class="ubtn {% if int(type)==1 %}ubtn-pink{% else %}ubtn-gray{% end %}" href="/stat/business?type=1">近1周</a>
                    <a class="ubtn {% if int(type)==2 %}ubtn-pink{% else %}ubtn-gray{% end %}" href="/stat/business?type=2">近1月</a>
                    <a class="ubtn {% if int(type)==3 %}ubtn-pink{% else %}ubtn-gray{% end %}"  href="/stat/business?type=3">全部</a>
                </div>
                <div class="item">
                    <label>日期范围：</label>
                    <input type="text" class="yc-ipt date" id="starttime" value="{{starttime}}">
                    <span>至</span>
                    <input type="text" class="yc-ipt date" id="endtime" value="{{endtime}}">
                    <button type="button" class="ubtn ubtn-green" id="pquery">查询</button>
                </div>
            </form>
        </section>
        <section class="content">  
            <div class="mychart">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">采购情况</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <p>收到的报价个数，平均：<b>{{purchase_step["average_quote"]}}</b>　　最多的：<b>{{ purchase_step["max_quote"] }}</b></p>
                                <p>收到第一个报价耗时，平均<b>{{purchase_step["firt_quote_cost"]}}小时</b>，最快：<b>{{ purchase_step["min_cost"] }}小时</b></p>
                                <p>被查看次数，平均：<b>{{purchase_step["average_view"]}}</b>，最高：<b>{{purchase_step["max_view"]}}</b></p>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td rowspan="4"> 
                                <em>发布的采购单批次 {{purchase_step["purchaseinfo_num"]}}</em>
                                <br>
                                <span>{{purchase_step["user_num"]}}个采购商</span>
                                <br>
                                <span>{{purchase_step["variety_num"]}}个品种</span>
                            </td>
                            <td rowspan="3">
                                <em>收到了报价</em>
                                <span>{{purchase_step["quote_num"]}}({{purchase_step["quote_rate"]}}%)</span>
                            </td>
                            <td>
                                <em>有认可的报价</em>
                                <span>{{purchase_step["accept_num"]}}({{purchase_step["accept_rate"]}}%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>答复过，但没有认可的</em>
                                <span>{{purchase_step["no_accept_num"]}}({{purchase_step["no_accept_rate"]}}%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>完全没答复</em>
                                <span>{{purchase_step["no_reply_num"]}}({{purchase_step["no_reply_rate"]}}%)</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <em>没收到报价</em>
                                <span>{{purchase_step["not_quote_num"]}}({{purchase_step["not_quote_rate"]}}%)</span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div> 

            <div class="mychart">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">报价情况</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <p>报价收到答复的耗时，平均：<b>{{quote_step["replay_quote_cost"]}}</b>，最快：<b>{{quote_step["min_reply_cost"]}}小时</b></p>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td rowspan="4"> 
                                <em>收到的报价</em>
                                <span>{{quote_step["all_quoto_num"]}}</span>
                                <br>
                                <span>{{quote_step["apply_user_num"]}}个供货商</span>
                                <br>
                                <span>{{quote_step["supply_variety_num"]}}个品种</span>
                            </td>
                            <td rowspan="3">
                                <em>收到了答复</em>
                                <span>{{quote_step["replay_quote_num"]}}({{quote_step["replay_quote_rate"]}}%)</span>
                            </td>
                            <td>
                                <em>获得认可</em>
                                <span>{{quote_step["replay_aceept_quote_num"]}}({{quote_step["replay_aceept_quote_rate"]}}%)</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <em>被拒绝</em>
                                <span>{{quote_step["replay_refuse_quote_num"]}}({{quote_step["replay_refuse_quote_rate"]}}%)</span>
                            </td>
                            <td>
                                <em>价格偏高</em>
                                <span>{{quote_step["high_price_num"]}}({{quote_step["high_price_rate"]}}%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>质量不符</em>
                                <span>{{quote_step["low_quality_num"]}}({{quote_step["low_quality_rate"]}}%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>没收到答复</em>
                                <span>{{quote_step["no_replay_quote_num"]}}({{quote_step["no_replay_quote_rate"]}}%)</span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </section>
    </div>

    <script src="{{ static_url('plugins/laydate/laydate.js') }}"></script>
    <script src="{{ static_url('plugins/layer/layer.js') }}"></script>
    <script>
        $(document).ready(function() {
            //日历
            var start = {
                elem: '#starttime',
                format: 'YYYY-MM-DD hh:mm:ss',
                min: '2000-01-01 00:00:00',
                max: laydate.now(), //最大日期
                istime: true,
                istoday: false,
                choose: function(datas){
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas; //将结束日的初始值设定为开始日
                }
            };
            var end = {
                elem: '#endtime',
                format: 'YYYY-MM-DD hh:mm:ss',
                min: '2000-01-01 00:00:00',
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function(datas){
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(start);
            laydate(end);

            // 查询
            $('#pquery').click(function(){
                var starttime = $('#starttime').val();
                var endtime = $('#endtime').val();
                if ((starttime && endtime)) {
                    location.href = '/stat/business?type=-1&starttime=' + starttime + '&endtime=' + endtime;
                }else{
                    layer.msg('时间范围需填写完整', {offset: 0});
                }
            });
        });
    </script>
{% end %}


