{% extends "base.html" %}
{% block container %}
{% import config %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>业务路径</h1>
        </section>
        <section class="filter">
            <form class="form-inline">
                <div class="form-group">
                    <label>日期范围：</label>
                    <div class="input-group date form_datetime">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" id="starttime" value="">
                    </div>
                    至
                    <div class="input-group date form_datetime">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" id="endtime" value="">
                    </div>
                </div>

                <div class="form-group">
                    <a class="label label-warning" href="#">近1天</a>
                </div>
                <div class="form-group">
                    <a class="label label-default" href="#">近1周</a>
                </div>
                <div class="form-group">
                    <a class="label label-default" href="#">近1月</a>
                </div>
                <div class="form-group">
                    <a class="label label-default" href="#">全部</a>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-query" id="pquery">查询</button>
                </div>
            </form>
        </section>
        <section class="content">  
            <div class="mychart">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">采购情况</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <p>收到的报价个数，平均：<b>2.4</b>　　最多的：<b>6</b></p>
                                <p>收到第一个报价耗时，平均<b>24小时</b>，最快：<b>0.2小时</b></p>
                                <p>被查看次数，平均：<b>23</b>，最高：<b>246</b></p>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td rowspan="4"> 
                                <em>发布的采购单 100</em>
                                <span>4个采购商</span>
                                <span>78个品种</span>
                            </td>
                            <td rowspan="3">
                                <em>收到了报价</em>
                                <span>50(50%)</span>
                            </td>
                            <td>
                                <em>有认可的报价</em>
                                <span>10(10%)</span>                         
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>答复过，但没有认可的</em>
                                <span>30(30%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>完全没答复</em>
                                <span>10(10%)</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <em>没收到报价</em>
                                <span>50(50%)</span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div> 

            <div class="mychart">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">报价情况</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <p>报价收到答复的耗时，平均：<b>48小时</b>，最快：<b>2小时</b></p>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td rowspan="4"> 
                                <em>收到的报价</em>
                                <span>100</span>
                                <span>56个供货商</span>
                                <span>89个品种</span>
                            </td>
                            <td rowspan="3">
                                <em>收到了答复</em>
                                <span>50(50%)</span>
                            </td>
                            <td>
                                <em>获得认可</em>
                                <span>10(10%)</span>                         
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <em>被拒绝</em>
                                <span>40(40%)</span>
                            </td>
                            <td>
                                <em>价格偏高</em>
                                <span>30(30%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>质量不符</em>
                                <span>10(10%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>没收到答复</em>
                                <span>50(50%)</span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </section>
    </div>
    <script>
        $(document).ready(function() {
            $(".form_datetime").datetimepicker({
                language: "zh-CN",
                autoclose: true,
                todayBtn: true
            });


            $("#pquery").click(function() {
                var starttime = $("#starttime").val();
                var endtime = $("#endtime").val();

                if (starttime != "" && endtime != "") {
                    // window.location.href='/purchase/purchaselist/type/-1/starttime/'+starttime+'/endtime/'+endtime;
                } else {
                    alert("时间范围或品种名需填写完整");
                }
            });
        })
    </script>
{% end %}


