{% extends "base.html" %}
{% block container %}
{% import config %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>业务路径</h1>
        </section>
        <section class="filter">
            <form class="form-inline">
                <div class="form-group">
                    <label>日期范围：</label>
                    <div class="input-group date form_datetime">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" id="starttime" value="{{starttime}}">
                    </div>
                    至
                    <div class="input-group date form_datetime">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" id="endtime" value="{{endtime}}">
                    </div>
                </div>

                <div class="form-group">
                    <a {% if int(type)==0 %} class="label label-warning" {% else %} class="label label-default"  {% end %} href="/stat/business?type=0">近1天</a>
                </div>
                <div class="form-group">
                    <a {% if int(type)==1 %} class="label label-warning" {% else %} class="label label-default"  {% end %} href="/stat/business?type=1">近1周</a>
                </div>
                <div class="form-group">
                    <a {% if int(type)==2 %} class="label label-warning" {% else %} class="label label-default"  {% end %}href="/stat/business?type=2">近1月</a>
                </div>
                <div class="form-group">
                    <a {% if int(type)==3 %} class="label label-warning" {% else %} class="label label-default"  {% end %}  href="/stat/business?type=3">全部</a>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-query" id="pquery">查询</button>
                </div>
            </form>
        </section>
        <section class="content">  
            <div class="mychart">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">采购情况</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <p>收到的报价个数，平均：<b>{{purchase_step["average_quote"]}}</b>　　最多的：<b>{{ purchase_step["max_quote"] }}</b></p>
                                <p>收到第一个报价耗时，平均<b>{{purchase_step["firt_quote_cost"]}}小时</b>，最快：<b>{{ purchase_step["min_cost"] }}小时</b></p>
                                <p>被查看次数，平均：<b>{{purchase_step["average_view"]}}</b>，最高：<b>{{purchase_step["max_view"]}}</b></p>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td rowspan="4"> 
                                <em>发布的采购单批次 {{purchase_step["purchaseinfo_num"]}}</em>
                                <br>
                                <span>{{purchase_step["user_num"]}}个采购商</span>
                                <br>
                                <span>{{purchase_step["variety_num"]}}个品种</span>
                            </td>
                            <td rowspan="3">
                                <em>收到了报价</em>
                                <span>{{purchase_step["quote_num"]}}({{purchase_step["quote_rate"]}}%)</span>
                            </td>
                            <td>
                                <em>有认可的报价</em>
                                <span>{{purchase_step["accept_num"]}}({{purchase_step["accept_rate"]}}%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>答复过，但没有认可的</em>
                                <span>{{purchase_step["no_accept_num"]}}({{purchase_step["no_accept_rate"]}}%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>完全没答复</em>
                                <span>{{purchase_step["no_reply_num"]}}({{purchase_step["no_reply_rate"]}}%)</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <em>没收到报价</em>
                                <span>{{purchase_step["not_quote_num"]}}({{purchase_step["not_quote_rate"]}}%)</span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div> 

            <div class="mychart">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">报价情况</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <p>报价收到答复的耗时，平均：<b>{{quote_step["replay_quote_cost"]}}</b>，最快：<b>{{quote_step["min_reply_cost"]}}小时</b></p>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td rowspan="4"> 
                                <em>收到的报价</em>
                                <span>{{quote_step["all_quoto_num"]}}</span>
                                <br>
                                <span>{{quote_step["apply_user_num"]}}个供货商</span>
                                <br>
                                <span>{{quote_step["supply_variety_num"]}}个品种</span>
                            </td>
                            <td rowspan="3">
                                <em>收到了答复</em>
                                <span>{{quote_step["replay_quote_num"]}}({{quote_step["replay_quote_rate"]}}%)</span>
                            </td>
                            <td>
                                <em>获得认可</em>
                                <span>{{quote_step["replay_aceept_quote_num"]}}({{quote_step["replay_aceept_quote_rate"]}}%)</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <em>被拒绝</em>
                                <span>{{quote_step["replay_refuse_quote_num"]}}({{quote_step["replay_refuse_quote_rate"]}}%)</span>
                            </td>
                            <td>
                                <em>价格偏高</em>
                                <span>{{quote_step["high_price_num"]}}({{quote_step["high_price_rate"]}}%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>质量不符</em>
                                <span>{{quote_step["low_quality_num"]}}({{quote_step["low_quality_rate"]}}%)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <em>没收到答复</em>
                                <span>{{quote_step["no_replay_quote_num"]}}({{quote_step["no_replay_quote_num"]}}%)</span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </section>
    </div>
    <script>
        $(document).ready(function() {
            $(".form_datetime").datetimepicker({
                language: "zh-CN",
                autoclose: true,
                todayBtn: true
            });


            $("#pquery").click(function() {
                var starttime = $("#starttime").val();
                var endtime = $("#endtime").val();

                if (starttime != "" && endtime != "") {
                    window.location.href='/stat/business?type=-1&starttime='+starttime+'&endtime='+endtime;
                } else {
                    alert("时间范围需填写完整");
                }
            });
        })
    </script>
{% end %}


