<!DOCTYPE html>
<html>
{% include public/head.html %}
<link href="{{ static_url('bootstrap/css/signin.css') }}" rel="stylesheet" media="screen">
<body>
<div class="container">
  <form class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading">药采购BOSS工作平台</h2>
    {% raw xsrf_form_html() %}
    <label for="inputEmail" class="sr-only">用户名</label>
    <input name="username" type="text" id="inputEmail" class="form-control" placeholder="用户名" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="密码" required>
    <input name="next_url" type="hidden" value="{{ next_url }}"/>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> 记住我
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登 录</button>
  </form>
</div>
</body>
</html>