{% extends "base.html" %}
{% block container %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>订单管理</h1>
    </section>
    <section class="filter">
        <form class="form-inline">
            <div class="form-group">
                <span class="label label-warning">全部（5）</span>
            </div>
            <div class="form-group">
                <span class="label label-default">等待报价（1）</span>
            </div>
            <div class="form-group">
                <span class="label label-default">甄选供应商（2）</span>
            </div>
            <div class="form-group">
                <span class="label label-default">关闭（3）</span>
            </div>
            <div class="form-group">
                <label >发布时间：</label>
                <div class="input-group date form_datetime">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control">
                </div>
                至
                <div class="input-group date form_datetime">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-query">查询</button>
            </div>
            <div class="form-group">
                <button type="reset" class="btn btn-default">清空</button>
            </div>
        </form>
    </section>
    <section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="warning">
                            <th style="text-align:center;">采购批号</th>
                            <th style="text-align:center;">品种</th>
                            <th style="text-align:center;">报价</th>
                            <th style="text-align:center;">操作</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases%}
                        <tr class="success">
                            <td style="text-align:center;">{{ purchase.id }}</td>
                            <td style="text-align:center;">{{ purchase.name }}</td>
                            <td style="text-align:center;">
                                {% if purchase.status == 0%}
                                <span style="color:#939393;">关闭</span>
                                {% elif (purchase.limited == 1 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.limited == 2%}
                                <b style="color:#286090;">
                                    等待报价
                                </b>
                                <span style="color:#939393;">
                                    {% if purchase.limited == 1%}
                                    剩余{{purchase.timedelta}}天（{{purchase.expire}} 截止）
                                    {% else%}
                                    常年采购
                                    {% end %}
                                </span>
                                {% else %}
                                <b style="color:#563d7c;">报价结束，甄选供应商</b>
                                {% end %}
                            </td>
                            <td style="text-align:center;">
                                {% if purchase.status == 0 %}
                                <span class="glyphicon glyphicon-list-alt" style="color:#f0ad4e;"></span>
                                {% elif (purchase.limited == 1 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.limited == 2%}
                                <span class="glyphicon glyphicon-remove-sign" style="color:#f0ad4e;" onclick="removepurchase({{purchase.id}})"></span>&nbsp;&nbsp;
                                {% else %}
                                <span class="glyphicon glyphicon-list-alt" style="color:#f0ad4e;"></span>
                                {% end %}
                            </td>
                            <td style="text-align:center;">
                                <span style="color:#939393;">发布时间：</span>
                                {{ purchase.datetime }}
                            </td>
                        </tr>
                        <tr class="info">
                            <td></td>
                            <td colspan="2">
                                交货地：{{purchase.areaname}}<br>
                                发票要求：
                                {% if purchase.invoice == 1 %}
                                无需发票
                                {% elif purchase.invoice == 2 %}
                                普通发票
                                {% elif purchase.invoice == 3 %}
                                增值税发票
                                {% end %}<br>
                                交易及付款：
                                {% if purchase.pay == 1 %}
                                预付全款
                                {% elif purchase.pay == 2 %}
                                双方直接交易，验收合格后{{purchase.payday}}天内付款
                                {% elif purchase.pay == 3 %}
                                {{purchase.payinfo}}
                                {% end %}
                                <br>
                                验收及包装：{{purchase.accept}}
                            </td>
                            <td colspan="2">
                                寄样：
                                {% if purchase.send == 1 %}
                                报价必须寄样&nbsp;&nbsp;
                                {% end %}
                                {{purchase.receive}}<br>
                                补充说明：{{purchase.other}}<br>
                                供应商要求：
                                {% if purchase.supplier == 1 %}
                                必须有营业执照（公司/合作社/经营户），不接受个人
                                {% elif purchase.supplier == 2 %}
                                具备GSP资质
                                {% elif purchase.supplier == 3 %}
                                具备GMP资质
                                {% end %}
                            </td>
                        </tr>
                        {% for index,purchaseinfo in enumerate(purchase.purchaseinfo)%}
                        <tr>
                            {% if index == 0 %}
                            <td rowspan="{{len(purchase.purchaseinfo)}}"></td>
                            {% end %}
                            <td style="text-align:center;"><a href="/purchase/purchaseinfo/{{purchaseinfo.id}}">{{purchaseinfo.name}}</a>  {{purchaseinfo.specification}}</td>
                            <td style="text-align:center;">
                                5个报价<span class="badge" style="background-color:#f0ad4e;">4</span>
                                最低价23（裸价）
                                <span style="color:#44b549">已甄选<b style="color:#f0ad4e;">1</b>家意向供应商</span>
                            </td>
                            <td style="text-align:center;">
                                <span class="glyphicon glyphicon-share" rel="{{purchaseinfo.id}}" sharerel="{{purchase.nickname}}采购{{purchaseinfo.name}}{{purchaseinfo.quantity}}公斤，{{purchaseinfo.specification}}，产地{{purchaseinfo.origin}}，{{purchaseinfo.quality}}。请速报价：http://ycg.cn/buy/{{purchaseinfo.id}}" style="color:#f0ad4e;"></span>&nbsp;&nbsp;
                            </td>
                            <td></td>
                        </tr>
                        {% end %}
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% module PageNav(nav=nav, show=True) %}
    </section>
</div>
<!-- Modal -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">邀请报价</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="bs-example">
                    <h5><img width="30" src="{{ static_url('images/wechat.jpg') }}" />  微信邀请朋友报价</h5>
                    <p>微信扫描如下二维码，可发给微信好友或分享朋友圈，邀请前来报价</p>
                    <center><img src="{{ static_url('images/qrcode.jpg') }}" width="180"/></center>
                </div>
            </div>
            <div class="col-sm-6">
                <h5><img width="30" src="{{ static_url('images/qq.jpg') }}" />  QQ邀请朋友报价</h5>
                <p>复制如下消息，发送给QQ好友或QQ群，邀请其前来报价</p>
                <textarea id="sharemsg" class="form-control" style="width: 250px; height: 100px;" placeholder="严飞采购黄连1000公斤，鸡爪连，产地重庆，符合2010药典标准。请速报价：http://ycg.cn/buy/10499"></textarea>
                <br>
                <button style="width:250px" type="button" class="btn btn-default">复制</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $(".glyphicon-share").click(function() {
        var id = $(this).attr('rel');
        var share = $(this).attr('sharerel');
        $("#sharemsg").attr("placeholder", share);
        $("#share").modal();
    });
})

function removepurchase(pid){
    if(!confirm('确定要关闭当前采购订单？'))return false;
    $.ajax({
        url: "/removepurchase",
        data: "pid="+pid,
        dataType: 'json',
        type: 'POST',
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
        },
        success: function(data) {
            if(data.status == "success"){
                window.location.reload();
            }else{
                alert("提交失败，请刷新页面重试");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
     });
}
</script>
{% end %}