{% extends "base.html" %}
{% block container %}
{% import config %}
<style>
    .control-label{
        color:#939393;
    }
    .bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
        background-color: #F5F1EA !important;
    }
    .form-inline {
        color:#000;
    }
    .purchaser {
        color:#000;
    }
</style>
<div class="content-wrapper">
    <section class="content">
    <h5><a href="#"onclick="javascript:history.back(-1);">返回我的采购</a></h5>
    <br>

    <div class="alert alert-warning" role="alert">
        <div class="row">
            <div class="col-sm-5">
                <p style="font-size:20px;color:#f0ad4e;">采购商</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 purchaser">
            <b>{{user.name}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
            <b style="color:#939393;">身份真实</b>&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color:#f0ad4e;">
                {% if user.type == 1 %}
                饮片厂/饮片生产、加工
                {% elif user.type == 2 %}
                药厂/制药企业
                {% elif user.type == 3 %}
                药材贸易经营公司
                {% elif user.type == 4 %}
                种植合作社/种植基地
                {% elif user.type == 5 %}
                其他类型公司
                {% elif user.type == 6 %}
                个体经营
                {% elif user.type == 7 %}
                企业采购经理/业务员
                {% elif user.type == 8 %}
                采购药材为主
                {% elif user.type == 9 %}
                销售药材为主
                {% elif user.type == 10 %}
                既采购也销售药材
                {% end %}
            </span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:#939393"></span>&nbsp;{{user.nickname}}&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-phone" aria-hidden="true" style="color:#939393"></span>&nbsp;{{user.phone}}
            </div>
        </div>
    </div>

    <div class="alert alert-warning" style="color:#000">
        <div class="row">
          <div class="col-sm-5">
            <p style="font-size:20px;color:#f0ad4e;">采购品种及质量要求</p>
          </div>
          <div class="col-sm-7">
            <p>
                <span style="color:#939393;">采购编码：{{ purchase.id }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color:#939393;">发布时间：{{ purchase.datetime }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color:#939393;">
                    {% if purchase.status == 0%}
                    <span style="color:#939393;">关闭</span>
                    {% elif (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.term == 0%}
                    <b style="color:#286090;">等待报价</b>
                    <span style="color:#939393;">
                        {% if purchase.term != 0%}
                        （剩余<b style="color:#f0ad4e;">{{purchase.timedelta}}</b>天）
                        {% else%}
                        常年采购
                        {% end %}
                    </span>
                    {% else %}
                    <b style="color:#563d7c;">报价结束，甄选供应商</b>
                    {% end %}
                </span>
            </p>
          </div>
        </div>
        <hr style="border-color:#ccc;"/>
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
                <div class="form-inline">
                    <label style="font-size:18px">{{ purchase.name }}</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ purchase.specification }}&nbsp;&nbsp;&nbsp;&nbsp;{{ purchase.quantity }}{{purchase.unit}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">质量要求：</label>
                <div class="form-inline">
                    {{ purchase.quality }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">意向价格：</label>
                <div class="form-inline">
                    {{ purchase.price }}元/{% if purchase.unit == u'吨' %}公斤{% else %}{{purchase.unit}}{% end %}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">交货地：</label>
                <div class="form-inline">
                    {{ purchase.areaname }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">合格样例：</label>
                <div class="form-inline">
                {% for attachment in purchase.attachments %}
                <a href="{{attachment.attachment.replace('_thumb','')}}"><img width="60" height="68" src="{{ attachment.attachment }}" /></a>
                {% end %}
                </div>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group">
                <label class="control-label">交易及付款：</label>
                <div class="form-inline">
                    {% if purchase.pay == 1%}
                    药采购"安心交易"(预付全款)
                    {% elif purchase.pay == 2%}
                    双方直接交易，验证合格后{{purchase.payday}}天内付款
                    {% else %}
                    {{purchase.payinfo}}
                    {% end %}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">验收及包装：</label>
                <div class="form-inline">
                {{ purchase.accept }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">寄样：</label>
                <div class="form-inline">
                {% if purchase.send == 1 %}
                要求报价后必须寄样
                {% end %}
                {{ purchase.receive }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">补充说明：</label>
                <div class="form-inline">
                {{ purchase.other }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">供应商要求：</label>
                <div class="form-inline">
                {% if '1' in purchase.supplier.split("&") %}
                必须有营业执照（公司、合作社、经营户），不接收个人
                <br>
                {% end %}
                {% if '2' in purchase.supplier.split("&") %}
                具备GSP资质
                <br>
                {% end %}
                {% if '3' in purchase.supplier.split("&") %}
                具备GMP资质
                {% end %}
                </div>
            </div>
          </div>
        </div>
        <hr style="border-color:#ccc;"/>
        <p>
            <span style="color:#286090;">该批次采购的还有其他{{ others }}个品种</span>
            <span style="float:right">
                <span class="glyphicon glyphicon-share" style="color:#f0ad4e;" data-toggle="modal" data-target="#share"></span>&nbsp;&nbsp;
                {% if purchase.status == 1%}
                <span class="glyphicon glyphicon-remove-sign" style="color:#f0ad4e;" data-toggle="modal" data-target="#myModal"></span>&nbsp;&nbsp;
                {% end %}
            </span>
        </p>
    </div>

    <div class="alert alert-warning" role="alert">
        <b style="font-size:20px;color:#f0ad4e;">收到<span style="color:#286090;">{{len(quotes)}}</span>个报价</b>&nbsp;&nbsp;&nbsp;&nbsp;
        <b style="color:#939393;">采购单被查看了<span style="color:#f0ad4e;">{{ purchase.views }}</span>次</b>
    </div>

    <!-- /.row -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="text-align:center;">报价时间</th>
                <th style="text-align:center;">供应商</th>
                <th style="text-align:center;">报价</th>
                <th style="text-align:center;">货源情况</th>
                <th style="text-align:center;">选中</th>
                <th style="text-align:center;">操作/状态</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in quotes %}
            <tr>
                <td style="text-align:center;">{{quote.datetime}}</td>
                <td style="text-align:center;">
                    <b>{{quote.name}}<span class="label label-warning"></span></b>
                    <p><span class="glyphicon glyphicon-user"></span>{{quote.nickname}}</p>
                    <p><span class="glyphicon glyphicon-phone"></span>{{quote.phone}}</p>
                </td>
                <td style="text-align:center;">
                    <p><b style="color:#f0ad4e;">{{quote.price}}</b>元/{% if quote.unit == u'吨' %}公斤{% else %}{{quote.unit}}{% end %}</p>
                </td>
                <td style="text-align:center;">
                    <p>
                        {% for attachment in quote.attachments %}
                        <a href="{{attachment.attachment.replace('_thumb','')}}"><img width="60" height="68" src="{{attachment.attachment}}" /></a>
                        {% end %}
                    </p>
                    <p>{{quote.quality}}</p>
                </td>
                <td>
                    {% if quote.state == 0 %}
                    <input type="checkbox" name="type" qid="{{quote.id}}">
                    {% end %}
                </td>
                <td>
                    {% if quote.state == 1 %}
                    <b style="color:green">已甄选为意向供应商</b>
                    {% elif quote.state == 2 %}
                    <b style="color:red">已拒绝，价格不合适</b>
                    {% elif quote.state == 0 %}
                    <p><span class="label label-success" style="cursor:pointer" onclick="if(confirm('确认要操作此的报价单?')){updatequotestate({{quote.id}},1)}">不错，请供应商联系我</span></p>
                    <p><span class="label label-danger" style="cursor:pointer" quoteid="{{quote.id}}">不合适，再看看</span></p>
                    <!--<p><span class="label label-warning">聊一聊</span></p>-->
                    {% end %}
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
    <div style="float:right">
        <p>批量操作：<span class="label label-success" style="cursor:pointer" id="accepts">不错</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-danger" style="cursor:pointer" id="rejects">不合适</span></p>
    </div>
    </section>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">订单关闭</h4>
      </div>
      <div class="modal-body">
        <p>确定要关闭当前采购订单？</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="removepurchase({{purchase.id}})">确认</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">邀请报价</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="bs-example">
                    <h5><img width="30" src="{{ static_url('images/wechat.jpg') }}" />  微信邀请朋友报价</h5>
                    <p>微信扫描如下二维码，可发给微信好友或分享朋友圈，邀请前来报价</p>
                    <center><img src="http://qr.liantu.com/api.php?text={{config.host}}/purchaseinfobatch/purchaseid/{{purchase.id}}" width="180"/></center>
                </div>
            </div>
            <div class="col-sm-6">
                <h5><img width="30" src="{{ static_url('images/qq.jpg') }}" />  QQ邀请朋友报价</h5>
                <p>复制如下消息，发送给QQ好友或QQ群，邀请其前来报价</p>
                <textarea id="sharemsg" class="form-control" style="width: 250px; height: 100px;" placeholder="">{{user.nickname}}采购{{purchase.name}}{{purchase.quantity}}{{purchase.unit}}，{{purchase.specification}}，产地{{purchase.origin}}，{{purchase.quality}}。请速报价：{{config.host}}/purchaseinfobatch/purchaseid/{{purchase.id}}</textarea>
                <br>
                <button style="width:250px" type="button" class="btn btn-default">复制</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="rejectquote" tabindex="-1" role="dialog" aria-labelledby="rejectquoteLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="rejectquoteLabel">报价不合适</h4>
      </div>
      <div class="modal-body">
        <p>哪方面您认为不合适？写下原因，供应商更懂您</p>
        <p><input type="checkbox" name="msg" value="价格偏高" /> 价格偏高</p>
        <p><input type="checkbox" name="msg" value="质量不符" /> 质量不符</p>
        <p><input type="checkbox" name="msg" value="供应商资质不符" /> 供应商资质不符</p>
        <p><textarea name="message" id="message" style="width: 550px; height: 100px;"></textarea></p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" id="replyquote" quoteid="">回复报价</button>
      </div>
    </div>
  </div>
</div>
<br>
<script type="text/javascript">
$(document).ready(function(){
    $("tbody .label-danger").click(function() {
        var quoteid = $(this).attr('quoteid');
        $("#replyquote").attr("quoteid", quoteid);
        $("#rejectquote").modal();
    });
    $("#replyquote").click(function() {
        var qid = $(this).attr('quoteid');
        console.log(qid);
        var message = [];
        $("input[type='checkbox'][name='msg']:checked").each(function(){
            message.push($(this).val());
        });
        message.push($("#message").val());
        $.ajax({
            url: "/updatequotestate",
            data: "qid="+qid+"&state=2&message="+message.join(),
            dataType: 'json',
            type: 'POST',
            beforeSend: function(jqXHR, settings) {
                jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
            },
            success: function(data) {
                if(data.status == "success"){
                    window.location.reload();
                }else{
                    alert("提交失败，请刷新页面重试");
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
            }
         });
    });

    $("#accepts").click(function(){
        var qid = [];
        $('input[type="checkbox"][name="type"]:checked').each(function(){
            qid.push($(this).attr("qid"));
        });
        if(qid.length==0){
            alert("请选择要操作的报价单!");
            return;
        }
        if(confirm("确认要操作选择的报价单?")){
            updatequotestate(qid.join(),1)
        }
    });

    $("#rejects").click(function(){
        var qid = [];
        $('input[type="checkbox"][name="type"]:checked').each(function(){
            qid.push($(this).attr("qid"));
        });
        if(qid.length==0){
            alert("请选择要操作的报价单!");
            return;
        }
        if(confirm("确认要操作选择的报价单?")){
            updatequotestate(qid.join(),2)
        }
    });
})

function updatequotestate(qid, state){
    $.ajax({
        url: "/updatequotestate",
        data: "qid="+qid+"&state="+state,
        dataType: 'json',
        type: 'POST',
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
        },
        success: function(data) {
            if(data.status == "success"){
                window.location.reload();
            }else{
                alert("提交失败，请刷新页面重试");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
     });
}

function removepurchase(pid){
    $.ajax({
        url: "/removepurchase",
        data: "pid="+pid,
        dataType: 'json',
        type: 'POST',
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
        },
        success: function(data) {
            if(data.status == "success"){
                window.location.reload();
            }else{
                alert("提交失败，请刷新页面重试");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
     });
}
</script>
{% end %}