{% extends "base.html" %}
{% block container %}
{% import config %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>订单管理</h1>
    </section>
    <section class="filter">
        <form>
            <div class="item">
                <label>订单状态：</label>
                <a class="ubtn {% if int(type)<0 %}ubtn-pink{%else%}ubtn-gray{%end%}" href="/purchase/purchaselist?type=-1&starttime={{starttime}}&endtime={{endtime}}">全部（{{stat.get(0,0) + stat.get(1,0) + stat.get(3,0)}}）</a>
                <a class="ubtn {% if int(type) == 1%}ubtn-pink{%else%}ubtn-gray{%end%}" href="/purchase/purchaselist?type=1&starttime={{starttime}}&endtime={{endtime}}">进行中（{{stat.get(1,0)}}）</a>
                <a class="ubtn {% if int(type) == 0%}ubtn-pink{%else%}ubtn-gray{%end%}" href="/purchase/purchaselist?type=0&starttime={{starttime}}&endtime={{endtime}}">关闭（{{stat.get(0,0)}}）</a>
            </div>
            <div class="item">
                <label>发布时间：</label>
                <input type="text" class="yc-ipt date" id="starttime" value="{{starttime}}" readonly="">
                <span>至</span>
                <input type="text" class="yc-ipt date" id="endtime" value="{{endtime}}" readonly="">
            </div>
            <div class="item">
                <input type="text" class="yc-ipt yc-ipt-wide" id="query" name="query" placeholder="品种名" value="{% if query %}{{query}}{% end %}">
                <button type="button" class="ubtn ubtn-green" id="pquery">查询</button>
                <button type="reset" class="ubtn ubtn-blue">清空</button>
            </div>
        </form>
    </section>
    <section class="content">
        <div class="mychart mychart-m">
            <table>
                <thead>
                    <tr>
                        <th>品种</th>
                        <th>报价</th>
                        <th class="tc" width="100">操作</th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                {% for purchase in purchases%}
                    <tbody>
                        <tr>
                            <td class="space" colspan="3"></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="th">
                                <div class="hd">
                                    <span><em class="gray">采购批号：</em>{{ purchase.id }}</span>
                                    <span class="company">{{ purchase.name }}</span>
                                    <span><em class="gray">发布时间：</em>{{ purchase.datetime }}</span>
                                    {% if purchase.status == 0%}
                                    <span class="status-closed">关闭</span>
                                    {% elif (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.term == 0%}
                                    <span class="status-wait">等待报价
                                        {% if purchase.term != 0%}
                                        <em class="gray">剩余{{purchase.timedelta}}天（{{purchase.expire}} 截止）</em>
                                        {% else%}
                                        <em class="status-sustain">常年采购</em>
                                        {% end %}
                                    </span>
                                    {% else %}
                                    <span class="status-finish">报价结束，甄选供应商</span>
                                    {% end %}

                                    {% if purchase.status == 0 %}
                                    {% elif (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.term == 0%}
                                    <i class="fa fa-times-circle jclose" data-pid="{{purchase.id}}" title="关闭采购单"></i>
                                    {% else %}
                                    {% end %}
                                    <i class="fa fa-angle-down expand" title="展开详情"></i>
                                </div>
                                <div class="info">
                                    <p><span>交货地：</span>
                                        {% if purchase.position %}{{purchase.position}}{% end %}</p>
                                    <p><span>发票要求：</span>
                                        {% if purchase.invoice == 1 %}
                                        无需发票
                                        {% elif purchase.invoice == 2 %}
                                        普通发票
                                        {% elif purchase.invoice == 3 %}
                                        增值税发票
                                        {% end %}</p>
                                    <p><span>交易及付款：</span>
                                        {% if purchase.pay == 1 %}
                                        预付全款
                                        {% elif purchase.pay == 2 %}
                                        双方直接交易，验收合格后{{purchase.payday}}天内付款
                                        {% elif purchase.pay == 3 %}
                                        {{purchase.payinfo}}
                                        {% end %}</p>
                                    <p><span>验收及包装：</span>
                                        {{purchase.accept}}</p>
                                    <p><span>寄样：</span>
                                        {% if purchase.send == 1 %}
                                        报价必须寄样<br>
                                        {% end %}
                                        {{purchase.receive}}</p>
                                    <p><span>补充说明：</span>
                                        {{purchase.other}}</p>
                                    <p><span>供应商要求：</span>
                                        {% if purchase.supplier == 1 %}
                                        必须有营业执照（公司/合作社/经营户），不接受个人
                                        {% elif purchase.supplier == 2 %}
                                        具备GSP资质
                                        {% elif purchase.supplier == 3 %}
                                        具备GMP资质
                                        {% end %}</p>
                                </div>

                            </td>
                        </tr>
                        {% for index,purchaseinfo in enumerate(purchase.purchaseinfo)%}
                        <tr>
                            <td>
                                <span><a href="/purchase/purchaseinfo/{{purchaseinfo.id}}">{{purchaseinfo.name}}</a></span>
                                <span>{{purchaseinfo.specification}}</span>
                            </td>
                            <td>
                                {{purchaseinfo.quotecount}}个报价{% if purchaseinfo.unread > 0 %}（<b>{{purchaseinfo.unread}}</b>个未回复）{% end %}
                                {% if purchaseinfo.intentions > 0 %}
                                <span class="status-accept">已甄选<b>{{purchaseinfo.intentions}}</b>家意向供应商</span>
                                {% end %}
                            </td>
                            <td class="tc">
                                {% if (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.term == 0%}
                                <span class="fa fa-share-square-o jshare" data-pid="{{purchaseinfo.id}}" data-sharerel="{{purchase.name}}采购{{purchaseinfo.name}}{{purchaseinfo.quantity}}{{purchaseinfo.unit}}，{{purchaseinfo.specification}}，产地{{purchaseinfo.origin}}，{{purchaseinfo.quality}}。请速报价：{{config.host}}/purchase/purchaseinfo/{{purchaseinfo.id}}"></span>
                                &nbsp;
                                <span class="fa fa-envelope-o jsend" data-pid="{{purchaseinfo.id}}" data-purchaser="{{purchase.name}}" data-sharerel="【药优优】{{purchase.name}}采购{{purchaseinfo.name}}（{{purchaseinfo.specification}}）{{purchaseinfo.quantity}}{{purchaseinfo.unit}}。邀请您立即报价：{{config.host}}/purchase/purchaseinfo/{{purchaseinfo.id}} 退订回T"></span>
                                {% end %}
                            </td>
                        </tr>
                        {% end %}
                    </tbody>
                {% end %}
            </table>
        </div>
        {% module PageNav(nav=nav, show=True) %}
    </section>
</div>


<div class="share-box" id="jshareBox">
    <div class="col">
        <h3><i class="fa fa-weixin"></i>微信邀请朋友报价</h3>
        <p>微信扫描如下二维码，可发给微信好友或分享朋友圈，邀请前来报价</p>
        <p class="qrcode"></p>
    </div>
    <div class="col">
        <h3><i class="fa fa-qq"></i>QQ邀请朋友报价</h3>
        <p>复制如下消息，发送给QQ好友或QQ群，邀请其前来报价</p>
        <p><textarea class="mul" id="clipboard_textarea"></textarea></p>
        <p><button class="btn btn-default copy" id="jCopyButton" data-clipboard-target="clipboard_textarea" type="button">复制</button></p>
    </div>
</div>
<div class="sms-box" id="jsmsBox">
    <h3>短信群发通知供应商报价</h3>
    <p class="sms"></p>
    <p><button class="btn btn-default send" type="button">发送短信</button></p>
</div>

<script src="{{ static_url('plugins/ZeroClipboard/ZeroClipboard.min.js') }}"></script>
<script src="{{ static_url('plugins/layer/layer.js') }}"></script>
<script src="{{ static_url('plugins/laydate/laydate.js') }}"></script>
<script src="{{ static_url('js/jquery.qrcode.min.js') }}"></script>
<script>
$(function(){
    var 
        $mychart = $('.mychart'),
        $shareBox = $('#jshareBox'),
        $qrcode = $shareBox.find('.qrcode'),
        $smsBox = $('#jsmsBox'),
        isSubmit = false,
        canvasSupport = !!document.createElement('canvas').getContext;

    //日历
    var start = {
        elem: '#starttime',
        format: 'YYYY-MM-DD hh:mm:ss',
        min: '2000-01-01 00:00:00',
        max: laydate.now(), //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas; //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#endtime',
        format: 'YYYY-MM-DD hh:mm:ss',
        min: '2000-01-01 00:00:00',
        max: laydate.now(),
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);

    // 查询
    $('#pquery').click(function(){
        var starttime = $('#starttime').val();
        var endtime = $('#endtime').val();
        var query = $('#query').val();
        if ((starttime && endtime) || query) {
            location.href = encodeURI('/purchase/purchaselist?type={{type}}&starttime=' + starttime + '&endtime=' + endtime + '&query='+query);
        }else{
            layer.msg('时间范围或品种名需填写完整', {offset: 0});
        }
    });

    // 分享
    $mychart.on('click', '.jshare', function() {
        var url = '{{config.host}}/purchase/purchaseinfo/' + $(this).data('pid');
        if (canvasSupport) {
            $qrcode.empty('').qrcode({
                width: 180,
                height: 180,
                text: url
            })
        } else {
            $qrcode.empty('').html('<img src="http://qr.liantu.com/api.php?w=180&m=0&text=' + url + '" />');
        }
        $shareBox.find('.mul').html($(this).data('sharerel'));
        layer.open({ 
            area: ['600px'],
            closeBtn: 1,
            type: 1,
            moveType: 1,
            content: $shareBox,
            title: '邀请报价'
        });
    });

    // 短信推送
    var dataArr = {};
    $mychart.on('click', '.jsend', function() {
        dataArr = {
            'purchaseinfoid': $(this).data('pid'),
            'purchaser': $(this).data('purchaser')
        }
        $smsBox.find('.sms').html($(this).data('sharerel'));
        layer.open({
            area: ['480px'],
            closeBtn: 1,
            type: 1,
            moveType: 1,
            content: $smsBox,
            title: '邀请报价',
            cancel: function() {
                dataArr = {};
            }
        });
    });
    // 发送短信
    $smsBox.find('.send').on('click', function() {
        var $self = $(this);
        if (isSubmit) {
            return false;
        }
        isSubmit = true;
        $self.html('正在发送...');
        $.ajax({
            url: '/pushpurchase',
            type: 'POST',
            data: dataArr,
            dataType: 'json',
            beforeSend: function(jqXHR, settings) {
                jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match('\\b_xsrf=([^;]*)\\b')[1]);
            },
            success: function(data) {
                $self.html('发送短信');
                layer.msg(data.message, {offset: 0});
                isSubmit = false;
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $self.html('发送短信');
                layer.msg(errorThrown, {offset: 0});
                isSubmit = false;
            }
        });
    });

    // 展开
    $mychart.on('click', '.th', function() {
        $(this).find('.info').slideToggle();
        $(this).find('.expand').toggleClass('fa-angle-down fa-angle-up');
    })

    // 关闭采购单
    $mychart.on('click', '.jclose', function() {
        var pid = $(this).data('pid');
        // 弹层确认删除
        layer.confirm('确定要关闭当前采购订单？', {icon: 3, title:'提示'}, function(index){
            if (isSubmit) {
                return false;
            }
            isSubmit = true;
            $.ajax({
                url: '/removepurchase',
                type: 'POST',
                data: {'pid': pid},
                dataType: 'json',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match('\\b_xsrf=([^;]*)\\b')[1]);
                },
                success: function(data) {
                    if(data.status == 'success'){
                        location.reload();
                    }else{
                        layer.msg('提交失败，请刷新页面重试', {offset: 0});
                    }
                    isSubmit = false;
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg(errorThrown, {offset: 0});
                    isSubmit = false;
                }
            });
            layer.close(index); // 关闭弹层
        });

        return false; // 阻止展开
    })

    // 复制文本
    var client = new ZeroClipboard(document.getElementById("jCopyButton"));
    client.on('aftercopy', function(event) {
        layer.msg('复制成功！', {offset: 0});
    });
})

</script>
{% end %}
