{% extends "base.html" %}
{% block container %}
{% import config %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>推送统计</h1>
        </section>
        <section class="filter">
            <form>
                <div class="item">
                    <label>推送类型：</label>
                    <a class="ubtn {% if int(type)==1 %}ubtn-pink{%else%}ubtn-gray{%end%}" href="/stat/pushrecord?type=1">采购推送</a>
                    <a class="ubtn {% if int(type)==2 %}ubtn-pink{%else%}ubtn-gray{%end%}" href="/stat/pushrecord?type=2">消息提醒</a>
                </div>
                <div class="item">
                    <label>日期范围：</label>
                    <input type="text" class="yc-ipt date" id="starttime" value="{{starttime}}">
                    <span>至</span>
                    <input type="text" class="yc-ipt date" id="endtime" value="{{endtime}}">
                </div>
                <div class="item">
                    <label>渠道类型：</label>
                    <select id="channeltype">
                        <option value ="-1" {% if int(channel)==-1 %} selected {%end %}>所有渠道</option>
                        <option value ="1" {% if int(channel)==1 %} selected {%end %}>短信渠道</option>
                        <option value ="2" {% if int(channel)==2 %} selected {%end %}>微信渠道</option>
                    </select>
                    <input type="text" class="yc-ipt yc-ipt-wide" id="pid" value="{{pid}}" placeholder="采购单批次">
                    <button type="button" class="ubtn ubtn-green" id="pquery">查询</button>
                </div>
            </form>
        </section>
        <section class="content">
            <div class="mychart mychart-bg">
                <table>
                    <thead>
                        <tr>
                            {% if int(type)==1 %}
                            <th>任务id</th>
                            <th>采购单批次</th>
                             <th>品种</th>
                            <th>第N次</th>
                            <th>推送条数</th>
                            <th>点击次数</th>
                            <th>报价</th>
                            <th>渠道</th>
                            <th>创建时间</th>
                            {% elif int(type)==2 %}
                            <th>任务id</th>
                            <th>采购单批次</th>
                            <th>品种</th>
                            <th>推送条数</th>
                            <th>渠道</th>
                            <th>创建时间</th>
                            {% end %}
                        </tr>
                    </thead>
                    <tfoot></tfoot>
                    <tbody>
                        {% if int(type)==1 %}
                            {% for item in records %}
                            <tr>
                                <td><a href="/stat/pushrecord/detail?id={{item['id']}}">{{ item["id"] }}</a></td>
                                <td><a href="/purchase/purchaseinfo/{{item['purchaseinfoid']}}">{{ item["purchaseinfoid"] }}</a></td>
                                <td><a href="/purchase/purchaseinfo/{{item['purchaseinfoid']}}">{{ item["varietyname"] }}</a></td>
                                <td>{{ item["order"] }}</td>
                                <td>{{ item["pushcount"] }}</td>
                                <td>{{ item["clickcount"] }}</td>
                                <td>{{ item["quotetime"] }}</td>
                                <td>{{ item["type"] }}</td>
                                <td>{{ item["time"] }}</td>
                            </tr>
                            {% end %}
                            {% elif int(type)==2 %}
                            {% for item in records %}
                            <tr>
                                <td>{{ item["id"] }}</td>
                                <td>{{ item["purchaseinfoid"] }}</td>
                                <td>{{ item["varietyname"] }}</td>
                                <td>1</td>
                                <td>{{ item["type"] }}</td>
                                <td>{{ item["time"] }}</td>
                                {% end %}
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
            {% module PageNav(nav=nav, show=True) %}
        </section>
    </div>
    <script src="{{ static_url('plugins/laydate/laydate.js') }}"></script>
    <script>
        $(function() {
            //日历
            var start = {
                elem: '#starttime',
                format: 'YYYY-MM-DD hh:mm:ss',
                min: '2000-01-01 00:00:00',
                max: laydate.now(), //最大日期
                istime: true,
                istoday: false,
                choose: function(datas){
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas; //将结束日的初始值设定为开始日
                }
            };
            var end = {
                elem: '#endtime',
                format: 'YYYY-MM-DD hh:mm:ss',
                min: '2000-01-01 00:00:00',
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function(datas){
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(start);
            laydate(end);

            $("#pquery").click(function() {
                var starttime = $("#starttime").val();
                var endtime = $("#endtime").val();
                var channel=$("#channeltype").val();
                var pid=$("#pid").val();
                location.href='/stat/pushrecord?type={{type}}&starttime='+starttime+'&endtime='+endtime+'&channel='+channel+'&pid='+pid;
            });
        })
    </script>
{% end %}


