{% extends "base.html" %}
{% block container %}
{% import config %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>推送统计</h1>
        </section>
        <section class="filter">
            <form class="form-inline">
                <div class="form-group">
                    <label>日期范围：</label>
                    <div class="input-group date form_datetime">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" id="starttime" value="{{starttime}}">
                    </div>
                    至
                    <div class="input-group date form_datetime">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" id="endtime" value="{{endtime}}">
                    </div>
                    <div class="input-group">
                        <label>渠道类型：</label>
                         <select id="channeltype">
                             <option value ="-1" {% if int(channel)==-1 %} selected {%end %}>所有渠道</option>
                             <option value ="1" {% if int(channel)==1 %} selected {%end %}>短信渠道</option>
                             <option value ="2" {% if int(channel)==2 %} selected {%end %}>微信渠道</option>
                         </select>
                    </div>
                    <div class="input-group">
                         <label>采购单批次：</label>
                         <input type="text" id="pid" value="{{pid}}">
                    </div>
                </div>

                <div class="form-group">
                    <a {% if int(type)==1 %} class="label label-warning"  {% else %} class="label label-default"  {% end %}  href="/stat/pushrecord?type=1">采购推送</a>
                </div>
                <div class="form-group">
                    <a {% if int(type)==2 %} class="label label-warning"  {% else %} class="label label-default"  {% end %}   href="/stat/pushrecord?type=2">消息提醒</a>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-query" id="pquery">查询</button>
                </div>
            </form>
        </section>
        <section class="content">
            <div class="mychart">
                <table class="tr">
                    <thead>
                        <tr>
                            {% if int(type)==1 %}
                            <th>任务id</th>
                            <th>采购单批次</th>
                             <th>品种</th>
                            <th>第N次</th>
                            <th>推送条数</th>
                            <th>点击次数</th>
                            <th>报价</th>
                            <th>渠道</th>
                            <th>创建时间</th>
                            {% elif int(type)==2 %}
                            <th>任务id</th>
                            <th>采购单批次</th>
                            <th>品种</th>
                            <th>推送条数</th>
                            <th>渠道</th>
                            <th>创建时间</th>
                            {% end %}

                        </tr>
                    </thead>
                    <tfoot></tfoot>
                    <tbody>
                            {% if int(type)==1 %}
                            {% for item in records %}
                            <tr>
                                <td class="cat"> <a href="/stat/pushrecord/detail?id={{item['id']}}">{{ item["id"] }}</a></td>
                                <td class="cat">{{ item["purchaseinfoid"] }}</td>
                                <td class="cat">{{ item["varietyname"] }}</td>
                                <td class="cat">{{ item["order"] }}</td>
                                <td class="cat">{{ item["pushcount"] }}</td>
                                <td class="cat">{{ item["clickcount"] }}</td>
                                <td class="cat">{{ item["quotetime"] }}</td>
                                <td class="cat">{{ item["type"] }}</td>
                                <td class="cat">{{ item["time"] }}</td>
                            </tr>
                            {% end %}
                            {% elif int(type)==2 %}
                              {% for item in records %}
                            <tr>
                                <td class="cat">{{ item["id"] }}</td>
                                <td class="cat">{{ item["purchaseinfoid"] }}</td>
                                <td class="cat">{{ item["varietyname"] }}</td>
                                <td class="cat">1</td>
                                <td class="cat">{{ item["type"] }}</td>
                                <td class="cat">{{ item["time"] }}</td>
                                {% end %}
                             </tr>
                            {% end %}
                    </tbody>
                </table>
            </div>
              {% module PageNav(nav=nav, show=True) %}
        </section>
    </div>
    <script>
        $(document).ready(function() {
            $(".form_datetime").datetimepicker({
                language: "zh-CN",
                autoclose: true,
                todayBtn: true
            });


            $("#pquery").click(function() {
                var starttime = $("#starttime").val();
                var endtime = $("#endtime").val();
                var channel=$("#channeltype").val();
                var pid=$("#pid").val();


                window.location.href='/stat/pushrecord?type={{type}}&starttime='+starttime+'&endtime='+endtime+'&channel='+channel+'&pid='+pid;

            });
        })
    </script>
{% end %}


