{% extends "base.html" %}
{% block container %}
{% import config %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>推送详情</h1>
        </section>
         <div class="site-map">
                <a href="/stat/pushrecord">&lt; 返回推送统计</a>
            </div>
        <section class="content">
            <div class="mychart">
                <table class="tr">
                    <thead>
                        <tr>
                            <th>任务id</th>
                            <th>采购单批次</th>
                             <th>品种</th>
                            <th>第N次</th>
                            <th>推送条数</th>
                            <th>点击次数</th>
                            <th>报价</th>
                            <th>渠道</th>
                            <th>创建时间</th>
                        </tr>
                    </thead>
                    <tfoot></tfoot>
                    <tbody>
                        <tr>
                                <td class="cat">{{ record["id"] }}</a></td>
                                <td class="cat"><a href="/purchase/purchaseinfo/{{record['purchaseinfoid']}}">{{ record["purchaseinfoid"] }}</a></td>
                                <td class="cat"><a href="/purchase/purchaseinfo/{{record['purchaseinfoid']}}">{{ record["varietyname"] }}</a></td>
                                <td class="cat">{{ record["order"] }}</td>
                                <td class="cat">{{ record["pushcount"] }}</td>
                                <td class="cat">{{ record["clickcount"] }}</td>
                                <td class="cat">{{ record["quotetime"] }}</td>
                                <td class="cat">{{ record["type"] }}</td>
                                <td class="cat">{{ record["time"] }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <br>
                 <h3>推送详情列表</h3>
                <table class="tr">
                    <thead>
                        <tr>
                            <th>uuid</th>
                            <th>点击</th>
                            <th>注册</th>
                            <th>登录</th>
                            <th>报价</th>
                            <th>认可</th>
                            <th>拒绝</th>
                            <th>手机号</th>
                            <th>创建时间</th>
                        </tr>
                    </thead>
                    <tfoot></tfoot>
                    <tbody>

                                {% for item in detail %}
                                <tr>
                                    <td class="cat">{{ item["uuid"] }}</td>
                                    {% if item["click"]!=0 %}
                                    <td class="cat"><font color="#76ee00">√</font></td>
                                    {% else %}
                                    <td class="cat"><font color="red">×</font></td>
                                    {% end %}
                                    {% if item["register"]==0 %}
                                    <td class="cat">未注册</td>
                                    {% elif item["register"]==1 %}
                                    <td class="cat">点击注册</td>
                                    {% else %}
                                    <td class="cat">已经注册</td>
                                    {% end %}
                                    {% if item["login"]!=0 %}
                                    <td class="cat"><font color="#76ee00">√</font></td>
                                    {% else %}
                                     <td class="cat"><font color="red">×</font></td>
                                    {% end %}
                                    {% if item["quote"]!=0 %}
                                    <td class="cat"><font color="#76ee00">√</font></td>
                                    {% else %}
                                     <td class="cat"><font color="red">×</font></td>
                                    {% end %}
                                    {% if item["accept"]!=0 %}
                                    <td class="cat"><font color="#76ee00">√</font></td>
                                    {% else %}
                                    <td class="cat"><font color="red">×</font></td>
                                    {% end %}
                                    {% if item["reject"]!=0 %}
                                    <td class="cat"><font color="#76ee00">√</font></td>
                                    {% else %}
                                    <td class="cat"><font color="red">×</font></td>
                                    {% end %}
                                    <td class="cat">{{item["phone"]}}</td>
                                    <td class="cat">{{item["createtime"]}}</td>
                                </tr>
                                {% end %}

                    </tbody>
                </table>
            </div>
                {% module PageNav(nav=nav, show=True) %}
        </section>
    </div>
{% end %}


