<{% extends "base.html" %}
{% block container %}
{% import config %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>业务路径</h1>
        </section>
        <section class="filter">
            <form class="form-inline">
                {% for i in  range(1,13)%}
                {% if i== int(month) %}
                <div class="form-group">
                    <a href="/stat/statistics?month={{i}}" class="label label-warning">{{ i }}月</a>
                </div>

                {% else %}
                <div class="form-group">
                    <a href="/stat/statistics?month={{ i}}" class="label label-default">{{ i}}月</a>
                </div>
                {% end %}
                {% end %}
            </form>
        </section>
        <section class="content">
            <div class="mychart">
                <table class="tr">
                    <thead>
                        <tr>
                            <th>分类</th>
                            <th>指标</th>
                            <th>总体平均</th>
                            {% for date in regions %}
                            <th>{{date["start_time"]}}-{{ date["end_time"]}}</th>
                            {% end %}
                        </tr>
                    </thead>
                    <tfoot></tfoot>


                    <tbody>

                        <tr>
                            <td class="cat" rowspan="4">会员</td>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="本周期内新注册会员数">新注册会员数</div>
                             </td>
                            {% for item in statistics %}
                            <td>{{item["new_user_count"]}}</td>
                            {% end %}
                        </tr>
                        <tr>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内，登录过PC端或移动端的会员数">当周活跃</div>
                             </td>
                            <td>-</td>
                              {% for date in regions %}
                                <td>-</td>
                              {% end %}
                        </tr>
                        <tr>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内，有多少会员发过采购单，去重统计">当周发采购的会员数</div>
                             </td>

                            {% for item in statistics %}
                            <td>{{item["new_purchase"]}}</td>
                            {% end %}
                        </tr>
                        <tr>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内，有多少会员报价过，去重统计">当周报价的会员数</div>
                             </td>

                            {% for item in statistics %}
                            <td>{{item["new_quote"]}}</td>
                            {% end %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td class="cat" rowspan="5">采购</td>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内，新发布了多少采购批次">新发布采购批次数</div>
                             </td>

                           {% for item in statistics %}
                            <td>{{item["purchaseinfo_num"]}}</td>
                            {% end %}
                        </tr>
                        <tr>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内发布的采购批次中，有多少占比收到了1个以上的报价">报价率</div>
                             </td>

                            {% for item in statistics %}
                            <td>{{item["quote_rate"]}}%</td>
                            {% end %}
                        </tr>
                        <tr>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内发布的采购批次中，有多少占比，不仅收到了报价，还有被认可的报价">认可率</div>
                             </td>

                            {% for item in statistics %}
                            <td>{{item["quote_accepte_rate"]}}%</td>
                            {% end %}
                        </tr>
                        <tr>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内，新发布的采购批次中，针对收到报价的采购批次，他们平均收到报价的个数">平均收到报价个数</div>
                             </td>

                            {% for item in statistics %}
                            <td>{{item["quote_average"]}}</td>
                            {% end %}
                        </tr>
                        <tr>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内，新发布的采购批次中，针对收到报价的采购批次，他们从发布到收到第一个报价的平均耗时（
                             小时）">收到第一个报价平均耗时</div>
                             </td>

                            {% for item in statistics %}
                              {% if item["firt_quote_cost"]!=0 %}
                             <td>{{item["firt_quote_cost"]}}</td>
                              {% else %}
                              <td>-</td>
                              {% end %}
                            {% end %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td class="cat" rowspan="4">报价</td>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内，提交报价的个人">报价个数</div>
                             </td>

                            {% for item in statistics %}
                            <td>{{item["all_quoto_num"]}}</td>
                            {% end %}
                        </tr>
                        <tr>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内，提交的报价中，收到答复的占比（无论被认可或被拒绝）">收到答复率</div>
                             </td>
                             {% for item in statistics %}
                            <td>{{item["replay_quote_rate"]}}%</td>
                            {% end %}
                        </tr>
                        <tr>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内，提交的报价中，被认可的占比">认可率</div>
                             </td>
                           {% for item in statistics %}
                            <td>{{item["replay_aceept_quote_rate"]}}%</td>
                            {% end %}
                        </tr>
                        <tr>
                            <td class="name">
                                <div data-toggle="tooltip" data-placement="top" title="周期内，提交报价中，针对收到了答复的报价，他们从提交报价到收到答复的平均耗时（小时）">平均答复时间</div>
                            </td>
                            {% for item in statistics %}
                              {% if item["replay_quote_cost"]!=0 %}
                             <td>{{item["replay_quote_cost"]}}</td>
                              {% else %}
                              <td>-</td>
                              {% end %}
                            {% end %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% end %}
