{% extends "base.html" %}
{% block container %}
{% from  config import * %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>添加供货商</h1>
        </section>

        <section class="content">
        	
			<!-- 内容开始 start=========================================================== -->
            <div class="site-map">
                <a href="/supplier/supplierlist">&lt; 返回供货商查询</a>
            </div>
            <div class="yc-form">
                <form action="" id="jForm">
                    <div class="bd">
                        <div class="group">
                            <div class="txt">
                                <i>*</i>
                                <span>手机</span>
                            </div>
                            <div class="cont">
                                <input value="" id="jMobile" name="mobile" class="ipt" placeholder="请填写手机号" type="text">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="group">
                            <div class="txt">
                                <i>*</i>
                                <span>公司/姓名</span>
                            </div>
                            <div class="cont">
                                <input value="" id="jName" name="name" class="ipt ipt-wide" placeholder="单位填写公司名，个人写真实姓名" type="text">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="group">
                            <div class="txt">
                                <i>*</i>
                                <span>联系人</span>
                            </div>
                            <div class="cont">
                                <input value="" id="jLinkman" name="linkman" class="ipt" placeholder="请填写真实姓名" type="text">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="group">
                            <div class="txt">
                                <i>*</i>
                                <span>主营品种</span>
                            </div>
                            <div class="cont yc-tag-list">
                                <ul class="yc-ul" id="jMyTags"></ul>
                                <input value="" id="jVariety" name="variety" class="ipt" placeholder="请输入关键字查询" type="text">
                                <div class="list" id="jVarietyTags"></div>
                                <input type="hidden" id="jVarietys" name="varietys">
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="bd">
                        <div class="group">
                            <div class="txt">
                                <span>经营地</span>
                            </div>
                            <div class="cont">
                                <ul class="cf yc-ul slt">
                                    <li>

                                        <select id="provinces">
                                            <option value="{{provinces[0].id}}" selected>{{provinces[0].areaname }}</option>
                                            {%  for province in provinces[1:] %}
                                            <option value="{{ province.id }}">{{ province.areaname }}</option>
                                            {%  end    %}
                                        </select>

                                    </li>
                                    <li>
                                        <select id="cityies">
                                            {%  for city in cities %}
                                            <option value="{{ city.id }}">{{ city.areaname }}</option>
                                            {% end %}
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="group">
                            <div class="txt">
                                <span>详细地址</span>
                            </div>
                            <div class="cont">
                                <input value="" id="jAddress" name="address" class="ipt ipt-wide" placeholder="" type="text">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="group">
                            <div class="txt">
                                <span>经营规模</span>
                            </div>
                            <div class="cont">
                                <label><input class="cbx" value="小" name="scale" type="radio">小</label>
                                <label><input class="cbx" value="中" name="scale" type="radio">中</label>
                                <label><input class="cbx" value="大" name="scale" type="radio">大</label>
                            </div>
                        </div>
                        <div class="group">
                            <div class="txt">
                                <span>其他联系方式</span>
                            </div>
                            <div class="cont">
                                <input value="" id="jTel" name="tel" class="ipt" placeholder="" type="text">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="group">
                            <div class="txt">
                                <span>备注</span>
                            </div>
                            <div class="cont">
                                <textarea class="ipt ipt-area" name="note" id="jNote" cols="30" rows="10"></textarea>
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="bd">
                        <div class="group">
                            <div class="txt">
                                <span>推荐人</span>
                            </div>
                            <div class="cont">
                                {% if sponsor %}
                                <input value="{{sponsor.name}}" id="jReferrer" name="referrer" class="ipt" placeholder="推荐人姓名或手机号" type="text">
                                {% else %}
                                <input value="" id="jReferrer" name="referrer" class="ipt" placeholder="推荐人姓名或手机号" type="text">
                                {% end       %}
                                <button class="btn btn-primary btn-sm" type="button">检测</button>
                                <button class="btn btn-primary btn-sm" type="button">清空</button>
                                <span class="error"></span>
                                <div class="referrer-list" id="jReferrerList">
                                    {% if sponsor %}
                                    <label><input type="radio" class="cbx" value="{{sponsor.id}}" checked>{{sponsor.name}}</label>
                                    {%   end         %}
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="txt">
                                <span>录入人</span>
                            </div>
                            <div class="cont">
                                <input   value="{{ handler.session.get('admin') }}" id="jrecord" name="referrer" class="ipt" placeholder="" type="text">
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="bd">
                        <div class="ft">
                            <button class="btn btn-warning submit" id="jSave1" type="button">提交</button>
                        </div>
                    </div>
                </form>
            </div>
			<!-- 内容结束 end=========================================================== -->


        </section>
    </div>
<link rel="stylesheet" href="{{ static_url('dist/css/supplier.css') }}">
<script src="{{ static_url('js/supplier.js') }}"></script>
{% end %}
