{% extends "base.html" %}
{% block container %}
{% from  config import * %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>供货商管理</h1>
        </section>

        <section class="filter">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="search" value="{{search_str}}" placeholder="联系人/公司名/手机" type="text">
                    </div>
                    <div class="input-group">
                        <input class="form-control" id="variety" value="{{variety_name}}" placeholder="主营品种" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" id="querybtn" class="btn btn-warning btn-query">查询</button>
                    <button type="button" id="addbtn" class="btn btn-warning btn-query">新增</button>
                </div>
            </form>
        </section>

        <section class="content">
        	
			<!-- 内容开始 start=========================================================== -->


            <div class="supplier-list">
                <ul class="cf yc-ul">
                     {% if len(suppliers)!=0 %}
                       {% for supplier in suppliers %}
                        <li>
                         <div class="hd">
                            <a href="/supplier/supplierdetail?id={{supplier.id}}">
                                {% if supplier.company!="" %}
                                {{ supplier.company }}
                                {% else %}
                                {{ supplier.name}}
                                {% end %}
                            </a>
                             {% if spider_net.has_key(supplier.source)   %}
                              <span>爬取-{{spider_net[supplier.source]}}</span>
                             {% elif source_code.has_key(supplier.source) %}
                             <span>{{ source_code[supplier.source] }}</span>
                             {% end %}
                        </div>
                        <div class="bd">
                            <i class="fa fa-user"></i>
                            {{ supplier.name }}
                            <span> {{ supplier.mobile }}</span>
                            <a href="tel:{{ supplier.mobile }}">拨号</a>
                        </div>
                        <div class="bd">
                            <i class="fa fa-file-text-o"></i>
                            {{ ",".join(supplier.supply_variety_name)}}
                        </div>
                        <div class="bd">
                            <i class="fa fa-map-marker"></i>
                             {{ supplier.address }}
                        </div>
                    </li>
                    {% end %}
                    {% else %}
                    <h1>无查询结果</h1>
                    {% end %}

                </ul>
            </div>

            <div class="pagin">
               {% module PageNav(nav=nav, show=True) %}
            </div>
        </section>
    </div>
  <script>
        $(document).ready(function() {
          $("#querybtn").click(function() {
                var search = $("#search").val();
                var variety = $("#variety").val();

                if (search != "" || variety  != "") {
                    url='/supplier/supplierlist?page=1';
                    if(search!=""){
                        url=url+'&search='+search;
                        }
                     if(variety != ""){
                       url=url+'&variety='+variety;
                     }
                      window.location.href=url;
                } else {
                    alert("查询条件必须填写一个");
                }
            });
            $("#addbtn").click(function() {
                window.location.href="/supplier/supplieradd";

            });

        })
    </script>
<link rel="stylesheet" href="{{ static_url('dist/css/supplier.css') }}">

{% end %}
