{% extends "base.html" %}
{% block container %}
{% from  config import * %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>交易记录</h1>
        </section>
        
        <section class="content">
            <div class="site-map">
                <a href="#">&lt; 返回我的采购单详情</a>
            </div>

            <div class="record">
                <div class="cnt cntl">
                    <h3>采购商及采购要求</h3>
                    <div class="col">
                        <span class="em">{{ purchaseinfo.uname }}</span>
                        <span class="verify"><i class="fa fa-check-square"></i>身份真实</span>
                        <span class="cat">{{usertype[purchaseinfo.utype]}}</span>
                    </div>
                    <div class="col">
                        <i class="fa fa-user"></i>{{ purchaseinfo.unick }}
                        <br>
                        <i class="fa fa-mobile"></i>{{ purchaseinfo.uphone }}
                    </div>
                    <div class="goods">
                        <span class="em">{{ purchaseinfo.name }}</span>
                        <span>{{ purchaseinfo.specification }}</span>
                        <span>{{ purchaseinfo.origin }}</span>
                        <span>{{ purchaseinfo.quantity }}{{purchaseinfo.unit}}</span>
                    </div>
                    <div class="group">
                        <div class="txt">质量要求：</div>
                        <div class="cont">{{ purchaseinfo.quality }}</div>
                    </div>
                    <div class="group">
                        <div class="txt">意向价格：</div>
                        <div class="cont"><b class="red">{{ purchaseinfo.price }}</b>元/{% if purchaseinfo.unit == u'吨' %}公斤{% else %}{{purchaseinfo.unit}}{% end %} 封顶</div>
                    </div>
                    <div class="group">
                        <div class="txt">合格品样例：</div>
                        <div class="cont">
                            <div class="thumb">
                                {% for attachment in purchaseinfo.attachments %}
                                <img data-src="{{attachment.attachment}}" src="{{attachment.attachment.replace('_thumb','')}}">
                                {% end %}
                            </div>
    
                        </div>
                    </div>
                    <div class="other">
                        <div class="group">
                            <div class="txt">交货地：</div>
                            <div class="cont">{{ purchaseinfo.position }}</div>
                        </div>
                        <div class="group">
                            <div class="txt">交易及付款：</div>
                            <div class="cont">
                                {% if purchaseinfo.pay == 1%}
                                药采购"安心交易"(预付全款)
                                {% elif purchaseinfo.pay == 2%}
                                双方直接交易，验证合格后<b class="red">{{purchaseinfo.payday}}天</b>内付款
                                {% else %}
                                {{purchaseinfo.payinfo}}
                                {% end %}</div>
                        </div>
                        <div class="group">
                            <div class="txt">验证及包装：</div>
                            <div class="cont">{{ purchaseinfo.accept }}</div>
                        </div>
                        <div class="group">
                            <div class="txt">寄样：</div>
                            <div class="cont">
                                {% if purchaseinfo.send == 1 %}
                                要求报价后必须寄样
                                {% end %}
                                {{ purchaseinfo.receive }}
                            </div>
                        </div>
                        <div class="group">
                            <div class="txt">补充说明：</div>
                            <div class="cont">{{ purchaseinfo.other }}</div>
                        </div>
                        <div class="group">
                            <div class="txt">供应商要求：</div>
                            <div class="cont">
                                {% if '1' in purchaseinfo.supplier.split("&") %}
                                必须有营业执照（公司、合作社、经营户），不接收个人
                                <br>
                                {% end %}
                                {% if '2' in purchaseinfo.supplier.split("&") %}
                                具备GSP资质
                                <br>
                                {% end %}
                                {% if '3' in purchaseinfo.supplier.split("&") %}
                                具备GMP资质
                                {% end %}
                            </div>
                        </div>
                    </div>
                    <div class="expand">
                        <span>查看其他交收要求 <i class="fa fa-angle-down"></i></span>
                    </div>
                </div>
                <div class="cnt cntr">
                    <h3>供货商及报价</h3>
                    <div class="col">
                        <span class="em">{{ quotesinfo.name }}</span>
                        <span class="verify"><i class="fa fa-check-square"></i>身份真实</span>
                        <span class="cat">{{usertype[quotesinfo.type]}}</span>
                    </div>
                    <div class="col">
                        <i class="fa fa-user"></i>{{ quotesinfo.nickname }}
                        <br>
                        <i class="fa fa-mobile"></i>{{ quotesinfo.phone }}
                    </div>
                    <div class="price">
                        <b class="red">{{quotesinfo.price}}</b>元/{% if quotesinfo.unit == u'吨' %}公斤{% else %}{{quotesinfo.unit}}{% end %}<span class="gray">裸价</span>
                        <p>{{quotesinfo.explain}}</p>
                    </div>
                    <div class="group">
                        <div class="thumb">
                            {% for attachment in quotesinfo.attachments %}
                            <img data-src="{{attachment.attachment}}" src="{{attachment.attachment.replace('_thumb','')}}">
                            {% end %}
                        </div>
                        <div class="desc">
                            杂质少,干度好,无霉,2015版药典标准,无杂草，颜色好。包检测。
                        </div>
                    </div>
                </div>
            </div>

            <div class="record">
                <h2>交易记录</h2>
                <div class="cnt cntl">
                    <div class="group">
                        <div class="txt">*成交数量</div>
                        <div class="cont">{{transaction['quantity']}}公斤</div>
                    </div>
                    <div class="group">
                        <div class="txt">*成交价格</div>
                        <div class="cont">{{transaction['price']}}元/公斤</div>
                    </div>
                    <div class="group">
                        <div class="txt">总金额</div>
                        <div class="cont">{{transaction['total']}}万元</div>
                    </div>
                    <div class="group">
                        <div class="txt">送货日期</div>
                        <div class="cont">{{transaction['delivertime']}}</div>
                    </div>
                    <div class="group">
                        <div class="txt">验收日期</div>
                        <div class="cont">{{transaction['checktime']}}</div>
                    </div>
                    <div class="group">
                        <div class="txt">付款约定</div>
                        <div class="cont">
                            {% if transaction["pay"]==1 %}
                            药材购“安心交易”（预付全款）
                            {% elif transaction["pay"]==2 %}
                            双方直接交易，验证合格后{{transaction["payday"]}}天内付款
                            {% elif transaction["pay"]==3 %}
                            {{transaction["payinfo"]}}
                            {% end %}

                        </div>
                    </div>
                </div>
                <div class="cnt cntr">
                    <div class="thumb">
                            {% for attachment in transaction['attachments'] %}
                            <img data-src="{{attachment.attachment}}" src="{{attachment.attachment.replace('_thumb','')}}">
                            {% end %}
                    </div>
                    <div class="col">
                        <p>采购方 评价 供货方</p>
                        <p class="star" data-score="{{transaction['score_to_supplier']}}">
                            {% for i in range(0,transaction['score_to_supplier']) %}
                            <img src="{{static_url('images/star-on.png')}}">
                            {% end %}
                            {% for i in range(0,5-int(transaction['score_to_supplier']))%}
                            <img src="{{static_url('images/star-off.png')}}">
                            {% end %}
                        </p>
                        <textarea name="" id="" cols="30" rows="10" class="yc-ipt yc-ipt-mul" readonly>{{transaction["purchasecomment"]}}</textarea>
                    </div>
                    <div class="col">
                        <p>供货方 评价 采购方</p>
                        <p class="star" data-score="{{transaction['score_to_purchase']}}">
                            {% for i in range(0,transaction['score_to_purchase']) %}
                            <img src="{{static_url('images/star-on.png')}}">
                            {% end %}
                            {% for i in range(0,5-int(transaction['score_to_purchase']))%}
                            <img src="{{static_url('images/star-off.png')}}">
                            {% end %}
                        </p>
                        <textarea name="" id="" cols="30" rows="10" class="yc-ipt yc-ipt-mul" readonly>{{transaction["suppliercomment"]}}</textarea>
                    </div>
                </div>
            </div>

            <div  class="record-ft">
                <a href="/purchase/transactionedit?tid={{tid}}&pid={{pid}}&qid={{qid}}" class="ubtn ubtn-green">编辑</a>
                <a href="/purchase/transactiondelete?id={{tid}}" class="ubtn ubtn-pink" id="jdelete">删除</a>
            </div>
        </section>
    </div>
    <script src="{{static_url('js/croppic.min.js')}}"></script>
    <script src="{{static_url('js/lightbox.js')}}"></script>
    <script src="{{static_url('plugins/layer/layer.js')}}"></script>
    <script>
    $(function(){  
        // 查看其他交收要求
        $('.expand').find('span').on('click', function() {
            $(this).find('i').toggleClass('fa-angle-down fa-angle-up')
            .end().parent().prev().slideToggle();
        }); 

        // 删除
        $('#jdelete').on('click', function() {
            var $self = $(this);
            layer.confirm('确认删除交易记录？', {
                btn: ['确认','取消'] //按钮
            }, function(index){
                
            });
            return false;
        })
    })
    </script>
{% end %}
