{% extends "../basenohead.html" %}
{% block container %}
<section class="yc-content">
    <div class="yc-message">
        <div class="head {% if bool %}success{% else %}fail{% end %}">
            <h1 class="title"><i class="iconfont {% if bool %}icon-face{% else %}icon-frown{% end %}"></i></h1>
            <div class="text">
                <p>{{message}}</p>
            </div>
        </div>

        <div class="main">
            <div class="link">
                <a href="{{url}}">返回上一页</a>
            </div>

            <div class="weixin">
                <i class="iconfont icon-weixin"></i>
                <p>长按并识别以下二维码，关注【药优优】，随时随地查看药厂、饮片厂实时采购单</p>
                <div class="qrcode">
                    <img class="qrcode" src="{{ static_url('images/qucode_340_340.jpg')}}" alt="">
                </div>
            </div>

            <!--<div class="user">
                <p>可在【我的工作台】看到和管理报价</p>
                <a class="back" href="/center">去看看</a>
            </div>-->
        </div>
    </div>
</section><!-- /yc-content -->
{% end %}