{% extends "../basenohead.html" %}
{% block container %}
<section class="yc-content">
    <div class="yc-message">
        <div class="head success">
            <h1 class="title"><i class="iconfont icon-face"></i></h1>
            <div class="text">
                <p>{{message}}</p>
            </div>
        </div>
        <div class="main">
            <div class="link">
                <a href="{{url}}">返回上一页</a>
            </div>
        </div>
    </div>
</section><!-- /yc-content -->
{% end %}