<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a href="#">
                    <i class="fa fa-tachometer"></i> <span>操作中心</span>
                </a>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-th"></i> <span>公共系统</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu menu-open">
                    <li class="active">
                        <a href="#"><i class="fa fa-circle-o"></i> 前台会员管理 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu menu-open">
                            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> 会员管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 实名认证审核</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> 微信管理 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu menu-open">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 活动信息</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 广告管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> 后台帐号管理 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu menu-open">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 本帐号管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 组织管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 角色管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 工作账号管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 权限管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> 品类管理 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu menu-open">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 类目管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 品种管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> 首页管理 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu menu-open">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 首页广告管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 首页挂牌信息管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> 供求信息管理 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu menu-open">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 求购信息管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 入仓信息管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 供应信息管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cart-plus"></i> <span>交易系统</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> 仓单管理 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 仓单查询</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> 挂牌管理 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu menu-open">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 挂牌查询</a>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> 挂牌审核</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> 订单管理 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu menu-open">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 订单查询</a>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> 交易取消审核</a>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> 订单划账</a>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> 过期订单处理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-credit-card"></i> <span>支付系统</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> 资金管理 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 资金流水查询</a>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> 线下支付管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>