<footer>
    <div class="container">
        <div class="links">
            <a href="/aboutus">初心</a>
            <!--<a href="#">合作伙伴</a>
            <a href="#">提建议</a>-->
            <a href="/contact">业务联系</a>
            <span>|</span>
            <a class="bright" href="/register">立即入驻</a>
        </div>
        <div class="copy">
            &copy; <a href="/">药材购</a> 即刻采购·供货无忧 www.yaocai.pro
            <span>|</span>
            鄂ICP备16006010号-1
            <span>|</span>
            任何疑问，请致电客服：173-0967-3939
        </div>
        <div class="logo-mini">
            <a href="javascript:void(0)"><img src="{{ static_url('images/logo_mini.png')}}" alt=""></a>
        </div>
    </div>
</footer>
<script src="{{ static_url('js/jquery.min.js')}}"></script>
<script src="{{ static_url('js/bootstrap.min.js')}}"></script>