<header>
    <div class="container">
        <div class="logo">
            <a href="/"><img src="{{ static_url('images/logo.png')}}" /></a>
        </div>

        <nav class="nav">
            <ul class="yc-ul">
                <li><a {% if request.uri =="/purchase" %}class="current"{% end %} href="/purchase">即可采购</a></li>
                <li><a {% if request.uri =="#" %}class="current"{% end %} href="#">每周行情报告</a></li>
                <li class="bl"><a {% if request.uri =="/quote" %}class="current"{% end %} href="/quote">我要供货·去报价</a></li>
            </ul>
        </nav>


        {% if handler.session.has_key('user') and handler.session.get('user') != ""  %}
        <div class="login">
            <div class="menu">
                <a href="/dashboard">我的工作台，{{ handler.session.get('user') }}</a>
                <em>0</em>
                <i></i>
                <div class="submenu">
                    <a href="/mypurchase">我的采购</a>
                    <a href="/account">账户设置</a>
                    <a href="/logout">退出</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="login">
            <ul class="yc-ul">
                <li><a {% if request.uri =="/login" %}class="btn btn-orange"{% else %}class="btn btn-white"{% end %} href="/login">登录</a></li>
                <li><a {% if request.uri =="/register" %}class="btn btn-orange"{% else %}class="btn btn-white"{% end %} href="/register">立即入驻</a></li>
            </ul>
        </div>
        {% end %}
    </div>
</header>