{% extends "base.html" %}
{% block title %}
账户设置_我的工作台_药材购
{% end %}
{% block page-wrapper %}
<div class="main-cont">
    <div class="menu">
        <ul class="yc-ul">
            <li class="curr"><a href="#" title=""><i class="icons pen"></i>账户资料</a></li>
            <!--<li><a href="#" title=""><i class="icons sub"></i>子账户</a></li>-->
        </ul>
    </div>

    <div class="box">
        <div class="yc-form">
            <div class="hd">基础信息</div>
            <div class="bd">
                <form role="form" id="user_form" action="/updateuser">
                <div class="group">
                    <div class="txt">
                        <span>会员名</span>
                    </div>
                    <div class="cont">
                        <span class="bold">{{ user.username }}</span>
                    </div>
                </div>
                <div class="group">
                    <div class="txt">
                        <span>密码</span>
                    </div>
                    <div class="cont">
                        <a href="#" title="" onClick="updateinfo(this, 'password')">修改密码</a>
                    </div>
                </div>
                <div class="group">
                    <div class="txt">
                        <span>绑定手机</span>
                    </div>
                    <div class="cont">
                        <span>{{user.phone[0:3]}}****{{user.phone[-4:]}}</span>
                        <!--<a href="#" title="" onClick="updateinfo(this, 'phone')">修改</a>-->
                    </div>
                </div>
                <div class="group">
                    <div class="txt">
                        <span>个人称呼</span>
                    </div>
                    <div class="cont">
                        <input class="ipt" name="nickname" id="jNickname" type="text" value="{{user.nickname}}">
                        <span class="error"></span>
                    </div>
                </div>
                <div class="ft">
                    <button type="button" id="jSave1" class="btn btn-orange submit">保存基础信息</button>
                    <span class="msg hide"><i class="icons icons-ok"></i>操作成功</span>
                </div>
                </form>
            </div>
        </div>

        <div class="yc-form">
            <div class="hd">经营主体</div>
            <div class="bd">
                <div class="group">
                    <div class="txt">
                        <span>经营主体</span>
                    </div>
                    <div class="cont">
                        <span class="bold">{{user.name}}</span>
                    </div>
                </div>
                <!-- <div class="group">
                    <div class="txt">
                        <span>员工姓名</span>
                    </div>
                    <div class="cont">
                        <span class="bold">金庸</span>
                    </div>
                </div> -->
                <!--
                <div class="ft">
                    <a href="#" class="btn btn-orange submit">立即认证</a>
                </div>
                -->
            </div>
        </div>


        <div class="yc-form form-primary">
            <div class="hd">经营信息<!--<span><i></i>不完整，请完善</span><em>完善经营信息，可精准匹配商机，第一时间推送</em>--></div>
            <div class="bd">
                <form role="form" id="user_info_form" action="/updateuserinfo">
                {% if user.has_key('type') is False or (user.has_key('type') and user.get('type') in [1,2,3,4,5,6,7]) %}
                <div class="group">
                    <div class="txt">
                        <span>经营信息（企业）</span>
                    </div>
                    <div class="cont">
                        <label><input class="cbx" type="radio" name="type"{% if user.type==1 %} checked {% end %}value="1">饮片厂</label>
                        <label><input class="cbx" type="radio" name="type"{% if user.type==2 %} checked {% end %}value="2">药厂</label>
                        <label><input class="cbx" type="radio" name="type"{% if user.type==3 %} checked {% end %}value="3">药材经营公司</label>
                        <label><input class="cbx" type="radio" name="type"{% if user.type==4 %} checked {% end %}value="4">个体经营户</label>
                        <label><input class="cbx" type="radio" name="type"{% if user.type==5 %} checked {% end %}value="5">合作社</label>
                        <label><input class="cbx" type="radio" name="type"{% if user.type==6 %} checked {% end %}value="6">种植基地</label>
                        <label><input class="cbx" type="radio" name="type"{% if user.type==7 %} checked {% end %}value="7">其他</label>
                    </div>
                </div>
                {% end %}
                {% if user.has_key('type') is False or (user.has_key('type') and user.get('type') in [8,9,10]) %}
                <div class="group">
                    <div class="txt">
                        <span>经营信息（个人）</span>
                    </div>
                    <div class="cont">
                        <label><input class="cbx" name="type" type="radio"{% if user.type==8 %} checked {% end %}value="8">个人经营</label>
                        <label><input class="cbx" name="type" type="radio"{% if user.type==9 %} checked {% end %}value="9">采购经理</label>
                        <label><input class="cbx" name="type" type="radio"{% if user.type==10 %} checked {% end %}value="10">销售经理</label>
                    </div>
                </div>
                {% end %}
                <!--<div class="group">
                    <div class="txt">
                        <span>贸易类型</span>
                    </div>
                    <div class="cont">
                        <label><input class="cbx" name="tradeType" type="radio">采购药材为主</label>
                        <label><input class="cbx" name="tradeType" type="radio">销售药材为主</label>
                        <label><input class="cbx" name="tradeType" type="radio">两者都有</label>
                    </div>
                </div>-->
                <div class="group">
                    <div class="txt mid">
                        <span>关注品种</span>
                    </div>
                    <div class="cont">
                        <div class="tr">
                            {% if len(varietyids) != 0 %}
                            {% for varietyid in varietyids %}
                            <input class="ipt" type="text" name="varietyid" value="{{ varietyid.name }}">
                            {% end %}
                            {% else %}
                            <input class="ipt" type="text" name="varietyid">
                            <input class="ipt" type="text" name="varietyid">
                            <input class="ipt" type="text" name="varietyid">
                            <input class="ipt" type="text" name="varietyid">
                            <input class="ipt" type="text" name="varietyid">
                            {% end %}
                        </div>
                        <button class="btn btn-white" type="button" id="jAddTr">增加一行</button>
                        <span class="tips">药厂、饮片厂等采购企业可不填写</span>
                    </div>
                </div>
                <div class="group">
                    <div class="txt mid">
                        <span>经营地</span>
                    </div>
                    <div class="cont">
                        <dl class="yc-select" id="jProvince">
                            {% if area %}
                            <dt data-val="{{area.gparentid}}">{% for province in provinces %}{% if province.id == area.gparentid%}{{province.areaname}}{%end%}{% end %}</dt>
                            {% else %}
                            <dt data-val="0">省</dt>
                            {% end %}
                            <dd>
                                {% for province in provinces %}
                                <span data-val="{{province.id}}">{{province.areaname}}</span>
                                {% end %}
                            </dd>
                        </dl>
                        <dl class="yc-select" id="jCity">
                            {% if area %}
                            <dt data-val="{{area.parentid}}">{% for c in city %}{% if c.id == area.parentid%}{{c.areaname}}{%end%}{%end%}</dt>
                            {% else %}
                            <dt data-val="0">市</dt>
                            {% end %}
                            <dd>
                                {% for c in city %}
                                <span data-val="{{c.id}}">{{c.areaname}}</span>
                                {% end %}
                            </dd>
                        </dl>
                        <dl class="yc-select" id="jDistrict">
                            {% if area %}
                            <dt data-val="{{area.id}}">{{area.areaname}}</dt>
                            {% else %}
                            <dt data-val="0">区/县</dt>
                            {% end %}
                            <dd>
                                {% for d in district %}
                                <span data-val="{{d.id}}">{{d.areaname}}</span>
                                {% end %}
                            </dd>
                        </dl>
                        <input type="hidden" name="area">
                    </div>
                </div>
                <div class="ft">
                    <button type="button" id="jSave2" class="btn btn-orange submit">保存经营信息</button>
                    <span class="msg hide"><i class="icons icons-ok"></i>操作成功</span>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 药材品种 -->
<div class="variety-tags" id="jVarietyTags">
    <div class="inner">
        <dl class="search"><dd></dd></dl>
        <!--<dl>
            <dt>最近采购品种</dt>
            <dd>
                <span>黄连</span>
                <span>三七</span>
                <span>当归</span>
                <span>白芍</span>
                <span>浙贝母</span>
                <span>景天红花散</span>
                <span>最多容纳六字</span>
            </dd>
        </dl>
        <dl>
            <dt>主要经营/采购品种</dt>
            <dd>
                <span>黄连</span>
                <span>三七</span>
                <span>当归</span>
                <span>白芍</span>
            </dd>
        </dl>-->
    </div>
</div>
{% end %}
{% block javascript %}
<script>

    var $varietyTags = $('#jVarietyTags');
    // 防抖处理
    function debounce(func, wait, obj) {
        this.timer && clearTimeout(this.timer);
        this.timer = setTimeout(function() {func(obj)}, wait);
    }
    // 关闭所有弹层
    function hidePop() {
        $varietyTags.hide();
    }
    function move(elem, k) {
        var $ele = elem.find('.search span'),
            idx = $ele.parent().find(".on").index(),
            count = $ele.size();
        idx += k;
        idx = count === idx ? 0 : idx;
        $ele.eq(idx).addClass("on").siblings().removeClass("on");
    }

    function toHtml(data, $wrap) {
        var html = [];
        $.each(data, function(i, v){
            html.push('<span' + (i === 0 ? ' class="on"' : '') + '>' + v.name + '</span>');
        });
        $wrap.find('.search dd').html(html.join(''));
        showTags(true, $wrap);
    }

    function showTags(status, $wrap) {
        hidePop();
        $wrap.show();
        if (status) {
            $wrap.find('.search').show().siblings().hide();
        } else {
            $wrap.find('.search').hide().siblings().show();
        }
    }

    // 药材品种
    function getKeywords(obj) {
        var keywords = obj.val();
        $.ajax({
            url: '/getvarietyinfo',
            dataType: 'json',
            data: {variety: keywords},
            method: 'post',
            beforeSend: function(jqXHR, settings) {
                jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
            },
            success: function(data) {
                if (data.status === 'success') {
                    toHtml(data.list, $varietyTags);
                } else {
                    $varietyTags.find('.search dd').html(data.msg);
                }
            },
            error: function() {
            }
        })
    }

    $('.form-primary').on({
        'click': function(e) {
            var offset = $(this).offset();
            $varietyTags.css({top: offset.top + $(this).outerHeight() - 90, left: offset.left}).show();
            $tags = $(this);
            showTags(false, $varietyTags);
            return false;
        },
        'input': function() {
            if ($.trim(this.value) == '') {
                showTags(false, $varietyTags);
            } else {
                debounce(getKeywords, 400, $(this));
            }
        },
        'keydown': function(event) {
            var e = event.which;
            switch(e){
                case 38: // up
                    move($varietyTags, -1);
                    break;
                case 40: // down
                    move($varietyTags, 1);
                    break;
                case 13: // enter
                    var val = $varietyTags.find('.search .on').html();
                    if (val.length > 0) {
                        this.value = val;
                        hidePop();
                    }
                    break;
                case 27: //Esc
                    hidePop();
                    break;
                // no default
            }
        }
    }, '.tr .ipt');

    $varietyTags.on('click', function() {
        return false;
    });
    $varietyTags.on('click', 'span', function() {
        $tags.val($(this).html());
        hidePop();
    });

    $('#jSave1').on('click', function() {
        var val = $("#jNickname").val();
        if (!val) {
            $("#jNickname").next().html('请输入您的姓名');
            return;
        }
        $.ajax({
            url: $("#user_form").attr('action'),
            data: $("#user_form").serialize(),
            dataType: 'json',
            type: 'POST',
            beforeSend: function(jqXHR, settings) {
                jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
            },
            success: function(data) {
                if(data.status == "success"){
                    $("#jSave1").next().removeClass('hide');
                }else{
                    alert(data.message);
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
            }
         });
    });
    $('#jSave2').on('click', function() {
        $.ajax({
            url: $("#user_info_form").attr('action'),
            data: $("#user_info_form").serialize(),
            dataType: 'json',
            type: 'POST',
            beforeSend: function(jqXHR, settings) {
                jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
            },
            success: function(data) {
                if(data.status == "success"){
                    $("#jSave2").next().removeClass('hide');
                }else{
                    alert(data.message);
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
            }
         });
    });
</script>
<script>
function updateinfo(obj, name){
    if(name=="password"){
        obj.parentNode.innerHTML = "<div class=\"tr\"><input class=\"ipt\" placeholder=\"旧密码\" type=\"password\" name=\"oldpassword\" />  " +
        "<input class=\"ipt\" placeholder=\"新密码\" type=\"password\" name=\"" + name + "\" /></div>";
    }else if(name == "phone"){
        obj.parentNode.innerHTML = "<div class=\"tr\"><input class=\"ipt\" placeholder=\"旧手机号\" type=\"text\" "+
        "name=\"oldphone\" />  <input class=\"ipt\" placeholder=\"新手机号\" type=\"text\" name=\"" + name + "\" /> " +
        " <input class=\"ipt\" placeholder=\"短信验证码\" type=\"text\" name=\"verifycode\" /> " +
        " <button type=\"button\" class=\"btn btn-primary\" onclick=\"time(this)\">获取短信验证码</button></div>";
    }
}
var wait = 60;
function time(o) {
    if (wait == 60) {
    //ajax发送短信
    }
    if (wait == 0) {
        o.removeAttribute("disabled");
        o.innerHTML="获取短信验证码";
        wait = 60;
    } else {
        o.setAttribute("disabled", true);
        o.innerHTML="重新发送(" + wait + ")";
        wait--;
        setTimeout(function() {
            time(o)
        },
        1000)
    }
}
</script>
{% end %}