<!DOCTYPE html>
<html lang="en">
{% include ../public/head.html %}
<link rel="stylesheet" href="{{ static_url('css/center.css')}}" />
<body>
{% include ../public/header.html %}
<section class="sec">
{% block page-wrapper %}
{% end %}
<div class="side">
    <ul class="yc-ul">
        <li><a href="/"><i class="icons home"></i>首页</a></li>
        <li {% if request.uri.split('/')[1] == "mypurchase" %}class="curr"{% end %}><a href="/mypurchase/type/-1/starttime//endtime/"><i class="icons menu"></i>我的采购</a><!--<em>4</em>--></li>
        <li><a href="#"><i class="icons talk"></i>洽谈</a></li>
        <li><a href="#"><i class="icons envelope"></i>通知</a></li>
        <li {% if request.uri.split('/')[1] == "account" %}class="curr"{% end %}><a href="/account"><i class="icons setting"></i>账户</a></li>
    </ul>
</div>
</section>
{% include ../public/footer.html %}
<script src="{{ static_url('js/jquery.min.js')}}"></script>
<script src="{{ static_url('js/bootstrap.min.js')}}"></script>
<script src="{{ static_url('js/center.js')}}"></script>
{% block javascript %}
{% end %}
</body>
</html>