{% extends "base.html" %}
{% block title %}
我的采购_我的工作台_药材购
{% end %}
{% block page-wrapper %}
{% import config %}
<div class="main-cont">
    <div class="menu">
        <ul class="yc-ul">
            <li class="curr"><a href="#" title=""><i class="icons search"></i>找货</a></li>
            <li><a href="#" title=""><i class="icons menu"></i>采购订单</a></li>
        </ul>
    </div>

    <div class="box">
        <div class="sitemap">
            <a href="/mypurchase/type/-1/starttime//endtime/">&lt;&lt;返回我的采购</a>
        </div>

        <div class="details">
            <div class="cont-left">
                <h2>采购品种及要求</h2>
                <div class="bd">
                    <h4 class="name">{{ purchase.name }}</h4>
                    <div class="tag">{{ purchase.specification }} {{ purchase.origin }}</div>
                    <div class="weight">{{ purchase.quantity }}{{purchase.unit}}</div>
                    <div class="desc">
                        <p><span>质量要求</span>{{ purchase.quality }}</p>
                        <p><span>意向价格</span> {% if purchase.price > 0 %}{{ purchase.price }}元/{% if purchase.unit == u'吨' %}公斤{% else %}{{purchase.unit}}{% end %} 封顶{% else %}面议{% end %}</p>
                        <p><span>合格品样例照</span></p>
                        <p class="thumb">
                            {% for attachment in purchase.attachments %}
                            <img data-src="{{attachment.attachment.replace('_thumb','')}}" src="{{ attachment.attachment }}" width="80" height="80" alt="">
                            {% end %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="cont-right">
                <div class="hd">
                    <span class="pull-left">采购编码：<em>{{ purchase.id }}</em></span>
                    <span>发布时间：<em>{{ purchase.datetime }}</em></span>
                    {% if purchase.status == 0%}
                    <span>关闭</span>
                    {% elif (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.term == 0%}
                    <span class="pull-right"><strong class="status wait">等待报价</strong>
                        {% if purchase.term != 0%}
                        （剩余<b>{{purchase.timedelta}}</b>天）
                        {% else%}
                        常年采购
                        {% end %}
                    </span>
                    {% else %}
                    <span class="status finish">报价结束，甄选供应商</span>
                    {% end %}
                </div>
                <div class="bd">
                    <dl class="yc-demand">
                        <dt>交货地：</dt>
                        <dd>{{ purchase.areaname }}</dd>
                        <dt>发票要求：</dt>
                        <dd>
                            {% if purchase.invoice == 1%}
                            无需发票
                            {% elif purchase.invoice == 2%}
                            普通发票
                            {% elif purchase.invoice == 3%}
                            增值税发票
                            {% end %}
                        </dd>
                        <dt>交易及付款：</dt>
                        <dd>
                            {% if purchase.pay == 1%}
                            药采购"安心交易"(预付全款)
                            {% elif purchase.pay == 2%}
                            双方直接交易，验证合格后<b>{{purchase.payday}}</b>天内付款
                            {% else %}
                            {{purchase.payinfo}}
                            {% end %}
                        </dd>
                        <dt>验证及包装：</dt>
                        <dd id="accept">
                            {{ purchase.accept }}
                        </dd>
                        <dt>寄样：</dt>
                        <dd id="receive">
                            {% if purchase.send == 1 %}
                            要求报价后必须寄样<br>
                            {% end %}
                            {{ purchase.receive }}
                        </dd>
                        <dt>补充说明：</dt>
                        <dd id="other">{{ purchase.other }}</dd>
                        <dt>供应商要求：</dt>
                        <dd>
                            {% if '1' in purchase.supplier.split("&") %}
                            必须有营业执照（公司、合作社、经营户），不接收个人
                            <br>
                            {% end %}
                            {% if '2' in purchase.supplier.split("&") %}
                            具备GSP资质
                            <br>
                            {% end %}
                            {% if '3' in purchase.supplier.split("&") %}
                            具备GMP资质
                            {% end %}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="similarity">
            <a class="icons icons-edit" href="/mypurchase/update/{{purchase.id}}" title="编辑"></a>
            <a class="icons icons-share" href="#" title="分享"></a>
            <a class="pull-left" href="#">该批次采购的还有其他{{ others }}个品种</a>
        </div>

        <div class="list2">
            <div class="hd">
                <h2>收到<i>{{len(quotes)}}</i>个报价</h2>
                <p>采购单被查看<i>{{ purchase.views }}</i>次</p>
                <!--<div class="tips">
                    <span><i class="icons icons-reference"></i>行情参考</span>
                    药材购为您定制了黄连近期行情研究，供参考
                </div>-->
            </div>
            <div class="tr thead">
                <div class="td1">报价时间</div>
                <div class="td2">供应商</div>
                <div class="td3">报价</div>
                <div class="td4">货源情况</div>
                <div class="td5">选中</div>
                <div class="td6">
                    操作/状态
                    <!--<label class="ml10"><input class="cbx" type="checkbox">只看意向供应商</label>-->
                </div>
            </div>
            {% for quote in quotes %}
            <div class="tr">
                <div class="td1">
                    <i>{{quote.id}}</i>
                    <time>{{quote.datetime}}</time>
                </div>
                <div class="td2">
                    <strong>{{quote.name}}</strong>
                    <span><i class="iconfont icon-radio-yes"></i> <!--身份真实--></span>
                    <span class="category">
                        {% if quote.type == 1%}
                        饮片厂
                        {% elif quote.type == 2%}
                        药厂
                        {% elif quote.type == 3%}
                        药材经营公司
                        {% elif quote.type == 4%}
                        个体经营户
                        {% elif quote.type == 5%}
                        合作社
                        {% elif quote.type == 6%}
                        种植基地
                        {% elif quote.type == 7%}
                        其他
                        {% elif quote.type == 8%}
                        个人经营
                        {% elif quote.type == 9%}
                        采购经理
                        {% elif quote.type == 10%}
                        销售经理
                        {% end %}
                    </span>
                    <span class="block"><i class="icons icons-peo"></i>{{quote.nickname}}</span>
                    <span><i class="icons icons-tel"></i>{{quote.phone}}</span>
                </div>
                <div class="td3">
                    <em>{{quote.price}}</em>元/{% if quote.unit == u'吨' %}公斤{% else %}{{quote.unit}}{% end %}
                    {% if mprice is not None and quote.price == mprice %}<sup>最低</sup>{% end %}
                    <!--<small>{{quote.explain}}</small>-->
                    <span>{{quote.explain}}</span>
                </div>
                <div class="td4">
                    <p class="thumb">
                        {% for attachment in quote.attachments %}
                        <img data-src="{{attachment.attachment.replace('_thumb','')}}" src="{{attachment.attachment}}" width="100" height="100" alt="">
                        {% end %}
                    </p>
                    <p>{{quote.quality}}</p>
                </div>
                <div class="td5">
                    {% if quote.state == 0 %}
                    <input type="checkbox" name="type" qid="{{quote.id}}">
                    {% end %}
                </div>
                <div class="td6">
                    {% if quote.state == 1 %}
                    <span class="choose">已甄选为意向供应商</span>
                    {% elif quote.state == 2 %}
                    <span class="refuse">已拒绝，价格不合适</span>
                    {% elif quote.state == 0 %}
                    <a class="smile" href="javascript:void(0)" onclick="if(confirm('确认要操作此的报价单?')){updatequotestate({{quote.id}},1)}">
                        <i class="icons icons-smile"></i>不错，请供应商联系我
                    </a>
                    <a class="sad" href="javascript:void(0)" quoteid="{{quote.id}}"><i class="icons icons-sad"></i>不合适，再看看</a>
                    <!--<a class="speak" href="#"><i class="icons icons-speak"></i>聊一聊</a>-->
                    {% end %}
                </div>
            </div>
            {% end %}

        <div class="list2-op">
            <span>批量操作：</span>
            <a class="smile" href="javascript:void(0)" id="accepts">不错</a>
            <a class="sad" href="javascript:void(0)" id="rejects">不合适</a>
        </div>

        <div class="sitemap">
            <a href="/mypurchase/type/-1/starttime//endtime/">&lt;&lt;返回我的采购</a>
        </div>

    </div>
</div>

{% end %}
{% block javascript %}
<!-- 大图 -->
<div class="modal fade" id="jModalImg" tabindex="-1" role="dialog" aria-labelledby="tit6">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit6">图片</h4>
            </div>
            <div class="modal-body">
                <div class="preview">
                    <div class="bd">
                        <ul class="yc-ul"></ul>
                    </div>
                    <div class="ctrl prev"></div>
                    <div class="ctrl next"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 删除 -->
<div class="modal fade" id="jModalDelete" tabindex="-1" role="dialog" aria-labelledby="tit1">
    <div class="modal-dialog modal-mid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit1">停止报价</h4>
            </div>
            <div class="modal-body">
                <div class="confirm">
                    <p>您确认删除这一行吗？</p>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-orange">停止报价</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 删除成功提示 -->
<div class="modal fade" id="jModalDeleteResult" tabindex="-1" role="dialog" aria-labelledby="tit3">
    <div class="modal-dialog modal-mid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit3">停止报价</h4>
            </div>
            <div class="modal-body">
                <div class="result">
                    <p class="success"><i class="icons icons-ok"></i>操作成功</p>
                    <p class="tips">3秒后自动关闭</p>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">立即关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 分享 -->
<div class="modal fade" id="jModalShare" tabindex="-1" role="dialog" aria-labelledby="tit4">
    <div class="modal-dialog modal-mid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit4">邀请报价</h4>
            </div>
            <div class="modal-body">
                <div class="share">
                    <div class="qrcode"><img height="114" width="114" alt="" src=""></div>
                    <div class="txt">
                        <h3><i class="icons icons-wechat"></i>微信邀请朋友报价</h3>
                        <p>微信扫描右侧二维码，发送到朋友圈，邀请前来报价</p>
                    </div>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">立即关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 报价不合适 -->
<div class="modal fade" id="rejectquote" tabindex="-1" role="dialog" aria-labelledby="tit2">
    <div class="modal-dialog modal-mid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit2">报价不合适</h4>
            </div>
            <div class="modal-body">
                <div class="reason">
                    <h3>哪些方面您认为不合适？写下真是原因，供应商更懂您</h3>
                    <form action="" id="jFormReason">
                        <label><input type="checkbox" value="价格偏高" name="msg">价格偏高</label>
                        <label><input type="checkbox" value="质量不符" name="msg">质量不符</label>
                        <label><input type="checkbox" value="供应商资质不符" name="msg">供应商资质不符</label>
                        <textarea class="ipt" name="message" id="message" placeholder="详细说明"></textarea>
                    </form>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-orange" id="replyquote" quoteid="">回复报价</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 弹层提示 -->
<div class="modal fade" id="jModalMsg" tabindex="-1" role="dialog" aria-labelledby="tit5">
    <div class="modal-dialog modal-mid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit5">停止报价</h4>
            </div>
            <div class="modal-body">
                <div class="result">
                    <p class="success"><i class="icons icons-ok"></i>操作成功</p>
                    <p class="tips">3秒后自动关闭</p>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">立即关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ static_url('js/jquery.SuperSlide.2.1.1.js')}}"></script>
<script>
$("#accept").html("{{"-".join(purchase.accept.split())}}".split("-").join("<br>"));
$("#receive").html("{{"-".join(purchase.receive.split())}}".split("-").join("<br>"));
$("#other").html("{{"-".join(purchase.other.split())}}".split("-").join("<br>"));
var $jModalDelete = $('#jModalDelete');
var timer = 0;
var isDel = false;
// 关闭整个采购单
$('.similarity').on('click', '.icons-delete', function() {
    var txt = '<strong>确认对此采购单停止报价？</strong>';
    $jModalDelete.find('.confirm').html(txt);
    $jModalDelete.modal();
    return false;
});

$jModalDelete.on('hidden.bs.modal', function() {
    if (isDel) {
        $('#jModalDeleteResult').modal('show');
        timer && clearTimeout(timer);
        timer = setTimeout(function() {
            $('#jModalDeleteResult').modal('hide');
        }, 3e3);
    }
    isDel = false;
});

$jModalDelete.on('click', '.btn', function() {
    $.ajax({
        url: "/removepurchase",
        data: "pid={{purchase.id}}",
        dataType: 'json',
        type: 'POST',
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
        },
        success: function(data) {
            if(data.status == "success"){
                window.location.reload();
                //isDel = true;
                //$jModalDelete.modal('hide');
            }else{
                alert("提交失败，请刷新页面重试");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
     });
});

// 分享
$('.similarity').on('click', '.icons-share', function() {
    var qrcodeSrc = 'http://qr.liantu.com/api.php?text={{config.host}}/purchaseinfobatch/purchaseid/{{purchase.id}}';
    $('#jModalShare').find('.qrcode img').attr('src', qrcodeSrc);
    $('#jModalShare').modal();
    return false;
});

function showBigPic(imgUrls, index) {
    var _result = '<div class="preview"><div class="bd"><ul class="yc-ul">';
    $.each(imgUrls, function(i, src) {
        _result += '<li><img src="' + src + '"></li>';
    });
    _result += '</ul></div><div class="ctrl prev"></div><div class="ctrl next"></div>'
    $('#jModalImg .modal-body').html(_result);

    $('.preview').slide({
        mainCell: '.bd ul',
        effect: 'leftLoop',
        autoPage: true,
        vis: 1,
        defaultIndex: index,
        trigger: 'click'
    });
}
$('body').on('click', '.thumb img', function() {
    var index = $(this).index();
    var imgUrls = [];
    $(this).parent().find('img').each(function() {
        imgUrls.push($(this).data('src'));
    });
    $('#jModalImg').modal();
    showBigPic(imgUrls, index);
    return false;
});
// $('#jModalImg').on('hidden.bs.modal', function() {});

$(".td6 .sad").click(function() {
    var quoteid = $(this).attr('quoteid');
    $("#replyquote").attr("quoteid", quoteid);
    $("#rejectquote").modal();
});
$("#replyquote").click(function() {
    var qid = $(this).attr('quoteid');
    var message = [];
    $("input[type='checkbox'][name='msg']:checked").each(function(){
        message.push($(this).val());
    });
    message.push($("#message").val());
    $.ajax({
        url: "/updatequotestate",
        data: "qid="+qid+"&state=2&message="+message.join(),
        dataType: 'json',
        type: 'POST',
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
        },
        success: function(data) {
            if(data.status == "success"){
                window.location.reload();
            }else{
                alert("提交失败，请刷新页面重试");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
     });
});

$("#accepts").click(function(){
    var qid = [];
    $('input[type="checkbox"][name="type"]:checked').each(function(){
        qid.push($(this).attr("qid"));
    });
    if(qid.length==0){
        alert("请选择要操作的报价单!");
        return;
    }
    if(confirm("确认要操作选择的报价单?")){
        updatequotestate(qid.join(),1)
    }
});

$("#rejects").click(function(){
    var qid = [];
    $('input[type="checkbox"][name="type"]:checked').each(function(){
        qid.push($(this).attr("qid"));
    });
    if(qid.length==0){
        alert("请选择要操作的报价单!");
        return;
    }
    if(confirm("确认要操作选择的报价单?")){
        updatequotestate(qid.join(),2)
    }
});

function updatequotestate(qid, state){
    $.ajax({
        url: "/updatequotestate",
        data: "qid="+qid+"&state="+state,
        dataType: 'json',
        type: 'POST',
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
        },
        success: function(data) {
            if(data.status == "success"){
                window.location.reload();
            }else{
                alert("提交失败，请刷新页面重试");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
     });
}

function removepurchase(pid){
    $.ajax({
        url: "/removepurchase",
        data: "pid="+pid,
        dataType: 'json',
        type: 'POST',
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
        },
        success: function(data) {
            if(data.status == "success"){
                window.location.reload();
            }else{
                alert("提交失败，请刷新页面重试");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
     });
}
</script>
{% end %}