{% extends "base.html" %}
{% block page-wrapper %}
<style>
    .control-label{
        color:#939393;
    }
</style>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                我的采购
            </h1>
            <ol class="breadcrumb">
                <li>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  <a href="/dashboard">找货</a>
                </li>
                <li class="active">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 采购订单
                </li>
            </ol>
        </div>
    </div>
    <h5><a href="#"onclick="javascript:history.back(-1);">返回我的采购</a></h5>
    <br>
    <div class="alert alert-warning" style="color:#000">
        <div class="row">
          <div class="col-sm-5">
            <p style="font-size:20px;color:#f0ad4e;">采购品种及质量要求</p>
          </div>
          <div class="col-sm-7">
            <p>
                <span style="color:#939393;">采购编码：</span>{{ purchase.id }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color:#939393;">发布时间：</span>{{ purchase.datetime }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color:#939393;">
                    {% if purchase.status == 0%}
                    <span style="color:#939393;">关闭</span>
                    {% elif (purchase.limited == 1 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.limited == 2%}
                    <b style="color:#286090;">等待报价</b>
                    <span style="color:#939393;">
                        {% if purchase.limited == 1%}
                        （剩余<b style="color:#f0ad4e;">{{purchase.timedelta}}</b>天）
                        {% else%}
                        常年采购
                        {% end %}
                    </span>
                    {% else %}
                    <b style="color:#563d7c;">报价结束，甄选供应商</b>
                    {% end %}
                </span>
            </p>
          </div>
        </div>
        <hr style="border-color:#ccc;"/>
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
                <div class="form-inline">
                    <label style="font-size:18px">{{ purchase.name }}</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ purchase.specification }}&nbsp;&nbsp;&nbsp;&nbsp;{{ purchase.quantity }}公斤
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">质量要求：</label>
                <div class="form-inline">
                    {{ purchase.quality }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">意向价格：</label>
                <div class="form-inline">
                    {{ purchase.price }}元/公斤
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">交货地：</label>
                <div class="form-inline">
                    {{ purchase.areaname }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">合格样例：</label>
                <div class="form-inline">
                {% if purchase.attachment != ""%}
                <img width="60" height="68" src="{{ purchase.attachment }}" />
                {% end %}
                </div>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group">
                <label class="control-label">交易及付款：</label>
                <div class="form-inline">
                    {% if purchase.pay == 1%}
                    药采购"安心交易"(预付全款)
                    {% elif purchase.pay == 2%}
                    双方直接交易，验证合格后{{purchase.payday}}天内付款
                    {% else %}
                    {{purchase.payinfo}}
                    {% end %}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">验收及包装：</label>
                <div class="form-inline">
                {{ purchase.accept }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">寄样：</label>
                <div class="form-inline">
                {% if purchase.send == 1 %}
                要求报价后必须寄样
                {% end %}
                {{ purchase.receive }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">补充说明：</label>
                <div class="form-inline">
                {{ purchase.other }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">供应商要求：</label>
                <div class="form-inline">
                {% if purchase.supplier == 1 %}
                必须有营业执照（公司、合作社、经营户），不接收个人
                {% elif purchase.supplier == 2 %}
                具备GSP资质
                {% elif purchase.supplier == 3 %}
                具备GMP资质
                {% end %}
                </div>
            </div>
          </div>
        </div>
        <hr style="border-color:#ccc;"/>
        <p>
            <span style="color:#286090;">该批次采购的还有其他{{ others }}个品种</span>
            <span style="float:right">
                <span class="glyphicon glyphicon-edit" style="color:#f0ad4e;" onclick="purchaseinfo({{purchase.id}})"></span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-share" style="color:#f0ad4e;"></span>&nbsp;&nbsp;
                {% if purchase.status == 1%}
                <span class="glyphicon glyphicon-remove-sign" style="color:#f0ad4e;" data-toggle="modal" data-target="#myModal"></span>&nbsp;&nbsp;
                {% end %}
            </span>
        </p>
    </div>

    <div class="alert alert-warning" role="alert">
        <b style="font-size:20px;color:#f0ad4e;">收到<span style="color:#286090;">4</span>个报价</b>&nbsp;&nbsp;&nbsp;&nbsp;
        <b style="color:#939393;">采购单被查看了<span style="color:#f0ad4e;">315</span>次</b>
    </div>

    <!-- /.row -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="text-align:center;">报价时间</th>
                <th style="text-align:center;">供应商</th>
                <th style="text-align:center;">报价</th>
                <th style="text-align:center;">货源情况</th>
                <th style="text-align:center;">选中</th>
                <th style="text-align:center;">操作/状态</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center;">2016-01-05 12:16</td>
                <td style="text-align:center;">
                    <b>重庆旺隆黄连经营有限公司<span class="label label-warning"></span></b>
                    <p><span class="glyphicon glyphicon-user"></span>王东</p>
                    <p><span class="glyphicon glyphicon-phone"></span>13200394738</p>
                </td>
                <td style="text-align:center;">
                    <p><b style="color:#f0ad4e;">78</b>元/公斤</p>
                    <p>含税物流</p>
                    <p><b style="color:#f0ad4e;">75</b>元/公斤</p>
                    <p>裸价</p>
                </td>
                <td style="text-align:center;">
                    <p>
                        <img width="60" height="68" src="/static/uploadfiles/20151224/931f69899890818bb2c565b86d969e6f.png" />
                        <img width="60" height="68" src="/static/uploadfiles/20151224/931f69899890818bb2c565b86d969e6f.png" />
                        <img width="60" height="68" src="/static/uploadfiles/20151224/931f69899890818bb2c565b86d969e6f.png" />
                    </p>
                    <p>鸡爪统货，石柱当地种植，两年，纯干，间有少量碎节，碎渣，含量1.5左右</p>
                </td>
                <td>
                    <input type="checkbox" name="type">
                </td>
                <td>
                    <b style="color:green">已甄选为意向供应商</b>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">2016-01-05 12:16</td>
                <td style="text-align:center;">
                    <b>重庆旺隆黄连经营有限公司</b>
                    <p><span class="glyphicon glyphicon-user"></span>王东</p>
                    <p><span class="glyphicon glyphicon-phone"></span>13200394738</p>
                </td>
                <td style="text-align:center;">
                    <p><b style="color:#f0ad4e;">78</b>元/公斤</p>
                    <p>含税物流</p>
                    <p><b style="color:#f0ad4e;">75</b>元/公斤</p>
                    <p>裸价</p>
                </td>
                <td style="text-align:center;">
                    <p>
                        <img width="60" height="68" src="/static/uploadfiles/20151224/931f69899890818bb2c565b86d969e6f.png" />
                        <img width="60" height="68" src="/static/uploadfiles/20151224/931f69899890818bb2c565b86d969e6f.png" />
                        <img width="60" height="68" src="/static/uploadfiles/20151224/931f69899890818bb2c565b86d969e6f.png" />
                    </p>
                    <p>鸡爪统货，石柱当地种植，两年，纯干，间有少量碎节，碎渣，含量1.5左右</p>
                </td>
                <td>
                    <input type="checkbox" name="type">
                </td>
                <td>
                    <p><span class="label label-success">不错，请供应商联系我</span></p>
                    <p><span class="label label-danger">不合适，再看看</span></p>
                    <p><span class="label label-warning">聊一聊</span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">2016-01-05 12:16</td>
                <td style="text-align:center;">
                    <b>重庆旺隆黄连经营有限公司</b>
                    <p></p>
                    <p><span class="glyphicon glyphicon-user"></span>王东</p>
                    <p><span class="glyphicon glyphicon-phone"></span>13200394738</p>
                </td>
                <td style="text-align:center;">
                    <p><b style="color:#f0ad4e;">78</b>元/公斤</p>
                    <p>含税物流</p>
                    <p><b style="color:#f0ad4e;">75</b>元/公斤</p>
                    <p>裸价</p>
                </td>
                <td style="text-align:center;">
                    <p>
                        <img width="60" height="68" src="/static/uploadfiles/20151224/931f69899890818bb2c565b86d969e6f.png" />
                        <img width="60" height="68" src="/static/uploadfiles/20151224/931f69899890818bb2c565b86d969e6f.png" />
                        <img width="60" height="68" src="/static/uploadfiles/20151224/931f69899890818bb2c565b86d969e6f.png" />
                    </p>
                    <p>鸡爪统货，石柱当地种植，两年，纯干，间有少量碎节，碎渣，含量1.5左右</p>
                </td>
                <td>
                    <input type="checkbox" name="type">
                </td>
                <td>
                    <b style="color:red">已拒绝，价格不合适</b>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="float:right">
        <p>批量操作：<span class="label label-success">不错</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-danger">不合适</span></p>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">订单关闭</h4>
      </div>
      <div class="modal-body">
        <p>确定要关闭当前采购订单？</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="removepurchase({{purchase.id}})">确认</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){

})

function purchaseinfo(pid){
    window.location = "/mypurchase/update/"+pid;
}

function removepurchase(pid){
    $.ajax({
        url: "/removepurchase",
        data: "pid="+pid,
        dataType: 'json',
        type: 'POST',
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
        },
        success: function(data) {
            if(data.status == "success"){
                window.location.href='/mypurchase';
            }else{
                alert("提交失败，请刷新页面重试");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
     });
}
</script>
{% end %}