{% extends "base.html" %}
{% block title %}
我的采购_我的工作台_药材购
{% end %}
{% block page-wrapper %}
{% import config %}
<div class="main-cont">
    <div class="menu">
        <ul class="yc-ul">
            <li class="curr"><a href="#" title=""><i class="icons search"></i>找货</a></li>
            <li><a href="#" title=""><i class="icons menu"></i>采购订单</a></li>
        </ul>
    </div>

    <div class="box">
        <div class="filter">
            <div class="choose">
                <ul class="yc-ul">
                    <li><a {% if int(type) < 0%}class="curr"{%end%} href="/mypurchase?type=-1">全部（{{stat.get(0,0) + stat.get(1,0)}}）</a></li>
                    <li><a {% if int(type) == 1%}class="curr"{%end%} href="/mypurchase?type=1">进行中（{{stat.get(1,0)}}）</a></li>
                    <li><a {% if int(type) == 0%}class="curr"{%end%} href="/mypurchase?type=0">关闭（{{stat.get(0,0)}}）</a></li>
                </ul>
            </div>
            <div class="date">
                <span>发布日期</span>
                <input id="d1" class="ipt Wdate" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'%y-%M-%d',onpicked:function(){d2.focus()}})" value="{{starttime}}"/>
                <span>至</span>
                <input id="d2" class="ipt Wdate" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d1\')}',maxDate:'%y-%M-%d'})" value="{{endtime}}"/>
                <!--<input class="ipt key" type="text" placeholder="采购批号/品种">-->
                <button type="button" id="pquery" class="btn btn-orange btn-sm">查询</button>
            </div>
        </div>

        <div class="list">
            <div class="tr thead">
                <div class="td1">采购批号</div>
                <div class="td2">品种</div>
                <div class="td3">报价</div>
                <div class="td4">操作/状态</div>
                <div class="td5">
                    <!--<a class="page" href="#">&lt;</a>
                    <a class="page" href="#">下一页&gt;</a>-->
                </div>
            </div>
            {% for purchase in purchases%}
            <div class="tr">
                <div class="tit">
                    <div class="td1">{{ purchase.id }}</div>
                    <div class="td2">发布人：<em>{{ purchase.nickname}}</em>发布时间：<time>{{ purchase.datetime }}</time></div>
                    <div class="td3">
                        {% if purchase.status == 0%}
                        <span class="status status-closed">关闭</span>
                        {% elif (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.term == 0%}
                        {% if purchase.term != 0%}
                        <span class="status status-wait">等待报价</span>
                        剩余{{purchase.timedelta}}天（{{purchase.expire}} 截止）
                        {% else%}
                        <span class="status status-sustain">常年采购</span>
                        {% end %}
                        {% else %}
                        <span class="status status-finish">报价结束</span>
                        {% end %}
                    </div>
                    <div class="td4">
                        {% if (purchase.term != 0 and purchase.has_key("timedelta") and purchase.timedelta > 0) or purchase.term == 0%}
                        <a class="icons icons-share" href="#" title="分享" purchaseid="{{ purchase.id }}"></a>
                        {% if purchase.status != 0 %}
                        <a class="icons icons-edit" href="/mypurchase/update/{{purchase.id}}" title="编辑"></a>
                        <a class="icons icons-delete" href="#" pid="{{purchase.id}}" title="关闭"></a>
                        {% end %}
                        {% else %}
                        <a class="icons icons-copy" href="#" title="复制"></a>
                        {% end %}
                    </div>
                    <div class="td5">
                        <i class="icons icons-up fold"></i>
                    </div>
                </div>
                {% if purchase.purchaseinfo %}
                <div class="total">
                    {% for purchaseinfo in purchase.purchaseinfo%}
                    <span>{{purchaseinfo.name}}</span>
                    {% end %}
                    <span><i>{{len(purchase.purchaseinfo)}}</i>个品种</span>
                </div>
                {% for index,purchaseinfo in enumerate(purchase.purchaseinfo)%}
                <div class="group" data-href="/mypurchase/info/{{purchaseinfo.id}}">
                    <div class="td2">
                        <span>{{purchaseinfo.id}}</span>
                        <em>{{purchaseinfo.name}}</em>
                        <span>{{purchaseinfo.specification}}</span>
                    </div>
                    <div class="td3">
                        {% if purchaseinfo.status==1 %}
                        {% if purchaseinfo.quotecount %}
                        <em>{{purchaseinfo.quotecount}}个报价{% if purchaseinfo.unread > 0 %}<sup>{{purchaseinfo.unread}}</sup>{% end %}</em>
                        <span class="price">最低价{{purchaseinfo.qprice}}元</span>
                        {% if purchaseinfo.intentions > 0 %}
                        <span class="choose">已甄选<i>{{purchaseinfo.intentions}}</i>家意向供应商</span>
                        {% else %}
                        <!--<span class="choice">请尽快甄选意向供应商</span>-->
                        {% end %}
                        {% else %}
                        <span class="match">暂无报价，正在努力撮合</span>
                        {% end %}
                        {% else %}
                        <span class="match">关闭</span>
                        {% end %}
                    </div>
                    <div class="td4">
                        <a class="icons icons-share" href="#" title="分享" purchaseinfoid="{{purchaseinfo.id}}"></a>
                        {% if purchaseinfo.status==1 %}
                        <a class="icons icons-delete" href="#" title="关闭" purchaseinfoid="{{purchaseinfo.id}}"></a>
                        {% end %}
                    </div>
                </div>
                {% end %}
                {% end %}
            </div>
            {% end %}
        {% module PageNav(nav=nav, show=True) %}
    </div>
</div>
{% end %}
{% block javascript %}
<!-- 删除 -->
<div class="modal fade" id="jModalDelete" tabindex="-1" role="dialog" aria-labelledby="tit1">
    <div class="modal-dialog modal-mid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit1">关闭</h4>
            </div>
            <div class="modal-body">
                <div class="confirm">
                    <p>您确认删除这一行吗？</p>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-orange">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 删除成功提示 -->
<div class="modal fade" id="jModalDeleteResult" tabindex="-1" role="dialog" aria-labelledby="tit2">
    <div class="modal-dialog modal-mid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit2">关闭</h4>
            </div>
            <div class="modal-body">
                <div class="result">
                    <p class="success"><i class="icons icons-ok"></i>操作成功</p>
                    <p class="tips">3秒后自动关闭</p>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">立即关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 分享 -->
<div class="modal fade" id="jModalShare" tabindex="-1" role="dialog" aria-labelledby="tit3">
    <div class="modal-dialog modal-mid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tit3">邀请报价</h4>
            </div>
            <div class="modal-body">
                <div class="share">
                    <div class="qrcode"><img height="114" width="114" alt="" src="static/images/qrcode.jpg"></div>
                    <div class="txt">
                        <h3><i class="icons icons-wechat"></i>微信邀请朋友报价</h3>
                        <p>微信扫描右侧二维码，发送到朋友圈，邀请前来报价</p>
                    </div>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">立即关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ static_url('js/My97DatePicker/WdatePicker.js')}}"></script>
<script>
var $jModalDelete = $('#jModalDelete');
var timer = 0;
var isDel = false;
// 关闭整个采购单
$('.list').on('click', '.tit .icons-delete', function() {
    var pid = $(this).attr("pid");
    $jModalDelete.attr("pid", pid);
    $jModalDelete.attr("ptype", 0);
    var txt = '<p>确认关闭采购单？关闭后，该批次的所有的品种都将停止报价</p>';
    var $pa = $(this).closest('.tit');
    txt += '<strong>' + $pa.find('.td1').html() + $pa.next().html() + '</strong>';

    $jModalDelete.find('.confirm').html(txt);
    $jModalDelete.modal();
    return false;
});
// 结束单个品种报价
$('.list').on('click', '.group .icons-delete', function() {
    var pid= $(this).attr("purchaseinfoid");
    $jModalDelete.attr("pid", pid);
    $jModalDelete.attr("ptype", 1);
    var txt = '<p>确认对如下采购单停止报价？</p>';
    var $pa = $(this).closest('.group');
    txt += '<strong>' + $pa.prevAll('.tit').find('.td1').html() + $pa.find('.td2').html() + '</strong>';

    $jModalDelete.find('.confirm').html(txt);
    $jModalDelete.modal();
    return false;
});

$jModalDelete.on('hidden.bs.modal', function() {
    if (isDel) {
        $('#jModalDeleteResult').modal('show');
        timer && clearTimeout(timer);
        timer = setTimeout(function() {
            $('#jModalDeleteResult').modal('hide');
        }, 3e3);
    }
    isDel = false;
});

$jModalDelete.on('click', '.btn', function() {
    $.ajax({
        url: "/removepurchase",
        data: {pid:$jModalDelete.attr("pid"),"ptype":$jModalDelete.attr("ptype")},
        dataType: 'json',
        type: 'POST',
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-Xsrftoken', document.cookie.match("\\b_xsrf=([^;]*)\\b")[1]);
        },
        success: function(data) {
            if(data.status == "success"){
                window.location.reload();
                //isDel = true;
                //$jModalDelete.modal('hide');
            }else{
                alert("提交失败，请刷新页面重试");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });
});

// 分享
$('.list').on('click', '.icons-share', function() {
    var qrcodeSrc;
    if($(this).attr("purchaseid")){
        qrcodeSrc = 'http://qr.liantu.com/api.php?text={{config.host}}/purchaseinfobatch/purchaseid/'+$(this).attr("purchaseid");
    }else{
        qrcodeSrc = 'http://qr.liantu.com/api.php?text={{config.host}}/purchase/purchaseinfo/'+$(this).attr("purchaseinfoid");
    }
    $('#jModalShare').find('.qrcode img').attr('src', qrcodeSrc);
    $('#jModalShare').modal();
    return false;
});

// 跳转
$('.list').on('click', '.group', function() {
    var url = $(this).attr('data-href');
    if (url) {
        location.href = url;
    }
});

$("#pquery").click(function(){
    var starttime = $("#d1").val();
    var endtime = $("#d2").val();
    if (starttime != "" && endtime != "") {
        window.location.href='/mypurchase?type={{type}}&starttime='+starttime+'&endtime='+endtime;
    }else{
        alert("时间范围需填写完整");
    }
});
</script>
{% end %}
