<head>
    <meta charset="UTF-8">
    <title>药采购工作平台</title>
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrapValidator.css') }}">
    <link rel="stylesheet" href="{{ static_url('font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('plugins/datetimepicker/css/datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('dist/css/zyc-boss.css') }}">
    <link rel="stylesheet" href="{{ static_url('dist/css/skins/_all-skins.min.css') }}">
    <style>
        body {
            font-family: Microsoft YaHei;
        }
    </style>
</head>