{% extends "base.html" %}
{% block container %}
<style>
  .btn-default {
      color: #fff;
      background-color: #aea79f;
      border-color: #aea79f;
  }
</style>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8">
            <center><img src="{{ static_url('images/login-banner.jpg') }}" class="img-polaroid" /></center>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<h3 class="center-block">登录</h3>
            <br>
			<form role="form" id="loginform" action="/login" method="post">
				<div class="form-group">
				<div class="input-group input-group-lg">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			      <input type="text" id="username" name="username" class="form-control" placeholder="用户名或手机号"
					  {% if 'username' in globals() %}
						value="{{username}}"
					  {% end %}
						  >
			    </div>
				</div>
                <br>
				<div class="form-group">
				<div class="input-group input-group-lg">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
			      <input type="password" id="password" name="password" class="form-control" placeholder="输入密码">
			    </div>
				</div>
                <br>
			    <div class="btn-group btn-group-lg btn-block">
					<button type="submit" style="width:50%" class="btn btn-warning ladda-button" id="loginbtn" title="" data-style="expand-right" data-original-title="登录">
						<span class="ladda-label">
							{% raw xsrf_form_html() %}
    						<input name="next_url" type="hidden" value="{{ next_url }}"/>
							<span class="glyphicon glyphicon-log-in"></span> &nbsp; 登录极客
						</span>
					</button>
					<button data-autosave="0" style="width:50%" type="button" class="btn btn-default ladda-button" id="autolog" title="" data-style="expand-right" data-original-title="记住密码">
						<span class="ladda-label">
							<span class="glyphicon glyphicon-unchecked"></span> &nbsp; 记住密码
						</span>
					</button>
				</div>
				  {% if 'error' in globals() %}
					<br>
					<br>
					<div id="logalert" class="alert alert-danger" style="margin-bottom:0;">
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						<span id="loginfo">&nbsp;{{error}}</span>
					</div>
				  {% end %}
			</form>
			<hr>
			<div>
		    	<a href="/register" class="btn btn-success pull-left">
		    		<span class="glyphicon glyphicon-registration-mark"></span>&nbsp;注册
		    	</a>
		    	<a href="#" class="btn btn-default pull-right">
		    		<span class="glyphicon glyphicon-search"></span>&nbsp;找回密码
		    	</a>
		    	<div class="clearfix"></div>
			</div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
  $("#autolog").click(function(){
    if($(this).attr("class") == "btn ladda-button btn-warning"
      && $(this).find("span").find("span").attr("class") == "glyphicon glyphicon-check"){
      $(this).attr("class", "btn ladda-button btn-default");
      $(this).find("span").find("span").attr("class", "glyphicon glyphicon-unchecked");
    }else{
      $(this).attr("class", "btn ladda-button btn-warning");
      $(this).find("span").find("span").attr("class", "glyphicon glyphicon-check");
    }
  });
  $('#loginform').bootstrapValidator({
        message: 'This value is not valid',
        /*feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },*/
        fields: {
            username: {
                validators: {
                    notEmpty: {
                        message: '用户名不能为空'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    }
                }
            },
		},
	});
	// Validate the form manually 点击按钮就做验证，适合ajax提交
    //$('#loginbtn').click(function() {
    //    $('#loginform').bootstrapValidator('validate');
    //});

	//重置验证的状态
    $('#resetBtn').click(function() {
        $('#defaultForm').data('bootstrapValidator').resetForm(true);
    });
});
</script>
{% end %}