{% extends "base.html" %}
{% block container %}
<style>
  fieldset {
      display: none;
      margin-top:30px;
  }
  .title-register {
      background-color: #fff;
      border-radius: 4px 4px 0 0;
      border-width:1px 1px 0 1px;
      border-style:solid;
      border-color:#e1e1e8;
      -webkit-box-shadow: none;
      box-shadow: none;
      height:60px;
      overflow:hidden;
      padding-left:20px;
      width:75%;
      margin:0 auto;
  }
  .content-register {
      width:75%;
      margin:0 auto;
      border: 1px solid #e1e1e8;
  }
</style>
<div class="container">
    <div class="title-register">
      <div class="bs-example">
        <h3>免费注册</h3>
      </div>
    </div>
    <div class="content-register">
      <fieldset style="display: block;" id="step1">
          <div class="form-top">
              <div class="form-top-left">
                <center>
                  <p>
                    <span class="label label-warning">1</span>&nbsp;&nbsp;<b>验证手机</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label label-default">2</span>&nbsp;&nbsp;<b>完善账户信息</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label label-default">3</span>&nbsp;&nbsp;<b>注册成功</b>
                  </p>
                </center>
              </div>
          </div>
          <br>
          <div class="form-bottom" style="width:360px;margin:0 auto">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                <input type="text" id="phone" name="phone" class="form-control" placeholder="手机号">
              </div>
              <br>
              <div class="input-group">
                <script type="text/javascript" src="{{url}}"></script>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" id="verifycode" name="verifycode" class="form-control" placeholder="手机验证码">
              </div>
              <br>
              <div class="input-group">
                <button type="button" class="btn btn-default" disabled>获取手机验证码</button>
              </div>
              <br>
              <button type="button" id="to_step2" class="btn btn-warning">下一步</button>
              <br>
              <br>
              <p>点击下一步，即代表您同意<a href="#">《药采购服务条款》</a></p>
              <br>
              <br>
          </div>
      </fieldset>

      <fieldset id="step2">
          <div class="form-top">
              <div class="form-top-left">
                  <center>
                    <p>
                      <span class="label label-default">1</span>&nbsp;&nbsp;<b>验证手机</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="label label-warning">2</span>&nbsp;&nbsp;<b>完善账户信息</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="label label-default">3</span>&nbsp;&nbsp;<b>注册成功</b>
                    </p>
                  </center>
              </div>
          </div>
          <br>
          <div class="form-bottom">
            <form class="form-horizontal">
              <div class="form-group">
                  <label class="control-label col-md-3" for="form-phone">登录手机</label>
                  <div class="col-md-7">
                    <input type="text" name="form-phone" value="13545002090" class="form-control" id="form-phone" disabled>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-3" for="form-password">* 登录密码</label>
                  <div class="col-md-7">
                    <input type="password" name="form-password" placeholder="6-20字母、数字" class="form-password form-control" id="form-password">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-3" for="form-repeat-password">* 确认密码</label>
                  <div class="col-md-7">
                    <input type="password" name="form-repeat-password" placeholder="" class="form-password form-control" id="form-repeat-password">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-3" for="form-username">* 会员名</label>
                  <div class="col-md-7">
                    <input type="text" name="form-username" placeholder="3-20位字母、数字，一旦设定即不可修改" class="form-control" id="form-username">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-3" for="form-nickname">* 经营主体</label>
                  <div class="col-md-7">
                    <p>请真实填写以下信息，药采购倡导诚信交易，越诚信，越有价值</p>
                    <label class="radio-inline">
                      <input type="radio" name="account" id="company">注册企业账户
                    </label>
                    <div class="form-group">
                      <label class="control-label col-md-2" for="form-company">单位全称</label>
                      <div class="col-md-8">
                        <input type="text" name="form-company" placeholder="例：亳州永刚中药饮片公司" class="form-control" id="form-company">
                      </div>
                    </div>
                    <div class="alert alert-warning" role="alert">
                      <p><b>适用范围</b>：拥有营业执照主体，包括饮片厂、药厂、药材经营公司、合作社、种植基地、个体工商户等</p>
                      <p><b>更多权益</b>：有限展示、子账号等高级功能</p>
                      <p><b>身份核定</b>：后续需提供工商营业执照等信息来核定身份</p>
                    </div>
                    <label class="radio-inline">
                      <input type="radio" name="account" id="person">注册个人账户
                    </label>
                    <div class="form-group">
                      <label class="control-label col-md-2" for="form-name">真实姓名</label>
                      <div class="col-md-8">
                        <input type="text" name="form-company" placeholder="" class="form-control" id="form-name">
                      </div>
                    </div>
                    <div class="alert alert-warning" role="alert">
                      <p><b>适用范围</b>：无营业执照经营个人，或企业采购经理/业务员个人注册</p>
                      <p><b>身份核定</b>：后续需提供身份证来核定身份，以名片、单位授权书等来核定工作身份</p>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-3" for="form-nickname">* 个人称呼</label>
                  <div class="col-md-7">
                    <input type="text" name="form-nickname" placeholder="请填写你的姓名或称呼，用户联系" class="form-control" id="form-nickname">
                  </div>
              </div>
              <center><button type="button" class="btn btn-warning btn-lg" id="finish">提交</button></center>
              <br>
            </form>
          </div>
      </fieldset>

      <fieldset id="step3">
          <div class="form-top">
              <div class="form-top-left">
                  <center>
                    <p>
                      <span class="label label-default">1</span>&nbsp;&nbsp;<b>验证手机</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="label label-default">2</span>&nbsp;&nbsp;<b>完善账户信息</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="label label-warning">3</span>&nbsp;&nbsp;<b>注册成功</b>
                    </p>
                  </center>
              </div>
          </div>
          <br>
          <div class="form-bottom" style="width:600px;margin:0 auto">
            <h3><span class="glyphicon glyphicon-ok-sign" style="color:#44b549" aria-hidden="true"></span>
              <b style="color:#f0ad4e;">boyyafee</b> 恭喜，已成功开通药采购服务</h3>
            <p style="color:#9d9d9d;">即刻采购，供货无忧，药采购竭力助您买卖药材</p>
            <div class="alert alert-warning" role="alert">
              完善会员资料，进行身份认证，获得两倍贸易机会特权，生意伙伴更信赖！<a href="#">立即前往</a>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <button type="button" class="btn btn-warning btn-lg">极速找货</button>
              </div>
              <div class="col-sm-9">
                <p style="color:#9d9d9d;"><b style="color:#f0ad4e;">213</b> 家靠谱的大货供应商，等待与您邂逅</p>
                <p style="color:#9d9d9d;">过去一周，已有 <b style="color:#f0ad4e;">32</b> 家单位采购到了 <b style="color:#f0ad4e;">34</b> 万元优质价廉的药材</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <button type="button" class="btn btn-warning btn-lg">我要供货</button>
              </div>
              <div class="col-sm-9">
                <p style="color:#9d9d9d;"><b style="color:#f0ad4e;">212</b> 家靠谱的采购商，等待与您邂逅</p>
                <p style="color:#9d9d9d;">过去一周，已有 <b style="color:#f0ad4e;">2245</b> 供货商卖出了 <b style="color:#f0ad4e;">34</b> 万元的药材</p>
              </div>
              <br>
              <br>
            </div>
          </div>
      </fieldset>
    </div>
</div>
<script>
  $("#to_step2").click(function(){
    $("#step1").hide();
    $("#step2").show();
  });
  $("#finish").click(function(){
    $("#step2").hide();
    $("#step3").show();
  });
</script>
{% end %}